





#main{
	position: relative;
	margin: 0 auto;
	width: 960px;
	height: 100%;
	top: 20px;
/*	background: none repeat scroll 0 0 rgba(147, 160, 255, 0.71);*/
	background:none repeat scroll 0 0 rgb(0, 143, 255);
	box-shadow: 0px 0px 5px 3px #dcdcdc;
  

}


body{
    /*background-color: white; */
    color:#333333;
    font: 12px/18px "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
overflow-x: hidden; 
    line-height: 1;
/*     background: url(../../img/index/tile.jpg) top center repeat;*/
}


nav{
    position:fixed;
    top:0px;
    width: 100%;
    height: 40px;
    background-color: black;
    overflow: hidden;
    margin: -10px -8px -8px 0px;
    left:0px;
    white-space: nowrap;
    overflow: visible;
    z-index: 9;
    
}

nav ul li{
    
    display: inline-block;
}
.containerBarra{
position: absolute;
top: 42px;
width: 100%;
height: 50px;
background: none repeat scroll 0 0 rgba(229, 229, 229, 1.0);
margin: 0 auto;
border-bottom: 1px solid silver;
z-index: 99;
  
    
}


.containerBarra button{
    position: relative;
    width: 160px;
    height: 60px;
    
    left:50%;
    margin-left: -440px;
    top:10px;
    float: left;
    clear: none;
  
    
    
}





.containerBarra .containerBarraR{
    position: relative;
    width: 680px;
    height: 60px;
   
    left:50%;
    margin-left: 340px;
    clear: none;
    float: left;
   
    
    
    
}
.containerBarra .containerBarraR a{
    position: relative;
    left:0px;
    top:10px;
    
    
    
}
.containerBarra .containerBarraL{
    position: relative;
    width: 220px;
    height: 60px;
   
    left:50%;
    margin-left: -705px;
    clear: none;
    float: left;
    font: 24px "Helvetica Neue", helvetica, arial, sans-serif;
    text-align: center;
    
}
.containerBarra .containerBarraL p{
    position: absolute;
    width: 300px;
    top:10px;
    left:220px;
    
    
    
}
.containerBarra .containerBarraL a{
    position: relative;
    left:0px;
    top:10px;
    
    
    
}




.containerMurais{
   border: 0px solid #D2D2D2;
    float: left;
    height: 40px;
    position: absolute;
    top: 10px;
    transition-delay: 2s;
    width: 685px
    
}










.anuncio{
position:relative;
    top:30px;
    width: 200px;
    height: 55px;
    background-color: white;
    margin:10px;
    clear:none;
    float:left;
    text-decoration: none;
    
    
        -moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid grey;
	
}


.anuncio img{
    position: relative;
    clear:none;
    float:left;
    
    
}

.containerBarraLateral{
	clear: none;
	float: left;
	left: 6px;
	position: absolute;
	top: 6px;
	width: 200px;
	margin: 0 auto;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 10px;
    
/*    background-color: red;*/
}

.tituloForum{
    position:relative;
    width: 100%;
    height: 60px;
    background-color:yellow;
    border: 1px solid silver;
}
.nomeForum{
    position:relative;
    width: 100%;
    height: 30px;
    background-color: #5E78FF;
    border: 1px solid silver;
    cursor: pointer;
}
.nomeForum span{
    position:relative;
    overflow: hidden;
    display:none;
}

















/*
.containerBarraLateral ul{
    list-style: none;
    clear: both;
    margin: 0;
    padding: 0;
  
}
.containerBarraLateral li{
    text-align: center;
    list-style: none;
    clear: none;
    float: left;
}

.containerBarraLateral .forum-list{
    width: 100%;
}

.containerBarraLateral .forum-list .fl-header{
    width: 100%;
     height: 40px;
    border: 1px solid red;
 text-align: center;
  background:none repeat scroll 0 0 rgba(147, 160, 255, 0.71);
  border-radius:3px;
}

.containerBarraLateral .forum-list .fl-header .fl-titulos{
    width: 90%;
    font: 12px/24px "Helvetica Neue", helvetica, arial, sans-serif;
    color:#222;
    margin: 8px;
    font-weight: bold;
    margin-left: 10px;
    
}


.containerBarraLateral .forum-list .fl-header .fl-titulos .fl-titulo{
    width: 70%;
    text-align: left;
    clear:none;

}
.containerBarraLateral .forum-list .fl-header .fl-titulos .fl-titulo-count{
    width: 20%;
    text-align: center;
    clear:none;

}

.containerBarraLateral .forum-list .fl-body{
    
    width: 100%;
     height: 100%;
    border: 1px solid red;
 text-align: center;
 
    
}
.containerBarraLateral .forum-list .fl-body .fl-titulos{
    
    width: 100%;
    height: 100px;
    height: 100%;
    
    color:#222;
    background-color: rgba(255, 255, 255, 1);
    
    border-top: 1px solid #EEE;
    overflow: hidden;
    font-family: verdana;
    font-size: 12px;
}*/
/*.containerBarraLateral .forum-list .fl-body .fl-titulos.odd

{
    overflow: hidden;
    border-top: 1px solid #EEE;
    background:none repeat scroll 0 0 rgba(240, 240, 240, 1);
}
.containerBarraLateral .forum-list .fl-body .fl-titulos.odd:hover,
.containerBarraLateral .forum-list .fl-body .fl-titulos:hover
{
    
    
    background:none repeat scroll 0 0 rgba(250, 209, 147, 0.7);
}


.containerBarraLateral .forum-list .fl-body .fl-titulos .fl-titulo
{
    width: 70%;
    text-align: left;
    clear:none;
    margin-left: 10px;
    font: 12px/24px "Helvetica Neue", helvetica, arial, sans-serif;
    font-weight: bold;
}


.containerBarraLateral .forum-list .fl-body .fl-titulos .fl-titulo .fl-titulo-conteudo
{
    font-style: italic;
    
}
.containerBarraLateral .forum-list .fl-body .fl-titulos .fl-titulo .fl-titulo-conteudo
{
    font-style: italic;
    display:none;
    
}


.containerBarraLateral .forum-list .fl-body .fl-titulos .fl-titulo .fl-titulo-conteudo a
{
    color:orange;
    text-decoration: none;
     font: 10px/24px "Helvetica Neue", helvetica, arial, sans-serif;
     font-weight: normal;
}

.containerBarraLateral .forum-list .fl-body .fl-titulos .fl-titulo .fl-titulo-conteudo a:hover
{
 color: #D54E21;
 text-decoration: underline; 
}





.containerBarraLateral .forum-list .fl-body .fl-titulos .fl-titulo-count{
    position:relative;
    top:10px;
    width: 20%;
    text-align: center;
    clear:none;

}*/






/*    barra direita - topicos!    */



.containerPrincipal{
    
	clear: none;
	float: left;
	height: 600px;
	left: 220px;
	position: absolute;
	top: 6px;
	width: 715px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 10px;
	margin-left: 0px;
}

.containerPrincipal ul {
	 list-style: none;
    clear: both;
    margin: 0;
    padding: 0;
}



.containerPrincipal li {

 text-align: center;
    list-style: none;
    clear: none;
    float: left;
}


.containerPrincipal .forum-list-container{
    width: 100%;
}

.containerPrincipal .forum-list-container .flc-header{
	width: 100%;
	height: 40px;
	text-align: center;
	background: none repeat scroll 0 0 rgba(89, 90, 92, 0.71);
	border-radius: 3px;
	border: 1px solid grey;
}

.containerPrincipal .forum-list-container .flc-header .flc-titulos{
    width: 100%;
    font: 12px/24px "Helvetica Neue", helvetica, arial, sans-serif;
    color:#FFF;
    margin: 8px;
    font-weight: bold;
    margin-left: 10px;
    
}

.containerPrincipal .forum-list-container .flc-header .flc-titulos .flc-titulo{
    width: 55%;
    text-align: left;
    
}
.containerPrincipal .forum-list-container .flc-header .flc-titulos .flc-titulo-opiniao{
    width: 10%;
    text-align: left;
    
}

.containerPrincipal .forum-list-container .flc-header .flc-titulos .flc-titulo-resposta{
    width: 10%;
    text-align: left;
    
}
.containerPrincipal .forum-list-container .flc-header .flc-titulos .flc-titulo-ultima{
 	float: initial;
}

.containerPrincipal .forum-list-container .flc-body{
    
    width: 100%;
     
/*    border: 1px solid red;*/
 text-align: center;
 
    
}
.containerPrincipal .forum-list-container .flc-body .flc-titulos{
    
    width: 100%;
    height: 50px;  
    
    color:#222;
    background-color: rgba(255, 255, 255, 1);
    
    border-top: 1px solid #EEE;
    overflow: hidden;
    font-family: verdana;
    font-size: 12px;
}
.containerPrincipal .forum-list-container .flc-body .flc-titulos.odd

{
    overflow: hidden;
    border-top: 1px solid #EEE;
    background:none repeat scroll 0 0 rgba(240, 240, 240, 1);
}
.containerPrincipal .forum-list-container .flc-body .flc-titulos.odd:hover,
.containerPrincipal .forum-list-container .flc-body .flc-titulos:hover
{
    
    
    background: none repeat scroll 0 0 rgba(153, 204, 153, 0.7);
}


.containerPrincipal .forum-list-container .flc-body .flc-titulos .flc-titulo
{
    width: 50%;
    text-align: left;
    clear:none;
  
    font: 12px/24px "Helvetica Neue", helvetica, arial, sans-serif;
    font-weight: bold;
  /*  border:1px solid red; */
 
 margin-left: 20px;
margin-top: 15px;

}

.containerPrincipal .forum-list-container .flc-body .flc-titulos .flc-titulo a{
    position:relative;
    left:10px;
    color: #666;
}
.containerPrincipal .forum-list-container .flc-body .flc-titulos .flc-titulo-opiniao
{
    width: 10%;
    text-align: center;
    clear:none;
  
    font: 12px/24px "Helvetica Neue", helvetica, arial, sans-serif;
    font-weight: bold;
    margin-left: 10px;
	margin-top: 15px;
 
}

.containerPrincipal .forum-list-container .flc-body .flc-titulos .flc-titulo-resposta
{
    width: 10%;
    text-align: center;
    clear:none;
  
    font: 12px/24px "Helvetica Neue", helvetica, arial, sans-serif;
    font-weight: bold;
    margin-left: 10px;
	margin-top: 15px;
}

.containerPrincipal .forum-list-container .flc-body .flc-titulos .flc-titulo-ultima
{
	    
	text-align: center;
	clear: none;
	font: 12px/24px "Helvetica Neue", helvetica, arial, sans-serif;
	font-weight: bold;
	float: initial;
	margin-top: 15px;
}


.containerPrincipal .forum-list .fl-body .fl-titulos .fl-titulo .fl-titulo-conteudo a
{
    color:orange;
    text-decoration: none;
     font: 10px/24px "Helvetica Neue", helvetica, arial, sans-serif;
     font-weight: normal;
}

.containerPrincipal .forum-list .fl-body .fl-titulos .fl-titulo .fl-titulo-conteudo a:hover
{
 color: #D54E21;
 text-decoration: underline; 
}





.containerPrincipal .forum-list-conteudo .flc-body .flc-titulos .flc-titulo-count{
    position:relative;
    top:10px;
    width: 20%;
    text-align: center;
    clear:none;

}

.containerBarraLateral .accordion-group-header{
	height: 40px;
	background: none repeat scroll 0 0 rgba(89, 90, 92, 0.71);
    border: 1px solid grey;
    
}
.containerBarraLateral .accordion-group-header span{
    float:left;
    position: relative;
    top:8px;
    font:12px/24px "Helvetica Neue", helvetica, arial, sans-serif;
    font-weight: bold;
   margin-left: 15px;
   color:white;
    
    
}

.containerBarraLateral .accordion-group-body{
    background-color:rgba(255, 255, 255, 1); 
    min-height: 50px;
    
}
.containerBarraLateral .accordion-body .accordion-inner {
    background-color:rgba(255, 255, 216, 1); 
  
    
}
.containerBarraLateral .accordion-body .accordion-inner a{
    position:absolute;
    bottom: 0px;
    right:0px;
    clear:none;
    float:right;
  
    
}
.containerBarraLateral .accordion-group-body a{
    text-decoration: none;
    color:#000;
    font:12px/24px "Helvetica Neue", helvetica, arial, sans-serif;
    font-weight: bold;
    
}


/*
    font-size: 13px;
    clear:none;
    float:right;
    font-weight: bold;
    margin: 10px;
    
    position:absolute;
    bottom: 10px;
    right:10px;*/




        #containerBackground{
	position:absolute;
	top:93px;
	width:100%;
/*	background-image: url(../../img/index/tile.jpg) top center repeat;*/
        background-position: top center;
        background-image: url(../../img/index/tile.jpg);
        background-color: #fff;
	height:800px;
	
	
	
	}
        
         .containerFormAjax{
    position: absolute;
    top: 90px;
/*    background-color: rgba(255, 251, 232, 0.6);*/
    height: 525px;
    width: 100%;
                /*display:none; */
    /*       height: 100%;     */
     background-image: url(../../img/bg.png); 
            
            
        }
        
                #containerForm{
            position: relative;
            top: 40px;
            left: 50%;
            width: 900px;
            height: 446px;
            background-color: rgba(125, 204, 142, 1.0);
/*            border: 1px solid red;*/
            margin-left: -450px;
            box-shadow: 0px 0px 10px grey;
            -moz-border-radius:5px;
            -webkit-border-radius:5px;
            border-radius:5px;

            
        }
    
.containerTipoTitulo {
position: absolute;
left: 50%;
text-align: left;
width: 430px;
height: 80px;
top: 20px;
margin-left: -215px;
}

                .tituloReportagem{
            position: relative;
            top:10px;
            
            
        }
        
                #editorNovot{
position: relative;
width: 550px;
top: -20px;
left: 50%;
margin-left: -275px;
background-color: #FFF;
    

    
}
#editorNovot textarea{
    
    border-radius: 5px;    
    
/*    display:none;*/
}


                #containerButtons{
            position:absolute;
            top:380px;
            left:750px;
            width: 400px;
            height: 40px;
            
            
        }
        
                #containerFoto{
                        position: relative;
                    top: 5px;
                    left: 10px;
                    -moz-border-radius: 10px;
                    -webkit-border-radius: 10px;
                    border-radius: 10px;
            
        }
        
        .nicEdit-main {
background-color: #FFF;
}
        .pull-left input{
            
            width: 320px;
        }
        
		.dropdown-menu{
			text-align: center;
		}
		
		.btn-forum-config{
			position: absolute;
			top: 0px;
			right: 0px;
			margin: 10px;
		}

                .containerTituloEscolher{
                    position: absolute;
                    top:0px;
                    width: 100%;
                    height: 50px;
                    
                    
                    
                    background: #ffffff;
background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );

                    
                    
                }
                .containerCorpoEscolher h2{
                    
                 position: relative;
z-index: 2;
color: #3c3c3c;
font-size: 19px;
line-height: 15px;
top: 1px;
text-decoration: none;
text-shadow: 0 1px 1px #e7e7e7;
text-align: center;
text-transform: capitalize;   
                    
                    
                }
                .containerCorpoEscolher{
                    position: absolute;
                    top:0px;
                   
                    width: 100%;
                    height: 900px;
                    
            
/*                    margin: 0px 0 0 -154px;*/
                    background: -webkit-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 36px, #EDEDED, #EDEDED 16px);
                    background: -moz-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 36px, #EDEDED, #EDEDED 15px);
                    border-radius: 0;
                    box-shadow: inset 0 1px 0 rgba(255,255,255,.6), 0 4px 4px rgba(0,0,0,0.48), 0 0 0 1px rgba(0, 0, 0, 0.3);
                    
                }
                
                .containerCampusTitulo{
                        color: #000;
                        font-size: 13px;
                        font-weight: bold;
                        line-height: 13px;
                        margin-bottom: 15px;
                    
                }
                
                
                .campus1{
                    position: relative;
                    top:100px;
                    
                    width: 100%;
                    height: 30px;
                    background-color: #5E78FF;
                    
                }
                .campus2{
                    position: relative;
                    top:200px;
                   
                    width: 100%;
                    height: 30px;
                    background-color: #5E78FF;
                    
                }
                .campus3{
                    position: relative;
                    top:200px;
                   
                    width: 100%;
                    height: 30px;
                    background-color: #5E78FF;
                    
                }
                .espaco1{
                    position: relative;
                    clear:none;
                    float: left;
                    top:50px;
                    left: 10px;
                    width: 200px;
                    height: 300px;
                    margin-left: 20px;
                    background-color: yellow;
                    
                }