






#main{
position: relative;
    margin: 0 auto;
	
    height: 100%;
	display:white;

	margin-left: 20%;
	height: auto;
min-height: 100%;

/*background: white;*/


}



body{
    background:#cfcfcf;
    color:#333333;
    font: 12px/18px "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
overflow-x: hidden; 
    line-height: 1;
/*     background: url(../../img/index/tile.jpg) top center repeat;*/
/*   background:url(../../img/bg_body.jpg) repeat;*/
}


nav{
    position:fixed;
    top:0px;
    width: 100%;
    height: 40px;
    background-color: black;
    overflow: hidden;
    margin: -10px -8px -8px 0px;
    left:0px;
    white-space: nowrap;
    overflow: visible;
    z-index: 9;
    
}

nav ul li{
    
    display: inline-block;
}
.containerBarra {
position: relative;
top: 40px;
width: 901px;
height: 35px;
left: 95px;
clear: none;
float: left;
}

.containerBarra button{
    position: relative;
    width: 160px;
    height: 60px;
    
    left:50%;
    margin-left: -440px;
    top:10px;
    float: left;
    clear: none;
  
    
    
}





.containerBarra .containerBarraR{
position: relative;
top: 7px;
width: 550px;
height: 20px;
left: 57%;

clear: none;
float: left;
    
    
}
.containerBarra .containerBarraR a{
    position: relative;
    left:0px;
    top:0px;
    width: 130px;
    letter-spacing: 1px;
    
    
}
.containerBarra .containerBarraL{
position: relative;
width: 220px;
height: 20px;
left: 7px;
clear: none;
float: left;
font: 17px "Helvetica Neue", helvetica, arial, sans-serif;
text-align: left;
top: 9px;
    
}

.containerBarra .containerBarraL a{
    position: relative;
    left:0px;
    top:10px;
    
    
    
}




.containerMurais{
   border: 0px solid #D2D2D2;
    float: left;
    height: 40px;
    position: absolute;
    top: 10px;
    transition-delay: 2s;
    width: 685px
    
}










.anuncio{
position:relative;
    top:30px;
    width: 200px;
    height: 55px;
    background-color: white;
    margin:10px;
    clear:none;
    float:left;
    text-decoration: none;
    
    
        -moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid grey;
	
}
#accordion2{
	border-bottom: 1px solid #E0E0E0;
}

.anuncio img{
    position: relative;
    clear:none;
    float:left;
    
    
}

.containerBarraLateral{
/* clear: none; */
/* float: left; */
/* left: 0px; */
position: absolute;
top: 19px;
width: 240px;
margin: 0 auto;
border-top-left-radius:9px;
border-top-right-radius:9px;
/* margin: 10px; */
/* box-shadow: 0px 1px 12px #cdcec8; */
background-color: white;
margin-left: 10px;
margin-top: 60px;
left: 73px;
border: 1px solid #999;
}

.tituloForum{
    position:relative;
    width: 100%;
    height: 60px;
    background-color:yellow;
    border: 1px solid silver;
}
.nomeForum{
    position:relative;
    width: 100%;
    height: 30px;
    background-color: #5E78FF;
    border: 1px solid silver;
    cursor: pointer;
}
.nomeForum span{
    position:relative;
    overflow: hidden;
    display:none;
}

















/*
.containerBarraLateral ul{
    list-style: none;
    clear: both;
    margin: 0;
    padding: 0;
  
}
.containerBarraLateral li{
    text-align: center;
    list-style: none;
    clear: none;
    float: left;
}

.containerBarraLateral .forum-list{
    width: 100%;
}

.containerBarraLateral .forum-list .fl-header{
    width: 100%;
     height: 40px;
    border: 1px solid red;
 text-align: center;
  background:none repeat scroll 0 0 rgba(147, 160, 255, 0.71);
  border-radius:3px;
}

.containerBarraLateral .forum-list .fl-header .fl-titulos{
    width: 90%;
    font: 12px/24px "Helvetica Neue", helvetica, arial, sans-serif;
    color:#222;
    margin: 8px;
    font-weight: bold;
    margin-left: 10px;
    
}


.containerBarraLateral .forum-list .fl-header .fl-titulos .fl-titulo{
    width: 70%;
    text-align: left;
    clear:none;

}
.containerBarraLateral .forum-list .fl-header .fl-titulos .fl-titulo-count{
    width: 20%;
    text-align: center;
    clear:none;

}

.containerBarraLateral .forum-list .fl-body{
    
    width: 100%;
     height: 100%;
    border: 1px solid red;
 text-align: center;
 
    
}
.containerBarraLateral .forum-list .fl-body .fl-titulos{
    
    width: 100%;
    height: 100px;
    height: 100%;
    
    color:#222;
    background-color: rgba(255, 255, 255, 1);
    
    border-top: 1px solid #EEE;
    overflow: hidden;
    font-family: verdana;
    font-size: 12px;
}*/
/*.containerBarraLateral .forum-list .fl-body .fl-titulos.odd

{
    overflow: hidden;
    border-top: 1px solid #EEE;
    background:none repeat scroll 0 0 rgba(240, 240, 240, 1);
}
.containerBarraLateral .forum-list .fl-body .fl-titulos.odd:hover,
.containerBarraLateral .forum-list .fl-body .fl-titulos:hover
{
    
    
    background:none repeat scroll 0 0 rgba(250, 209, 147, 0.7);
}


.containerBarraLateral .forum-list .fl-body .fl-titulos .fl-titulo
{
    width: 70%;
    text-align: left;
    clear:none;
    margin-left: 10px;
    font: 12px/24px "Helvetica Neue", helvetica, arial, sans-serif;
    font-weight: bold;
}


.containerBarraLateral .forum-list .fl-body .fl-titulos .fl-titulo .fl-titulo-conteudo
{
    font-style: italic;
    
}
.containerBarraLateral .forum-list .fl-body .fl-titulos .fl-titulo .fl-titulo-conteudo
{
    font-style: italic;
    display:none;
    
}


.containerBarraLateral .forum-list .fl-body .fl-titulos .fl-titulo .fl-titulo-conteudo a
{
    color:orange;
    text-decoration: none;
     font: 10px/24px "Helvetica Neue", helvetica, arial, sans-serif;
     font-weight: normal;
}

.containerBarraLateral .forum-list .fl-body .fl-titulos .fl-titulo .fl-titulo-conteudo a:hover
{
 color: #D54E21;
 text-decoration: underline; 
}





.containerBarraLateral .forum-list .fl-body .fl-titulos .fl-titulo-count{
    position:relative;
    top:10px;
    width: 20%;
    text-align: center;
    clear:none;

}*/






/*    barra direita - topicos!    */



.containerPrincipal{
    
clear: none;
float: right;
min-height: 100%;
position: absolute;
top: 19px;
width: 646px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
margin: 10px;
background-color: white;
border: 1px solid #999;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
margin-left: 0px;
margin-top: 60px;
left: 334px;
box-shadow:1px 0px 5px 0px rgba(12, 12, 12, 0.1);
}

.containerPrincipal ul {
	 list-style: none;
    clear: both;
    margin: 0;
    padding: 0;
}



.containerPrincipal li {

 text-align: center;
    list-style: none;
    clear: none;
    float: left;
    color: #000;
	font-weight: normal;
	font-family: arial;
	

 font-size: 9px;
        letter-spacing: 1px;
}


.containerPrincipal .forum-list-container{
width: 100%;
min-height: 700px;
}

.containerPrincipal .forum-list-container .flc-header{
width: 100%;
height: 26px;
text-align: center;
background: linear-gradient(to bottom, #474747 25%, #292929 83%);
border:1px solid #555;

border-top-left-radius: 3px;
border-top-right-radius: 3px;


}

.containerPrincipal .forum-list-container .flc-header .flc-titulos{
    width: 100%;
    font: 12px/24px "Helvetica Neue", helvetica, arial, sans-serif;
    color:#FFF;
    margin: 3px;
    font-weight: normal;
    margin-left: 10px;
    
}

.containerPrincipal .forum-list-container .flc-header .flc-titulos .flc-titulo ,
.containerPrincipal .forum-list-container .flc-header .flc-titulos .flc-titulo-t {
    width: 66%;
    text-align: left;
    
}
.containerPrincipal .forum-list-container .flc-header .flc-titulos .flc-titulo-opiniao,
.containerPrincipal .forum-list-container .flc-header .flc-titulos .flc-titulo-opiniao-t{
    width: 8%;
    text-align: left;
    
}

.containerPrincipal .forum-list-container .flc-header .flc-titulos .flc-titulo-resposta,
.containerPrincipal .forum-list-container .flc-header .flc-titulos .flc-titulo-resposta-t{
    width: 6%;
    text-align: left;
    
}
.containerPrincipal .forum-list-container .flc-header .flc-titulos .flc-titulo-ultima,
.containerPrincipal .forum-list-container .flc-header .flc-titulos .flc-titulo-ultima-t{
 	float: right;
 	width: 17%;
}

.containerPrincipal .forum-list-container .flc-body{
    
    width: 100%;
     
/*    border: 1px solid red;*/
 text-align: center;
 
    
}
.containerPrincipal .forum-list-container .flc-body .flc-titulos{
    
    width: 100%;
    height: 40px;
    
    color:#222;
    background-color: white;
    
    border-top: 1px solid #DDDDDD;
    overflow: hidden;
    font-family: verdana;
    font-size: 12px;
}
.containerPrincipal .forum-list-container .flc-body .flc-titulos.odd

{
    overflow: hidden;
    border-top: 1px solid #EEE;
    background:none repeat scroll 0 0 rgba(240, 240, 240, 1);
}
.containerPrincipal .forum-list-container .flc-body .flc-titulos.odd:hover,
.containerPrincipal .forum-list-container .flc-body .flc-titulos:hover
{
    
    
    background: none repeat scroll 0 0 rgba(153, 204, 153, 0.7);
}


.containerPrincipal .forum-list-container .flc-body .flc-titulos .flc-titulo
{
width: 70%;
text-align: left;
clear: none;
font: 11px arial;
font-weight: normal;

margin-left: 3px;
margin-top: 18px;

}

.containerPrincipal .forum-list-container .flc-body .flc-titulos .flc-titulo a{
    position:relative;
    top:-5px;
    left:10px;
    color: #444;
}
.containerPrincipal .forum-list-container .flc-body .flc-titulos .flc-titulo-opiniao
{
width: 6%;
text-align: center;
clear: none;
font-size: 11px;
font-weight: normal;
margin-left: 0px;
margin-top: 9px;
font-family: arial;
}

.containerPrincipal .forum-list-container .flc-body .flc-titulos .flc-titulo-resposta
{
width: 6%;
text-align: center;
clear: none;
font-size: 11px;
font-weight: normal;
margin-left: 0px;
margin-top: 9px;
font-family: arial;
}

.containerPrincipal .forum-list-container .flc-body .flc-titulos .flc-titulo-ultima
{
	    
text-align: center;
clear: none;
font-family: arial;
font-weight: normal;
float: right;
margin-top: 10px;
font-size: 11px;
color: #444;
width: 17%;
}


.containerPrincipal .forum-list .fl-body .fl-titulos .fl-titulo .fl-titulo-conteudo a
{
    color:orange;
    text-decoration: none;
     font: 10px/24px "Helvetica Neue", helvetica, arial, sans-serif;
     font-weight: normal;
}

.containerPrincipal .forum-list .fl-body .fl-titulos .fl-titulo .fl-titulo-conteudo a:hover
{
 color: #D54E21;
 text-decoration: underline; 
}





.containerPrincipal .forum-list-conteudo .flc-body .flc-titulos .flc-titulo-count{
    position:relative;
    top:10px;
    width: 20%;
    text-align: center;
    clear:none;

}

.containerBarraLateral .accordion-group-header{
height: 26px;
background: linear-gradient(to bottom, #474747 25%, #292929 83%);
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border: 1px solid #555;
/* box-shadow: 2px -2px 2px #cdcec8; */
    letter-spacing: 1px;
/* font-size: 4px; */
}
.containerBarraLateral .accordion-group-header span{
    float:left;
    position: relative;
    top:3px;
    
    font-weight: normal;
	margin-left: 11px;
	font-family:arial;
	font-size:11px;
   color:#fff;
    
    
}

.containerBarraLateral .accordion-group-body{
background-color: white;
min-height: 40px;
    
}
.containerBarraLateral .accordion-body .accordion-inner {
background-color: rgba(255, 254, 237, 1);
font-size: 12px;
    color: #000;
}
.containerBarraLateral .accordion-body .accordion-inner a{
position: absolute;
bottom: 0px;
right: 10px;
clear: none;
float: right;
color: rgb(190, 0, 0);
font-weight: bold;
  
    
}
.containerBarraLateral .accordion-group-body a{
text-decoration: none;
color: #555;
font-family: arial;
font-weight: normal;
font-size: 11px;
letter-spacing: 1px;
    
}


/*
    font-size: 13px;
    clear:none;
    float:right;
    font-weight: bold;
    margin: 10px;
    
    position:absolute;
    bottom: 10px;
    right:10px;*/




        #containerBackground{
	position:absolute;
	top:70px;
	width:100%;
/*	background-image: url(../../img/index/tile.jpg) top center repeat;*/
        background-position: top center;
/*        background-image: url(../../img/index/tile.jpg);
        background-color: #fff;*/
	height:800px;
	
	
	
	}
        
         .containerFormAjax{
    position: absolute;
    top: 90px;
/*    background-color: rgba(255, 251, 232, 0.6);*/
    height: 525px;
    width: 100%;
                /*display:none; */
    /*       height: 100%;     */
     background-image: url(../../img/bg.png); 
            
            
        }
        
                #containerForm{
            position: relative;
            top: 40px;
            left: 50%;
            width: 900px;
            height: 446px;
            background-color: rgba(125, 204, 142, 1.0);
/*            border: 1px solid red;*/
            margin-left: -450px;
            box-shadow: 0px 0px 10px grey;
            -moz-border-radius:5px;
            -webkit-border-radius:5px;
            border-radius:5px;

            
        }
    
.containerTipoTitulo {
position: absolute;
left: 50%;
text-align: left;
width: 430px;
height: 80px;
top: 20px;
margin-left: -215px;
}

                .tituloReportagem{
            position: relative;
            top:10px;
            
            
        }
        
                #editorNovot{
position: relative;
width: 550px;
top: -20px;
left: 50%;
margin-left: -275px;
background-color: #FFF;
    

    
}
#editorNovot textarea{
    
    border-radius: 5px;    
    
/*    display:none;*/
}


                #containerButtons{
            position:absolute;
            top:380px;
            left:750px;
            width: 400px;
            height: 40px;
            
            
        }
        
                #containerFoto{
                        position: relative;
                    top: 5px;
                    left: 10px;
                    -moz-border-radius: 10px;
                    -webkit-border-radius: 10px;
                    border-radius: 10px;
            
        }
        
        .nicEdit-main {
background-color: #FFF;
}
        .pull-left input{
            
            width: 320px;
        }
        
		.dropdown-menu{
			text-align: center;
		}
		
		.btn-forum-config{
			position: absolute;
			top: 0px;
			right: 0px;
			margin: 10px;
		}

                .criarForum{
position: relative;
bottom: -9px;
right: -95px;
width: 80px;
height: 10px;
clear: none;
float: left;
z-index: 999999;
background-color: #555;
margin: 0px;
padding: 6px;
cursor: pointer;
line-height: 80%;
color: whitesmoke;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
    

                }
                
                .atencaoForumInexistente{
position: absolute;
bottom: 45px;
right: 120px;
width: 70px;
height: 10px;
clear: none;
float: left;
z-index: 999999;
margin: 0px;
line-height: 100%;
font-family: Arial, sans-serif;
font-size: 9px;
text-align: center;
font-weight: bold;
color: #000;
                }        
                
                
/*           .containerBarraLateral {
clear: none;
float: left;
left: 0;
position: absolute;
top: 10px;
width: 220px;
margin: 0 auto;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}
.containerBarraLateral .forum-list {
width: 100%;
}
.containerBarraLateral ul {
list-style: none;
clear: both;
margin: 0;
padding: 0;
}
.containerBarraLateral .forum-list .fl-header {
width: 100%;
height: 40px;
text-align: center;
}
.containerBarraLateral li {
text-align: center;
list-style: none;
clear: none;
float: left;
}
.containerBarraLateral .forum-list .fl-header .fl-titulos {
width: 90%;
font: 12px/24px "Helvetica Neue", helvetica, arial, sans-serif;
color: #222;
margin: 8px;
font-weight: bold;
margin-left: 10px;
}
.containerBarraLateral .forum-list .fl-header .fl-titulos .fl-titulo {
width: 70%;
text-align: left;
clear: none;
}
.containerBarraLateral .forum-list .fl-header .fl-titulos .fl-titulo-count {
width: 20%;
text-align: center;
clear: none;
}
.containerBarraLateral .forum-list .fl-body {
width: 100%;
height: 100%;
text-align: center;
}
.containerBarraLateral .forum-list .fl-body .fl-titulos.odd {
overflow: hidden;
border-top: 1px solid #EEE;
}
.containerBarraLateral .forum-list .fl-body .fl-titulos {
width: 100%;
height: 60px;
color: #222;
background-color: rgba(255, 255, 255, 1);
border-top: 1px solid #EEE;
overflow: hidden;
font-family: verdana;
font-size: 12px;
}
.containerBarraLateral .forum-list .fl-body .fl-titulos .fl-titulo {
width: 40%;
text-align: left;
clear: none;
margin-left: 10px;
font: 12px/24px "Helvetica Neue", helvetica, arial, sans-serif;
font-weight: bold;
}
.containerBarraLateral .forum-list .fl-body .fl-titulos .fl-titulo-count {
position: relative;
top: 10px;
width: 50%;
text-align: center;
clear: none;
}
.containerBarraLateral .forum-list .fl-body .fl-titulos {
width: 100%;
height: 60px;
color: #222;
background-color: rgba(255, 255, 255, 1);
border-top: 1px solid #EEE;
overflow: hidden;
font-family: verdana;
font-size: 12px;
}*/


.forum-list{
    
    
    list-style: none;
    float: left;
margin: 0px;
padding: 0px;
margin-left: -10px;
width: 100%;
margin-top: -10px;
text-align: center;
background: rgb(202, 202, 202);
border-top-left-radius: 6px;
border-top-right-radius: 6px;
}
.fl-header{
/*    border: 1px solid grey;*/
}
.fl-body{
        background-color: whitesmoke;

    
}
.fl-titulos{
    list-style: none;
    margin-right: 20px;
		
}
.fl-titulo{
    padding: 7px;
color: #000;
font: 12px/24px "Helvetica Neue", helvetica, arial, sans-serif;
font-weight: bold;

}
.fl-titulo-count {
    font:12px "Helvetica Neue", helvetica, arial, sans-serif
}
.flc-titulos .flc-titulo-t , .flc-titulos .flc-titulo-opiniao-t,.flc-titulos  .flc-titulo-resposta-t,.flc-titulos  .flc-titulo-ultima-t{

color:white;


}