/* 
    Document   : novo
    Created on : 17/01/2013, 10:06:42
    Author     : PublishCenter03
    Description:
        Purpose of the stylesheet follows.
*/


/*a, a:active, a:visited { color: white; text-decoration: none;font-size: 16px; }*/
		

h1, h2, h3, h4, h5 {
			font-family: Molengo, Arial, Helvetica, sans-serif;
			margin: 0 0 14px 0;
			padding: 0;
		}
		
		p {
			margin: 0 0 7px 0;
			padding: 0;
		}



h1, h2, h3, h4, h5 {
    font-family: Molengo,Arial,Helvetica,sans-serif;
    margin: 0 0 14px;
    padding: 0;
}
.menu{
	margin:15px 0 10px 25px;
	
	}
.menu a, .menu a:visited {
	
color:white;
text-decoration: none;
	
	}
.menu a:hover{
color:red;
text-decoration: none;
		
	
	}		


nav{
    position:fixed;
    top:0px;
    width: 100%;
    height: 40px;
    background-color: black;
    overflow: hidden;
    margin: -10px -8px -8px 0px;
    left:0px;
    white-space: nowrap;
    overflow: visible;
    z-index: 9;
    
}

nav ul li{
    
    display: inline-block;
}



body{
    /*background-color: white; */
    color:#333333;
   
	overflow-x: hidden;
	font-family: 'PT Sans', Arial, Helvetica, sans-serif;
        background: url(../../img/index/tile.jpg) top center repeat;
    text-align: center;
    
}


#main{
    position: absolute;
/*    width: 100%;*/
    margin: 0 auto;
    width: 900px;
    height: 100%;
    left:50%;
    margin-left: -450px;
    top:105px;
   
}


#main .breadcrumb{
    width: 838px;
    
    
    
}

 #main .breadcrumb li a{
    width: 718px;
    color:blue;
    
}

#main .breadcrumb li a:hover{
    width: 718px;
    color:darkblue;
    text-decoration: none;
    
}
.containerMainRight .btn{
    position:relative;
    top:10px;
    
    
    
}
.containerMainLeft{
	position: absolute;
/*    width: 100%;*/
    margin: 0 auto;
    width: 870px;
    height: 820px;

    top:50px;
    background:rgba(236, 236, 236, 0.5);
	/*	border:1px solid #989898;  */
	
		    -moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
	
	}


.containerMainRight{
	position: absolute;
/*    width: 100%;*/
    margin: 0 auto;
    width: 140px;
    height: 760px;
	left:760px;
    top:0px;
    background:none repeat scroll 0 0 rgba(147, 160, 255, 0.71);
	/* border:1px solid green; */
	
		    -moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
	
	}



#background{
   
/*    background-color: #FFFACD;*/
/*    background: url("../img/mural/bum.jpg");
    background-repeat: repeat;*/
     background: url(../../img/index/tile.jpg);
    background-repeat:repeat;
    width: 100%;
    min-width: 900px;
    
}



.containerBarra{
    position:relative;
   
    top:42px;
    
    /* width: 900px; */
     width: 100%;
     height: 50px;
      background:none repeat scroll 0 0 rgba(229, 229, 229, 0.6);
     margin: 0 auto;
     border-bottom:1px solid #989898;
     /*-moz-border-radius:3px;
     -webkit-border-radius:3px;
     border-radius:3px;*/
	
  
  
    
}


.containerBarra button{
    position: relative;
    width: 160px;
    height: 60px;
    
    left:50%;
    margin-left: 240px;
    top:10px;
    float: left;
    clear: none;
  
    
    
}






.containerBarra .containerBarraR{
    position: relative;
    width: 780px;
    height: 50px;
   
    left:50%;
    margin-left: -450px;
    clear: none;
    float: left;
   
    
    
    
}
.containerBarra .containerBarraR a{
    position: relative;
    left:0px;
    top:10px;
    
    
    
}




.containerBarraUp{
   background: none repeat scroll 0 0 #E5E5E5;
    clear: none;
    float: left;
    height: 60px;
    left: 0;
    position: relative;
    top: 0;
    width: 180px;
    
    border:1px solid #D2D2D2;
    
}

.containerBarraUp .action{
   left: 23px;
    position: relative;
    top: 10px;
}
.containerBarraDown{
   background: none repeat scroll 0 0 #FF9900;
    clear: none;
    float: left;
    height: 500px;
    left: 0;
    position: relative;
    top: 25px;
    width: 180px;
    border:1px solid #D2D2D2;
    
}
.containerHeader{
   background: none repeat scroll 0 0 #E5E5E5;
    clear: none;
    float: right;
    height: 60px;
    left: 0;
    position: relative;
    top: 0;
    width: 690px;
    
     border:1px solid #D2D2D2;
    
    
}

/* .containerManchete{
	position: relative;
	height: 234px;
	width: 300px;
        margin: 10px;
        top:20px;
	
	


} */

.containerManchete{
			position:absolute;
			left:50%;
			margin-left:-385px;
			clear:none;
			float:left;
			width: 450px;
			height: 350px;
		
		
		
		}
		
.containerBarra .containertitulo{
	position:absolute;
	top:20px;
	left:10px;
	color:white;
	font-family: Molengo;
	font-size: 35px;
	
	
	
	}




.noticia2{
    position: absolute;
    height:100%;
    width: 200px;
    left:320px;
    top:20px;
    border-bottom: 1px dashed grey;
    border-right:  1px dashed grey;
    border-left:  1px dashed grey;
}
.noticia3{
    position: absolute;
    height: 80px;
    width: 200px;
    left:530px;
    top:20px;
    
    
    
}

	.containerBarra .containerMenu{
 		position:relative;
		top:0px;
		left:-130px;
	
	
	
	
	} 


#editorNovot{
    position:relative;
    width: 660px;
    top:10px;
    left:60px;
    

    
}
#editorNovot textarea{
    
    border-radius: 5px;    
    
/*    display:none;*/
}

.containerMainLeft .thumbnail{
    position: relative;
    top:20px;
    left:180px;
    width: 370px;
}
#buttonNovo{
    position: relative;
    top:50px;
    left:200px;
    width: 300px;
    height: 100px;
}


#evento-input{
    width: 630px;
    
}

#evento-tipo-input{
 
    width: 630px;
    display:none;
}
.alertF{
    position:relative;
    width: 600px;
    left:50%;
    margin-left: -330px;
    
    
}

.alertF2{
    position:relative;
    top:30px;
    width: 600px;
    left:50%;
    margin-left: -310px;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border: 1px solid #468847;
    display:none;
    
}
.alertF3{
    position:relative;
    top:30px;
    width: 600px;
    left:50%;
    margin-left: -310px;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border: 1px solid #468847;
    display:none;
    
}

.containerMainLeft .page-header{
    
    margin: 20px 0 0px;
}