.containerSubnav{
width: 100%;
height: 40px;
/* background-color: #555; */
position: fixed;
z-index: 999;
background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0.25, #474747), color-stop(0.83, #292929) );
background-image: -o-linear-gradient(bottom, #474747 25%, #292929 83%);
background-image: -moz-linear-gradient(bottom, #474747 25%, #292929 83%);
background-image: -webkit-linear-gradient(bottom, #474747 25%, #292929 83%);
background-image: -ms-linear-gradient(bottom, #474747 25%, #292929 83%);
background-image: linear-gradient(to bottom, #474747 25%, #292929 83%);
}
.containerContainer{
	
	width: 100%;
	display: table;
line-height: 5px;
content: "";
	
}
.logoUnespiano{
	clear: none;
float: left;
width: 20%;
margin-top: 5px;
font-size: 22px;
font-family: verdana;
padding-top: 9px;
color:#eee;
text-align: center;
}

.nav-conteudos{
position: relative;
margin-bottom: 0;
list-style: none;
/* border: 1px solid red; */
width: 900px;
height: 40px;
margin-left: 24%;
	
}
.nav-conteudos li{
	float: left;
}
.nav-conteudos li a{
margin: 0;
padding-top: 8px;
padding-bottom: 8px;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
font-weight: bold;
color: #eee;
padding-right: 13px;
padding-left: 13px;
margin-right: 0px;
line-height: 24px;
display: block;
}
.dropdown-menu li{
    width:100%;
}
.heart-icone{
background-image: url("../../img/heart.png");
background-position: 0px 0px;
display: inline-block;
width: 20px;
height: 14px;
margin-top: 1px;
line-height: 14px;
vertical-align: text-top;
background-repeat: no-repeat;;
}
.news-icone{
background-image: url("../../img/icon-news4.png");
background-position: 0px -2px;
display: inline-block;
width: 20px;
height: 22px;
margin-top: -2px;
line-height: 14px;
vertical-align: text-top;
background-repeat: no-repeat;
}
/*.sport-icone{
background-image: url("../../img/sport-icon.png");
background-position: 0px -3px;
display: inline-block;
width: 23px;
height: 20px;
margin-top: 0px;
line-height: 14px;
vertical-align: text-top;
background-repeat: no-repeat;;
}*/
.sport-icone{
    background-image: url("../../img/icon.gif");
background-position: 0px 2px;
display: inline-block;
width: 23px;
height: 20px;
margin-top: 0px;
line-height: 14px;
vertical-align: text-top;
background-repeat: no-repeat;
}
.nav-conteudos2{
position: relative;
margin-bottom: 0;
list-style: none;


/*height: 30px;*/
margin-left: 21%;
margin-left: 10px;
margin-right: 10px;
}
.nav-conteudos2 li a {
margin: 0;
padding-top: 8px;
padding-bottom: 8px;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
height: 15px;
font-weight: bold;
color: #eee;
padding-right: 13px;
padding-left: 13px;
margin-right: 0px;
line-height: 14px;
display: block;
}
.menu-list{
display:none;
float: left;
}
.search-list{
display:none;
float: right;

}
