.atualizacoes{
	width: 20%;
height: 100%;
/*background: #f66;*/
background: #768CFF;
min-height: 100%;
position: fixed;
margin-top: 32px;	
}
.atualizacoesItem{
width: 100%;
height: auto;
position: relative;
clear: none;
float: left;
}
.informativoFoto{
	position: relative;
width: 100%;
margin-top: 0px;
left: 0px;
height: auto;
min-height: 100%;
cursor: pointer;
text-align: center;
}
.informativoTexto{
color: whitesmoke;
font-weight: bold;
}
.informativoTitulo{
font-size: 13px;
clear: none;
float: left;
}	
