/* CSS over-rides for subnav */
a:focus {
    outline: 0px solid lime;
}


.subnav {
	width: 100%;
	height: 32px;
	background-color: #E9E9E9;
	/*background-image: -moz-linear-gradient(top, #1f1f1f, #1f1f1f);
	background-image: -ms-linear-gradient(top, #1f1f1f, #1f1f1f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1f1f1f), to(#1f1f1f));
	background-image: -webkit-linear-gradient(top, #1f1f1f, #1f1f1f);
	background-image: -o-linear-gradient(top, #1f1f1f, #1f1f1f);
	background-image: linear-gradient(top, #1f1f1f, #1f1f1f);
	background-repeat: repeat-x;*/
	/* border: 1px solid #f1f1f1; */
}
.subnav .nav {
	margin-bottom: 0;
        /*border-left: 1px solid #000;*/
        position: relative;
        left: 50%;
        margin-left: -480px;
}
.subnav .nav > li > a {
	margin: 0;
	padding-top:    8px;
	padding-bottom: 8px;
/*border-right: 1px solid #000000;
border-left: 1px solid #373737;*/
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	  border-radius: 0;
	height:15px;
        font-weight: bold;
		color:#000;
		
}
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
	padding-left: 13px;
	color: #777;
	background-color: #e9e9e9;
	border-right-color: #ddd;
	border-left: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
	  box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
	border-top-color: #777;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
	/*border-left: 1px solid #333;*/
	padding-left: 12px;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}
.subnav .nav > li:last-child > a {
	border-right: 0px solid #000;
	padding-left:0px;
	padding-right:0px;
}

.subnav .dropdown-menu {
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	z-index:1030;
}
.nav-pills > li > a:hover {
color: RED;
background: #F3F3F3;
}

.nav-pills .brand{
    float: left;
font-size: 19px;
font-weight: bold;
margin-top: 8px;
}
.nav-pills .navbar-search{
    margin-left: 0px;
margin-right: 0px;
}


.subnav {
position: fixed;
top: 0px;
left: 0px;
z-index: 1029;
/* border-top: 1px solid #333;
border-bottom: 1px solid #060606; */

}
.subnav .nav > li:first-child > a, .subnav .nav > li:first-child > a:hover {

padding-left: 12px;
-webkit-border-radius: 4px 0 0 4px;
-moz-border-radius: 4px 0 0 4px;
border-radius: 4px 0 0 4px;
}
.subnav .nav > .active > a, .subnav .nav > .active > a:hover {
padding-left: 13px;
color: #000;
background: #EBEBEB;
border-right: 1px solid #D8D0D0;
border-left: 1px solid #E0E0E0;
border-bottom: 1px solid rgb(255, 148, 148);
font-size: 13px;

}
.subnav .nav-pills > li.dropdown.open > a, .subnav .nav-pills > li.dropdown.open > a:hover, .subnav .nav-pills > li.dropdown.open.active > a, .subnav .nav-pills > li.dropdown.open.active > a:hover {
border-right: 1px solid #000000;
border-left: 1px solid #373737;
}
.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover {
background: #1f1f1f;
}



@media (min-width: 980px) {
	.subnav-fixed {
		position: fixed;
		top: 40px;
		left: 0;
		right: 0;
		z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
		border-color: #d5d5d5;
		border-width: 0 0 1px; /* drop the border on the fixed edges */
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
		-moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
		box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
  	}
	.subnav-fixed .nav {
		width: 938px;
		margin: 0 auto;
		padding: 0 1px;
	}
	.subnav .nav > li:first-child > a,
	.subnav .nav > li:first-child > a:hover {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
}

