





#main{
    position: absolute;
/*    width: 100%;*/
    margin: 0 auto;
    width: 920px;
    height: 700px;

    top:50px;
    left:50%;
    margin-left: -460px;
  /*  background:none repeat scroll 0 0 #F1F1F1; */
 

}

.containerBuscador{
    position: absolute;
/*    width: 100%;*/
    margin: 0 auto;
    width: 750px;
    height: 40px;
    left:50%;
    margin-left: -460px;
    top:115px;
    background:rgba(236, 236, 236, 0.5);
	/*	border:1px solid #989898;  */
	
		    -moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;

}


.containerBuscador .input-append{
    position:relative;
    top:5px;
    left:-10px;
    
    
    
}


body{
    /*background-color: white; */

    color:#333333;
    font: 12px/18px "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;

    line-height: 1;
 		font-family: 'PT Sans', Arial, Helvetica, sans-serif;
			text-align: center;
			
			margin: 0;
/*                        background:url('../../img/cadastro/orange_background2.jpg');*/
                        background:url('../../img/index/tile.jpg');
                        background-repeat: repeat;

		}

nav{
    position:fixed;
    top:0px;
    width: 100%;
    height: 40px;
    background-color: black;
    overflow: hidden;
    margin: -10px -8px -8px 0px;
    left:0px;
    white-space: nowrap;
    overflow: visible;
    z-index: 9;
    
}

nav ul li{
    
    display: inline-block;
}
.containerBarra{
    position:absolute;
   
    top:42px;
    
    width: 100%;
     height: 60px;
    background:none repeat scroll 0 0 rgba(229, 229, 229, 0.6);
     margin: 0 auto;

        border-bottom:1px solid #989898;
  
    
}


.containerBarra button{
    position: relative;
    width: 160px;
    height: 30px;
    
    left:-100px;
    margin-left: -440px;
    top:10px;
    float: left;
    clear: none;
  
    
    
}




   

.containerBarra .containerBarraR{
    position: relative;
    width: 680px;
    height: 60px;
   
    left:50%;
    margin-left: -230px;
    clear: none;
    float: left;
   
    
    
    
}
.containerBarra .containerBarraR a{
    position: relative;
    left:0px;
    top:10px;
    
    
    
}
.containerBarra .containerBarraL{
    position: relative;
    width: 220px;
    height: 60px;
   
    left:50%;
    margin-left: -460px;
    clear: none;
    float: left;
    font: 24px "Helvetica Neue", helvetica, arial, sans-serif;
    text-align: center;
    
}
.containerBarra .containerBarraL p{
    position: relative;
    top:0px;
    
    
    
}
.containerBarra .containerBarraL a{
    position: relative;
    left:0px;
    top:10px;
    
    
    
}


#main .img
{
	position:absolute;
	top:0px;
	left:30px;
	overflow: visible;
	
	}

#main .img2
{
	position:absolute;
	top:0px;
	left:650px;
	overflow: visible;
	
	}


/* img{
	border-radius:50%;
-moz-border-radius:50%;
-webkit-border-radius:50%;
	
	
	}
 */	
	
	
	.containerBarra .containerBarraR .a,
	 .containerBarra .containerBarraR .b, 
	 .containerBarra .containerBarraR .c,
	 .containerBarra .containerBarraR .d
	 {
		position:relative;
		top:0px;
		width: 50px;
		height: 50px;
		background-color: red;
		border-radius:50%;
		-moz-border-radius:50%;
		-webkit-border-radius:50%;
		
		margin:0px 50px 0px 0px;
		clear:none;
		float:left;
		cursor:pointer;
		}
	.containerBarra .containerBarraR .a:hover,
	 .containerBarra .containerBarraR .b:hover,
	 .containerBarra .containerBarraR .c:hover,
	 .containerBarra .containerBarraR .d:hover
	 {
		background-color: blue;
		border: 1px solid white;
		}
		
		.containerManchete{
			position:absolute;
			left:50%;
			top:10px;
			margin-left:-355px;
			clear:none;
			float:left;
			width: 419px;
			height: 350px;
		
		
		
		}
		
		
		
		.containerDestaque{
			position:absolute;
			left:50%;
			margin-left:70px;
			width: 330px;
			height:320px;
			top:0px;
			/* background-color:blue; */
			clear:none;
			float:left;
			
		
		
		
		}
		
		.containerDestaque .icon1,
		.containerDestaque .icon2,
		.containerDestaque .icon3,
		.containerDestaque .icon4,
		.containerDestaque .icon5,
		.containerDestaque .icon6,
		.containerDestaque .icon7,
		.containerDestaque .icon8,
		.containerDestaque .icon9
		{
			position:relative;
			top:0px;
			left:0px;
			width: 95px;
			height: 95px;
			
			
			float:left;
			clear:none;
			margin: 6px;
			cursor: pointer;
			border:0px solid black;
		}
		.containerDestaque .icon1{
		/* background-color: #525252; */
		
		
		
		background: #525252 no-repeat fixed center; 
		}
		.containerDestaque .icon2{
		background-color: #DA532C !important;
		}
		.containerDestaque .icon3{
		background-color: #2D89EF !important;
		}
		.containerDestaque .icon4{
		background-color: #FFC40D !important;
		}
		.containerDestaque .icon5{
		background-color: #00A300 !important;
		}
		.containerDestaque .icon6{
		background-color: #B91D47 !important;
		}
		.containerDestaque .icon7{
		background-color:#2B5797 !important;
		}
		.containerDestaque .icon8{
		background-color:#9F00A7 !important;
		}	
		.containerDestaque .icon9{
		background-color:#000 !important;
		}	
	
		
		
		

		.containerDestaque .icon3:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/escultura.jpg) no-repeat center;
		
		
		}
		
		.containerDestaque .icon1:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/musica.jpg) no-repeat center;
			
		
		}
		.containerDestaque .icon2:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/pintura2.jpg) no-repeat center;
			
		
		}
		.containerDestaque .icon6:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/dancaTeatro.jpg) no-repeat center;
			
		
		}
		.containerDestaque .icon5:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/arquitetura.jpg) no-repeat center;
			
		
		}
		.containerDestaque .icon9:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/quadrinhos.jpg) no-repeat center;
			
		
		}
		.containerDestaque .icon7:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/cinema.jpg) no-repeat center;
			
		
		}
		.containerDestaque .icon8:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/fotografia.jpg) no-repeat center;
			
		
		}
		.containerDestaque .icon4:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/literatura.jpg) no-repeat center;
			
		
		}
	
			.icon1 .num, .icon2 .num,  .icon3 .num,  .icon4 .num,
			 .icon5 .num,  .icon6 .num,  .icon7 .num,  .icon8 .num,  .icon9 .num{
			position: absolute;
			bottom: 0;
			right: 0;
			right: 5px;
			margin-bottom: 0;
			color: white;
			width: 30px;
			height: 22px;
			text-align: center;
			font-family: 'Segoe UI Semibold', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
			font-weight: 600;
			font-size: 11pt;
			letter-spacing: 0.01em;
			line-height: 14pt;
			padding-top: 3px;
			background-color: #2D89EF !important;
			}
			.name{
							position: absolute;
					bottom: 0;
					left: 5px;
					top:0px;
					margin-bottom: 0;
					color: white;
					width: 40px;
					height: 22px;
					text-align: center;
					font-family: 'Segoe UI Semibold', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
					font-weight: 600;
					font-size: 8pt;
					letter-spacing: 0.01em;
					line-height: 14pt;
					padding-top: 3px;
					
							
			
			}
		
		
		#containerBread{
				position: absolute;
				top:-30px;
				left:0px;
				width: 900px;
				height: 30px;
				
				text-align: left;
				color:black;
		}
		
				
		#main #containerBread a:hover{
		
		
		text-decoration: none;
		color:red;
		
		
		}
		
		
		
		
	   #containerSubMenu{
		position:relative;
		top:-3px;
		left:270px;
		
	
	
	
	
	
	}
		
		
		.containerMainLeft{
	position: absolute;
/*    width: 100%;*/
    margin: 0 auto;
    width: 750px;
    height: 700px;

    top:0px;
    background:rgba(236, 236, 236, 0.5);
	/*	border:1px solid #989898;  */
	
		    -moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
	
	}
		
		.containerMainRight{
	position: absolute;
margin: 0 auto;
width: 140px;
height: 700px;
left: 50%;
top: 50px;
background: none repeat scroll 0 0 rgba(147, 160, 255, 0.71);
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
margin-left: 300px;
	
	}
	     .containerMainRight .btn{
            position:relative;
            top:10px;
            
            
        }

	
	.containerBarra .containerMenu{
 		position:absolute;
		top:15px;
		left:50%;
                margin-left:305px;
	
	
	
	
	} 
		
		
        .containerForm{
            position:relative;
            left:110px;
            width: 400px;
            margin: 50px;
            
            
            
        }
/*        .containerForm .input-prepend.input-append .add-on:first-child, .input-prepend.input-append .btn:first-child{
            width: 150px;
            
            
            
        }*/
        .containerForm .input-prepend .add-on:first-child{
            width: 130px;
            
            
            
        }
        
        .containerForm .btn{
            
            position:absolute;
            top:570px;
            width: 200px;
            left: 50%;
            margin-left: -100px;
            
        }
        
        .containerForm .input-prepend{
            clear:none;
            float:left;
            
            
        }
        
        .containerCampus,
        .containerCurso,
        .containerTurno,
        .containerSituacao,
        .containerTurma
        
        
        {
            position:relative;
            clear:none;
            float:left;
            width: 300px;
            left:0px;
           
            
            
        }
        
        .input-prepend .input-append{
            position:relative;
            clear:none;
            float: left;
            
            
            
            
        }
        .eee{
            position:absolute;
           
            clear:none;
            width: 10px;
            left:730px;
            margin: 0px;
            
        }
        .containerCampus .variation1 select,
        .containerCurso .variation1 select,
        .containerTurno .variation1 select,
        .containerSituacao .variation1 select,
        .containerTurma .variation1 select{
        
            
            
            width: 430px;
        }
        
        .msg{
            position:absolute;
            left:50%;
            top:500px;
            width: 500px;
            margin-left: -250px;
            display:none;
            
        }
        
        .msg2, .msg3{
            position:absolute;
            left:50%;
            top:480px;
            width: 500px;
            margin-left: -250px;
            display:none;
            z-index: 999999;
            
        }
        
        .containerTitulo{
            position:absolute;
            top:0px;
            width: 600px;
            height: 60px;
            left:50%;
            margin-left: -380px;
            
            
            
        }