



.container-perfil-recado{
	background: #eee;
	border-bottom: 1px solid #ccc;
}

.UserPageFotos{
	width: 360px;
position: relative;
clear: none;
float: left;
}
.recado-perfil{
	height: 40px;
	width: 534px;
	margin: 10px;
}


.containerBarraTop-detalhe{
	
background: #FFF8A6;
clear: none;
float: left;
height: 25px;
left: 0px;
width: 740px;
position: relative;
top: 0px;
/* border: 1px solid #555; */
/* margin-top: 60px; */
border-top-right-radius: 5px;
/* box-shadow: 3px 3px 2px #cdcec8; */
border-bottom: 1px solid #ccc;
}
.black-principal{

font-size: 10px;
font-family: verdana;
}
.top1-principal{
	position: relative;
clear: none;
float: left;
left: 0px;
width: 305px;
height: 100%;
}
.top2-principal{
	position: relative;
clear: none;
float: left;
left: 0px;
width: 305px;
height: 100%;
}
.containerPrincipal-default{
	background:url('../../img/bg_body.jpg') repeat;
	/*background-color: rgb(216, 213, 255);*/
height: auto;
min-height: 100%;
left: 0px;
position: absolute;
top: 33px;
width: 740px;
border-radius: 3px;
border: 1px solid #ccc;
clear: none;
float: left;
margin-left: 162px;
margin-top: 73px;
}

