.modal-overlay{
	display: none;
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 40000;
background: #808080;
background: rgba(0,0,0,.5);
-ms-filter: "alpha(opacity=50)";
	
}
.containerPopUp{
	display:none;
	position: absolute;
	width: 600px;
	height: 400px;
	background: white;
	left:50%;
	margin-left:-300px;
	top:33px;
	border:1px solid #aaa;
	border-top-left-radius: 6px;
	border-top-right-radius:6px;
	box-shadow: 0 4px 15px rgba(32,47,51,.20);
	z-index: 99999999;	
}
.containerPopUp-foto{
	display:none;
position: absolute;
width: 700px;
background: white;
left: 50%;
margin-left: -350px;
top: 33px;
border: 1px solid #aaa;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
box-shadow: 0 4px 15px rgba(32,47,51,.20);
z-index: 99999999;
min-height:400px;
padding-bottom: 16px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
}
.loader-foto-principal{
	padding: 170px;
}
.modal-header-d{
	cursor: move;


border-bottom: 1px solid #ddd;
border-radius: 6px 6px 0 0;
box-shadow: inset 0 1px 0 #fff;
	text-align: center;
	
}
.modal-title{
	
	color: #8899a6;
font-size: 16px;
font-weight: normal;
line-height: 10px;
text-shadow: none;
	
}
.modal-close{
position: absolute;
top: 0px;
right: 0px;
height: 14px;
width: 14px;
margin: 8px;
background: url(../../img/x-close.png) no-repeat;
margin-right: 14px;
cursor:pointer;
}
