.modal-overlay-upload{
	display: none;
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 40000;
background: #FFF;
background: rgba(255, 255, 255, 0.5);
-ms-filter: "alpha(opacity=50)";
	
}
.fileUpload{
position: absolute;
top: -7px;
right: -5px;
-moz-opacity: 0;
filter: alpha(opacity: 0);
opacity: 0;
cursor: pointer;
border-right: 18px solid #FFF;
border-bottom: 13px solid #FFF;
direction: ltr;
margin: 0;
padding: 0;
-o-transform: translate(250px, -50px) scale(1);
-moz-transform: translate(-300px, 0) scale(4);


}
input:active{
    outline:0;
}
@-moz-document url-prefix() { 
  .fileUpload{
     border-right: 0px solid #FFF;
     border-bottom: 0px solid #FFF;
     width: 1px;
     left: 340px;
    height: 10px;
 
  }
   .fileUpload:hover, .fileUpload:active, .fileUpload:focus{
     outline:0;
 
  }
}
#progressbox {
/*border: 1px solid #92C8DA;*/
/* padding: 1px; */
position: relative;
width: 534px;
border-radius: 3px;
/* margin: 2px; */
display: none;
text-align: left;
/* margin-top: 33px; */
height: 10px;
top: 126px;
}
#statustxt {
top: 3px;
left: 50%;
position: absolute;
display: inline-block;
color: #000000;
}
#progressbar {
height: 3px;

background-color: #FA778C;
width: 1%;
display:none;
}
#submit-btn{
	display: none;
}
.caixa{
height: 100px;
width: 100px;
position: relative;
top: -120px;
background: rgb(255, 229, 229);
margin-left: 20px;
}
.loading-foto{
position: relative;
padding: 30px;
opacity: 0.3;
margin-left: 3px;
top: -140px;
}
.campo-texto{
height: 100%;
width: 522px;
font-family: arial;
font-size: 13px;
background: white;
position: relative;
text-align: left;
 padding: 0px; 
border: 1px solid #999;
padding-bottom: 6px;
border-radius: 1px;
min-height: 10px;
cursor: text;
padding-left: 10px;
}
@-moz-document url-prefix() { 
  .campo-texto {
     min-height: 23px;
  }
}


.campo-texto:focus{
	outline: 0;
}
.thumb-ok{
	padding-left: 7px;
	margin-top: 20px;
}
#output{
position: relative;
top: 0px;
float: left;
text-align: left;
padding: 0px;
width: 532px;
background: white;
border-left: 1px solid #ddd;
border-bottom: 1px solid #ddd;
border-right: 1px solid #ddd;
display: none;
}
