
textarea, input { outline: none; }

html, body {
    height: 100%;
}
* {
    padding: 0px;
    margin: 0px;
}

#main{
position: relative;
    margin: 0 auto;
	
    height: 100%;
	display:white;

	margin-left: 20%;
	height: auto;
min-height: 100%;

/*background: white;*/


}
.vivoHeader{
/*background: rgb(255, 255, 189);*/

}
.noticiasHeader{
/*background: aquamarine;*/

}
.forumHeader{
/*background: pink;*/

}
.muralHeader{
/*background: rgb(197, 197, 255);*/

}
.arteHeader{
/*background: antiquewhite;*/

}
.esporteHeader{
/*background: skyblue;*/

}
.maisHeader{
/*background: burlywood; */

}

.heart-icone{
background-image: url("../../img/heart.png");
background-position: 0px 0px;
display: inline-block;
width: 20px;
height: 14px;
margin-top: 1px;
line-height: 14px;
vertical-align: text-top;
background-repeat: no-repeat;;
}
.news-icone{
background-image: url("../../img/icon-news4.png");
background-position: 0px -2px;
display: inline-block;
width: 20px;
height: 22px;
margin-top: -2px;
line-height: 14px;
vertical-align: text-top;
background-repeat: no-repeat;
}
.nav-conteudos2{
position: relative;
margin-bottom: 0;
list-style: none;


height: 30px;
margin-left: 21%;
margin-left: 10px;
margin-right: 10px;
}
.nav-conteudos2 li a {
margin: 0;
padding-top: 8px;
padding-bottom: 8px;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
height: 15px;
font-weight: bold;
color: #eee;
padding-right: 13px;
padding-left: 13px;
margin-right: 0px;
line-height: 14px;
display: block;
}
.menu-list{
display:none;
float: left;
}
.search-list{
display:none;
float: right;

}

.sport-icone{
background-image: url("../../img/sport-icon.png");
background-position: 0px -3px;
display: inline-block;
width: 23px;
height: 20px;
margin-top: 0px;
line-height: 14px;
vertical-align: text-top;
background-repeat: no-repeat;;
}


.mainPrincipal{
	min-width: 970px;

background: white;
position: absolute;

height: 100%;
position: absolute;
}
.containerSubnav{
	width: 100%;
	height: 32px;
	background-color: #555;
	position: fixed;
z-index: 9999;
}

.nav-conteudos{
	position: relative;
	margin-bottom: 0;
	
	
	list-style: none;
	/*border: 1px solid red;*/
width: 900px;
height: 30px;
margin-left: 21%;
	
}
.nav-conteudos li{
	float: left;
}
.nav-conteudos li a{
margin: 0;
padding-top: 8px;
padding-bottom: 8px;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
height: 15px;
font-weight: bold;
color: #eee;
padding-right: 13px;
padding-left: 13px;
margin-right: 0px;
line-height: 14px;
display: block;
}
.containerContainer{
	
	width: 100%;
	display: table;
line-height: 0;
content: "";
	
}
.logoUnespiano{
	clear: none;
float: left;
width: 20%;
margin-top: 5px;
font-size: 22px;
font-family: verdana;
padding-top: 9px;
color:#eee;
}
#background{

}

body{

    font-family:Arial, Helvetica, sans-serif;

    text-align: center;
   /*background:#fff;*/
   background:url(../../img/bg_body.jpg) repeat;
}

.containerBackground{

    
}
nav{
    position:fixed;
    top:0px;
    width: 100%;
    height: 40px;
    background-color: black;
    overflow: hidden;
    margin: -10px -8px -8px 0px;
    left:0px;
    white-space: nowrap;
    overflow: visible;
    z-index: 9;
    
}

nav ul li{
    
    display: inline-block;
}
.containerBarra{
    position:relative;
   
    top:30px;
    
    width:900px;
     height: 60px;
    background: none repeat scroll 0 0 #E5E5E5;
     margin: 0 auto;

     border:1px solid #989898;

}
.containerUser{
	position: absolute;
	width:200px;
	height:60px;
	top:0px;
	left:50%;
	margin-left: -450px;
	border-color:grey;

	}


	
.containerPersonal{
            background: #ddd;
            clear: none;
            float: left;
            height: 28px;
            left: 0;
            position: absolute;
            top: 38px;
            width: 100%;
            border-bottom:1px solid #ccc;
            box-shadow: 0 1px 1px #808080;
			display:none;
	}

        .containerPersonal img{
                position: relative;
                top: 4px;
                clear: none;
                float: left;
                left: 50%;
                margin-left: 0px;
                border: 1px solid grey;
                height: 20px;
            
        }

#containerUser{
		position: relative;
		top: 2px;
		left: 50%;
		width: 200px;
		height: 40px;
		margin-left: -425px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 10px;
		text-align: left;
		line-height: 90%;
                clear: none;
                float: left;

}

.containerUserLateral{
position: relative;
top: 3px;
left: 0px;
width: 265px;
height: 20px;
}
.userName{
color: white;
font-family: arial;
font-size: 10px;
font-weight:bold;
position: absolute;
left: 36px;

}
.userCampus{
color: white;
font-family: arial;
font-size: 10px;
font-weight:bold;
position: relative;
left: -23px;
top: -1px;
}
.userAvatar{
position: absolute;
top: 0px;
clear: none;
float: left;
left: 8px;
margin-left: 0px;
height: 18px;
z-index: 99;
}
.userAvatar img{
	height: 18px;
	
}
.containerPersonalLateral{
position: relative;
top: 0px;
background: #555;
border: 1px solid #555;
width: 275px;
clear: none;
float: left;
margin-left: 10px;
margin-top: 60px;
border-top-left-radius: 5px;
	}


.containerBarraMsg{

    left: 0;
    position: relative;
    top: 0px;
    width: 270px;
        -moz-border-radius:1px;
    -webkit-border-radius:1px;
    border-radius:1px;
    
    border-top-right-radius:6px;
	border-top-left-radius:6px;
    
    z-index: 9;
    padding-bottom: 0px;
    padding-top: 3px;
    
}

.containerBarraMsg label{
width: 100px;
font-size: 11px;
clear:none;
float:left;
margin-left:0px;
color:white;
}

.containerRadioEscolheColuna{
clear: both;
position: relative;
float: left;
margin-left: 50px;


}
.containerRadio{
	position:relative;
	width:245px;
	height:30px;
	margin-left:20px;



}

.containerBarraMsg textarea{
    
resize: none;
height: 55px;
width: 256px;
margin-left: 2px;
margin-right: 2px;
margin-top: 3px;
z-index: 9;
font-family: arial;
font-size: 13px;
border: 1px solid #ccc;
-moz-border-radius: 1px;
-webkit-border-radius: 1px;
border-radius: 1px;
line-height: 100%;
}

.containerBarraMsg .enviarButton{
/*position: relative;
top: 8px;
left: 37px;
text-decoration: none;*/
	}
	.containerBarraMsg .btn-group{
/*	position:relative;
	
	top:10px;
	left:-10px;
	border: 1px solid #ddd;
        line-height: 0px;
		*/
	}
	
	
	.containerBarraMsg .fotoButton{
/*clear: both;
float: left;*/
	
	}


.containerBarraButtons{
position: relative;
/*background: #ddd;*/
clear: none;
float: left;
height: 130px;
left: 0px;
top: 10px;
width: 270px;
/*border: 1px solid #ccc;*/
-moz-border-radius: 1px;
-webkit-border-radius: 1px;
border-radius: 1px;
border-bottom-right-radius: 4px;

}

.containerBarraButtons a{
width: 100px;
margin-top: 15px;
font-family: arial;
font-size: 12px;
margin-right: 5px;
}
.containerBarraButtons a red{
	
}

.containerBarraTop2{
background: #555;
clear: none;
float: left;
height: 25px;
left: 50%;
margin-left: 0px;
margin-bottom: 10px;
position: relative;
top: 0px;
width: 359px;
border: 1px solid #555;
/*border-top-right-radius:5px;

box-shadow: 3px 3px 2px #cdcec8;*/
}

.containerBarraTop{
background: #555;
clear: none;
float: left;
height: 25px;
left: 0px;


position: relative;
top: 0px;

border: 1px solid #555;
margin-top: 60px;
border-top-right-radius: 5px;
/*box-shadow: 3px 3px 2px #cdcec8;*/
	
	}

       .containerTop1{
position: absolute;
top: 2px;
left: 10px;
height: 10px;
float: left;
clear: none;
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
            
        }
        
        .black{
            color: whitesmoke;
font-size: 10px;
font-family: verdana;
        }
        
        .top1{
        	position: relative;
clear: none;
float: left;
left: 0px;
width: 305px;

height: 100%;
        }
        .top2{
        	position: relative;
clear: none;
float: left;
left: 0px;
width: 305px;

height: 100%;
        	
        }
        .red{
            background-color: rgb(255, 97, 97);
        }
        
        .escolha1{
            position: absolute;
            margin: 0px;
            top:0px;
            left:0px;
            float:left;
            width: 333px;
            height: 30px;
            display:none;
            background-color: salmon;
            border-top-right-radius: 4px;

        }
        .baixo{
            position: absolute;
            left: 140px;
            width: 0;
            height: 0;
            border: 20px solid transparent;
            display: block;
            border-top-color: red;
            z-index: 9999;
            top: -25px;

z-index: 9999;
display:none;
        }
        .baixo2{
            position: absolute;
            left: 420px;
            width: 0;
            height: 0;
            border: 20px solid transparent;
            display: block;
            border-top-color: red;
            z-index: 9999;
            top: -25px;

z-index: 9999;
display:none;
        }

        .escolha2{
            position: absolute;
            margin: 0px;
            top:0px;
            right:0px;
            float:right;
            width: 334px;
            height: 30px;
            display:none;
            background-color: salmon;
            border-top-right-radius: 4px;
        }
        
        .containerTop2{
 position: absolute;
top: 2px;
left: 10px;
height: 10px;
float: left;
clear: none;
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
          
        }
        .containerButtonSource{
position: absolute;
top: -8px;
left: 269px;
clear: none;
float: left;
   
        }

.containerPrincipal{
	 
 
        clear: none;
        float: right;
        left: 0px;
        position: relative;
        top: 0px;
        width: 620px;


	}
        
       .btn-comentar {

	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:arial;
	font-size:13px;
	font-weight:normal;
	padding:1px 11px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.btn-comentar:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
	color:red;
}
.btn-comentar:active {
	position:relative;
	top:1px;
}
 
        
    .btn-recomendo {

	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:arial;
	font-size:13px;
	font-weight:normal;
	padding:1px 11px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.btn-recomendo:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
	color:red;
}
.btn-recomendo:active {
	position:relative;
	top:1px;
}    

        
        .containerOne{
                position: absolute;
                top: 50px;
                width: 298px;
                height: 40px;
                left: 285px;
                 background:none repeat scroll 0 0 rgb(107, 124, 255);
                border: 1px solid rgb(81, 101, 255);
                -moz-border-radius:3px;
                -webkit-border-radius:3px;
                border-radius:3px;   
                display:none;
                cursor: pointer;
                margin-bottom: 10px;
            
        }
        

        .containerOne span{
            position:absolute;
            top: 10px;
            left: 150px;
            display:none

            
        }
        .containerTwo{
			position: absolute;
			top: 50px;
			width: 300px;
			height: 40px;
			left: 600px;
			background: none repeat scroll 0 0 rgb(107, 124, 255);
			border: 1px solid rgb(81, 101, 255);
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
			display: none;
			cursor: pointer;
            
        }
        .countContainer{
            position: relative;
            top:10px;
            color: whitesmoke;
            
            
        }
        .countContainer:hover{
            color: white;
            
            
        }
       .containerTwo span{
            position:absolute;
            top: 10px;
            left: 150px;
            display:none

            
        }
        #loadingAjax2{
        	position:absolute;
            top: 10px;
            left: 150px;
            display:none
        }
        
        
        
        
.containerlateral{
    background: none repeat scroll 0 0 rgba(229, 229, 229, 0.6);
    clear: none;
    float: right;
    height: 400px;
    left: 800px;
    position: absolute;
    top: 50px;
    width: 100px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #989898;
      
}
.containerlateral a{
	position:relative;
	top:10px;
	
	
	}

.containerCampus{
height: 300px;
position: relative;
/*background: yellow;*/
clear: none;
float: left;
left: 0px;
top: 0px;
width: 305px;
margin-top: 2px;

}

.containerUnesp{
height: 220px;

position: relative;
left: 0px;
top: 0px;
clear: none;
float: left;
background: none repeat scroll 0% 0% orange;
margin-top: 0px;
margin-left: 0px;
width: 305px;


}
.item-original{

position: relative;
width: 100%;
background-color: white;
font: normal 10.5px arial,sans-serif;
line-height: 1;
padding-bottom: 0px;
margin-bottom: 0px;
min-height: 10px;
height: auto;
text-align:justify;
border-left:1px solid #ccc;
border-right:1px solid #ccc;
border-bottom:1px solid #ccc;

}


.item-original-name{
position: relative;
left: 0px;
top: 0px;
height: 18px;
clear: none;
float: left;
padding-right: 15px;
padding-left: 10px;
padding-top: 11px;
    
}
.msgPublicacao{
height: 100%;

padding-top: 4px;
text-align: justify;
font-family: verdana;
line-height: 2.1;
position: relative;
padding: 6px;
}


.item-original p{
    margin-right: 10px;
    margin-bottom: 20px;

}

.item-original .item-photo{
    position:relative;
    width: 40px;
    height:40px;
    background-color: grey;
    top:5px;
    left:5px;
    cursor: pointer;
        clear:none;
    float:right;
    margin-right: 20px;
 
      -moz-border-radius:1px;
    -webkit-border-radius:1px;
    border-radius:1px;
    margin-left: 10px;
    
}
.item-original .item-photo2{
position: relative;
width: 30px;
height: 30px;
background-color: grey;
top: 0px;
left: 5px;
cursor: pointer;
clear: none;
margin-right: 20px;
-moz-border-radius: 1px;
-webkit-border-radius: 1px;
border-radius: 1px;
    
}
.item-original .item-photo3{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: grey;
    top: 0px;
    left: 5px;
    cursor: pointer;
    clear: none;
    margin-right: 20px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    float: left;
    margin-top: 5px;
}

.comentarioUser2 b{
	font-size: 11px;
}

.comentarioUser form{
    clear: none;
    float: left;
    position: relative;
    margin-bottom: 0px;
    padding-bottom: 0px;
    min-height: 40px;
    height: auto;
    margin: 0px;
}
.mensagensNovas{
position: relative;
height: 20px;
width: 30%;
background-color: #ddd;
border: 1px solid #ccc;
border-radius: 1px;
border-top-left-radius: 6px;
padding: 1px;
cursor: pointer;
line-height: 190%;
left: 45px;
margin-bottom: 0px;
top: 0px;
clear: none;
float: left;
}
.mensagensNovas span:hover{
color: #555;	

}
.mensagensNovas span:active{
color: #000;	
text-shadow: 1px 1px 0px rgb(243, 242, 242);
}

.mensagensNovas span{
	
font-family: 'PT Sans', Arial, Helvetica, sans-serif;
font-weight: normal;
color: #555;
font-size: 11px;
text-shadow: 1px 1px 0px #FFF;
float: left;
margin-left: 10px;
}
.item-original .fotoPublicacao{
position: relative;
width: 100%;

margin-top: 0px;
left: 0px;
padding-bottom: 20px;

height: auto;
min-height: 100%;
cursor: pointer;
text-align: center;
}

.item-original-b .fotoPublicacao{
    position: relative;
    width: 80%;
    margin-left: 0px;
  margin-right: 10px;
		margin-top: 0px;
		left: 40px;
        padding-bottom: 15px;
    
    
    
}

.item-comentario{
	 position:relative;
	top:8px;
    width: 288px;
    height: 30px;
    background:none repeat scroll 0 0 rgba(229, 229, 229, 0.6);
    margin: 5px;
    cursor:pointer;
    z-index: 999;
    border: 1px solid silver;
            -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
	
	}
        
        .item-comentario-b{
position: relative;
top: 8px;
width: 310px;
height: 30px;
background: rgb(255, 169, 77);
margin: 5px;
cursor: pointer;
z-index: 999;
border: 1px solid rgb(250, 147, 35);
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
margin-top: 20px;
margin-left: 13px;
color: #222;

	
	}
	
        .item-original small, .item-original-b small{
font: normal 10.5px arial,sans-serif;
line-height: 1;
text-align: justify;
            
        }        

.item-original-b{
    position: relative;
    width: 338px;
    background-color: #EEEEEE;
    margin: 1px;
    font: normal 13px arial,sans-serif;
    line-height: 1.4;
    padding-bottom: 0px;
    text-align: center;
    
}

.item-original-b p{
    margin-right: 10px;
    margin-left: 10px;
    
    
    
}


.item-original-b .item-photo{
    position:relative;
    width: 40px;
    height:40px;
    background-color: grey;
/*    border: 1px solid red;*/
    top:5px;
    left:5px;
    clear:none;
    float:left;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 30px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    
}

.item-photo img{
    border:1px solid silver;
    
}

#valores{
	position:absolute;
	width: 10px;
	height:10px;
	background-color: red;
	 -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    
    
}

#valores span{
	
	
    color:white;
    
}

.rodela{
	position:relative;
	width:100px;
	height:100px;
	background-color: red;
	
	}
	
	.modal-body{
	position:relative;
	height:400px;
	
	
	
	
	}
        
        .containerFotoVideo{
            position:relative;
            margin-top: 20px;
            height: 20px;
            width:272px;
            border: 1px solid blue;
            z-index: 9999;
            
     
                
            
        }
        
        
        .tab-pane .radio{
            
            
            width: 150px;
            float:left;
            text-align: justify;
        }


        
       .tab-pane .checkbox{
            
            
            width: 400px;
            float:left;
            text-align: justify;
            margin-top: 5px;
        }

 
        .todosCampus{
            font-weight: bold;
            border: 1px solid silver;
            -moz-border-radius:3px;
            -webkit-border-radius:3px;
            border-radius:3px;
        }
        
        .meuCampus{
            border: 1px solid silver;
            background: none repeat scroll 0 0 rgba(229, 229, 229, 0.6);
            -moz-border-radius:3px;
            -webkit-border-radius:3px;
            border-radius:3px;
            display: none;
            
        }

        
        
        .containerPersonal .containerIdentificacoes span{
            
            display:none;
        }
/*        .containerPersonal .containerIdentificacoes{
            
            display:none;
        }*/
        
        
        
        
        
        .alertHome{
        	margin-left: 280px;
        	margin-bottom:0px;
			top: 50px;
			position: relative;
			display:none;
			text-align: left;
        
        
        }
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        /*-------------------------*/
        
        
        
        
        
        
        
        
        
        
        
        





#mainUnespiano{
    position: absolute;

    margin: 0 auto;
    width: 720px;
    height: 100%;

    top:105px;
    left:50%;
    margin-left: -345px;
/*    background-color: red;*/
 

}

  #mainUnespiano .breadcrumb{
    width: 718px;
    
    
    
}

 #mainUnespiano .breadcrumb li a{
    width: 718px;
    color:blue;
    
}

#mainUnespiano .breadcrumb li a:hover{
    width: 718px;
    color:darkblue;
    text-decoration: none;
    
}

#mainUnespiano .input-append{
    position:absolute;
    top:10px;
    left:130px;
    
    
    
}
.containerBuscador{
    position: absolute;
/*    width: 100%;*/
    margin: 0 auto;
    width: 750px;
    height: 40px;
    left:50%;
    margin-left: -460px;
    top:115px;
    background:rgba(236, 236, 236, 0.5);
	/*	border:1px solid #989898;  */
	
		    -moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;

}


.containerBuscador .input-append{
    position:relative;
    top:5px;
    left:-10px;
    
    
    
}



nav{
    position:fixed;
    top:0px;
    width: 100%;
    height: 40px;
    background-color: black;
    overflow: hidden;
    margin: -10px -8px -8px 0px;
    left:0px;
    white-space: nowrap;
    overflow: visible;
    z-index: 9;
    
}

nav ul li{
    
    display: inline-block;
}
.containerBarra{
    position:absolute;
   
    top:42px;
    
    width: 100%;
     height: 50px;
    background:none repeat scroll 0 0 rgba(229, 229, 229, 0.6);
     margin: 0 auto;

        border-bottom:1px solid silver;
  
    
}


.containerBarra button{
    position: relative;
    width: 160px;
    height: 30px;
    
    left:-100px;
    margin-left: -440px;
    top:10px;
    float: left;
    clear: none;
  
    
    
}




   

.containerBarra .containerBarraR{
    position: relative;
    width: 680px;
    height: 60px;
   
    left:50%;
    margin-left: -230px;
    clear: none;
    float: left;
   
    
    
    
}
.containerBarra .containerBarraR a{
    position: relative;
    left:0px;
    top:10px;
    
    
    
}
.containerBarra .containerBarraL{
    position: relative;
    width: 220px;
    height: 60px;
   
    left:50%;
    margin-left: -460px;
    clear: none;
    float: left;
    font: 24px "Helvetica Neue", helvetica, arial, sans-serif;
    text-align: center;
    
}
.containerBarra .containerBarraL p{
    position: relative;
    top:0px;
    
    
    
}
.containerBarra .containerBarraL a{
    position: relative;
    left:0px;
    top:10px;
    
    
    
}


#main .img
{
	position:absolute;
	top:0px;
	left:30px;
	overflow: visible;
	
	}

#main .img2
{
	position:absolute;
	top:0px;
	left:650px;
	overflow: visible;
	
	}


/* img{
	border-radius:50%;
-moz-border-radius:50%;
-webkit-border-radius:50%;
	
	
	}
 */	
	
	
	.containerBarra .containerBarraR .a,
	 .containerBarra .containerBarraR .b, 
	 .containerBarra .containerBarraR .c,
	 .containerBarra .containerBarraR .d
	 {
		position:relative;
		top:0px;
		width: 50px;
		height: 50px;
		background-color: red;
		border-radius:50%;
		-moz-border-radius:50%;
		-webkit-border-radius:50%;
		
		margin:0px 50px 0px 0px;
		clear:none;
		float:left;
		cursor:pointer;
		}
	.containerBarra .containerBarraR .a:hover,
	 .containerBarra .containerBarraR .b:hover,
	 .containerBarra .containerBarraR .c:hover,
	 .containerBarra .containerBarraR .d:hover
	 {
		background-color: blue;
		border: 1px solid white;
		}
		
		
		
		
		
		.containerDestaque{
			position:absolute;
			left:50%;
			margin-left:70px;
			width: 330px;
			height:320px;
			top:0px;
			/* background-color:blue; */
			clear:none;
			float:left;
			
		
		
		
		}
		
		.containerDestaque .icon1,
		.containerDestaque .icon2,
		.containerDestaque .icon3,
		.containerDestaque .icon4,
		.containerDestaque .icon5,
		.containerDestaque .icon6,
		.containerDestaque .icon7,
		.containerDestaque .icon8,
		.containerDestaque .icon9
		{
			position:relative;
			top:0px;
			left:0px;
			width: 95px;
			height: 95px;
			
			
			float:left;
			clear:none;
			margin: 6px;
			cursor: pointer;
			border:0px solid black;
		}
		.containerDestaque .icon1{
		/* background-color: #525252; */
		
		
		
		background: #525252 no-repeat fixed center; 
		}
		.containerDestaque .icon2{
		background-color: #DA532C !important;
		}
		.containerDestaque .icon3{
		background-color: #2D89EF !important;
		}
		.containerDestaque .icon4{
		background-color: #FFC40D !important;
		}
		.containerDestaque .icon5{
		background-color: #00A300 !important;
		}
		.containerDestaque .icon6{
		background-color: #B91D47 !important;
		}
		.containerDestaque .icon7{
		background-color:#2B5797 !important;
		}
		.containerDestaque .icon8{
		background-color:#9F00A7 !important;
		}	
		.containerDestaque .icon9{
		background-color:#000 !important;
		}	
	
		
		
		

		.containerDestaque .icon3:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/escultura.jpg) no-repeat center;
		
		
		}
		
		.containerDestaque .icon1:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/musica.jpg) no-repeat center;
			
		
		}
		.containerDestaque .icon2:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/pintura2.jpg) no-repeat center;
			
		
		}
		.containerDestaque .icon6:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/dancaTeatro.jpg) no-repeat center;
			
		
		}
		.containerDestaque .icon5:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/arquitetura.jpg) no-repeat center;
			
		
		}
		.containerDestaque .icon9:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/quadrinhos.jpg) no-repeat center;
			
		
		}
		.containerDestaque .icon7:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/cinema.jpg) no-repeat center;
			
		
		}
		.containerDestaque .icon8:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/fotografia.jpg) no-repeat center;
			
		
		}
		.containerDestaque .icon4:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/literatura.jpg) no-repeat center;
			
		
		}
	
			.icon1 .num, .icon2 .num,  .icon3 .num,  .icon4 .num,
			 .icon5 .num,  .icon6 .num,  .icon7 .num,  .icon8 .num,  .icon9 .num{
			position: absolute;
			bottom: 0;
			right: 0;
			right: 5px;
			margin-bottom: 0;
			color: white;
			width: 30px;
			height: 22px;
			text-align: center;
			font-family: 'Segoe UI Semibold', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
			font-weight: 600;
			font-size: 11pt;
			letter-spacing: 0.01em;
			line-height: 14pt;
			padding-top: 3px;
			background-color: #2D89EF !important;
			}
			.name{
							position: absolute;
					bottom: 0;
					left: 5px;
					top:0px;
					margin-bottom: 0;
					color: white;
					width: 40px;
					height: 22px;
					text-align: center;
					font-family: 'Segoe UI Semibold', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
					font-weight: 600;
					font-size: 8pt;
					letter-spacing: 0.01em;
					line-height: 14pt;
					padding-top: 3px;
					
							
			
			}
		
		
		#containerBread{
				position: absolute;
				top:-30px;
				left:0px;
				width: 900px;
				height: 30px;
				
				text-align: left;
				color:black;
		}
		
				
		#main #containerBread a:hover{
		
		
		text-decoration: none;
		color:red;
		
		
		}
		
		
		
		
	   #containerSubMenu{
		position:relative;
		top:-3px;
		left:270px;
		
	
	
	
	
	
	}
		
		
		.containerMainLeft{
	position: absolute;
/*    width: 100%;*/
    margin: 0 auto;
    width: 720px;
/*    height: 100%;*/

    top:45px;
     background:rgba(236, 236, 236, 0.5);
     padding-bottom: 15px;
	
	}
		
		.containerMainRight{
	position: absolute;
/*    width: 100%;*/
    margin: 0 auto;
    width: 120px;
    height: 100%;
	left:135px;
    top:110px;
    background:none repeat scroll 0 0 rgba(147, 160, 255, 0.71);
	/* border:1px solid green; */
	
		    -moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
                display:block;
	
	}
	     .containerMainRight .btn{
            position:relative;
            top:10px;
            
            
        }

	
	.containerBarra .containerMenu{
 		position:absolute;
		top:15px;
		left:50%;
                margin-left:305px;
	
	
	
	
	} 
		
		
			
        .containerMainLeft .thumbnail{
            position:relative;
            top:60px;
            margin: 5px;
            width: 120px;
            background-color: white;
            clear:none;
            float:left;
            
        }
        
        .containerMainLeft p{
                font-family: verdana;
                line-height: 120%;
                    

        }
        .containerUsersUnespiano{
        	position:relative;
        	margin-top:0px;
                padding-bottom:15px;
        	width: 790px;
                top:10px;
                
                clear:none;
                float:left;
                background:rgba(236, 236, 236, 0.5);
	/*	border:1px solid #989898;  */
	
		    -moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
        	
        
        
        }
        .bordaAlbum{
            position:relative;
            width: 240px;
            
            background-color:red;
            
            
            
            
        }
        .containerUnespiano{
        	position:relative;
        	
        	left:0px;
        	width: 230px;
        	height: 230px;
        	background-color: white;
        	clear:none;
        	float:left;
        	margin: 15px;
        	margin-right:5px;
        	-moz-border-radius:5px;
			-webkit-border-radius:5px;
			border-radius:5px;
			border:1px solid #DDD;
			-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.055);
			-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.055);
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
			-webkit-transition: all 0.2s ease-in-out;
			-moz-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
                        overflow: hidden;
                        margin-bottom: 0px;
        }
        .containerUnespiano img{
        	position:relative;
        	float:left;
        	border:1px solid silver;
        	clear:none;
        	margin:10px;
        	-moz-border-radius:5px;
			-webkit-border-radius:5px;
			border-radius:5px;
			width: 90%;
/*			height: ;*/

                
        	
        
        
        }
        .containerInfoU{
        	position:relative;
        	top:0px;
        	left:70px;
        	
        	height: 100%;
        	width: 180px;
        	line-height: 100%;

        }
        
        .containerInfoU .cNome{
        	position:absolute;
        	font-family: arial;
        	font-size: 12px;
        	font-weight: bold;
        	color:#4A319C;
        	left:0px;
        	top:10px;

        	width:160px;
      		
        
        
        
        
        }
        .cCurso{
        	position:absolute;
        	left:0px;
        	top:30px;
        	width:160px;
        	font-family: arial;
        	font-size: 11px;
        	color:grey;
        	
        
        
        
        }
        .cCampus{
        	position:absolute;
        	left:0px;
        	top:50px;
        	width:160px;
        	font-family: arial;
        	font-size: 11px;
        	color:grey;

        }
        .cTurma{
        	position:absolute;
        	left:0px;
        	top:70px;
        	width:160px;
        	font-family: arial;
        	font-size: 11px;
			font-family: arial;
        	font-size: 11px;
        	color:grey;
        }

        
        .containerUsersUnespianoFotos{
            position: relative;
            top:30px;
            width: 100%;
            clear:none;
            float:left;
            background:rgba(236, 236, 236, 0.5);
	/*	border:1px solid #989898;  */
            padding-bottom: 15px;
		    -moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
              
            
            
        }
        .containerUsersUnespianoFotos img{
            position: relative;
            margin-top: 0px;
            width: 200px;
            padding: 5px;
            border: 1px solid silver;
            background-color: white;
            
            	    -moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
                vertical-align: middle;
            
            
        }
        
        .eventosCalendario{
            
            display:none;
        }
        
        .containerEventosAtivos{
            
            position: relative;
            left: 0px;
            width: 200px;
            background-color: white;
            clear: none;
            float: left;
            margin: 15px;
            margin-right: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            border: 1px solid #DDD;
            -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
            -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            overflow: hidden;
            margin-bottom: 0px;
            top: -290px;
            min-height: 262px;
/*            height: 320px;*/
            padding: 30px;
            
            
        }
        
        #myModal2{
            display:none;
        }
        .pull-left input{
            
            width: 260px;
        }

        
        .containerFoto{
            position: absolute;
            width: 900px;
            display: table;
            height: 470px;
            background-color: white;
            top: 50%;
            margin-top: -300px;
            left: 50%;
            margin-left: -485px;
            display: none;
            z-index: 999999999999;
            box-shadow: 1px 1px 80px #000;
            
        }
		.delete{
				position: absolute;
				top: 0px;
				left: -1px;
				width: 75px;
				height: 23px;
				z-index: 999;
				cursor:pointer;
			/*	display: none;*/
			
			
		}     
		.btn-remover{
			padding: 0 6px;
			font-size: 10.5px;
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			border-radius: 0px;
		}   
		
		#containerPhoto2{
				position: relative;
				top: 20px;
				left: 6px;
				width: 255px;
				height: 230px;
				/*background-color:yellow;*/
				z-index: 99;
				display:none;
				/*border: 1px solid red;*/

		}
		#containerPhoto2 img{
				position: absolute;
				top: 0px;
				left:0px;
				

		}


.pointer{
	position:relative;
	top:20px;
/*	background-color:#FFF; */
	left:6px;
	
	width: 255px;
	height:100%;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;

	}


.containerLoading{
	position:absolute;
	top:-140px;
	/*left:50px;*/
	/*margin-left: -60px;*/
	width: 120px;
	height: 30px;
	/*background-color:red;*/
	border: 1px solid #CEBE29;	
	
	
	  		z-index: 999;
}

.containerLoading em{
	position:absolute;
	top:0px;
	left: 100px;
	z-index: 999999;
	
}

#lo{
	position:relative;
	top: -20px;
	
	border:1px solid rgb(226, 226, 53);
	padding: 5px;
	margin:5px;
	background-color: rgb(255, 255, 0);
	
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
	
	
}

#randomArea { margin: 0 0 20px 0;  width: 300px; height: 100px; padding: 10px;

position: absolute;
	top:-40px;
	left:20px;
	

} /*
 #randomArea span{
 	position: relative;
 	top:-80px;
 }*/


.fotoManager{
    position: relative;
    top:10px;
    left:0px;
    width: 260px;
    margin: 5px;
    height: 80px;
/*    background-color: red;*/
/*    border: 1px dotted orange;*/
    display:none;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
}

/*.fotoManager .uploadFoto{
    position: relative;
    right: 20px;
    bottom: 10px;
    
    
}*/



.fotoLink{
    position: absolute;
    top: 40px;
    width: 100px;
    height: 40px;
    background:none repeat scroll 0 0 rgb(196, 196, 196);
    left: 0px;
    color:rgb(80, 80, 80);
    -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            border: 1px solid rgb(180, 180, 180);
            
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
    
}

.uploadFoto{
        position:absolute;
        left: 195px;
        top: 55px;

    
}

.containerFotoPrincipal{
position: absolute;
top: 0px;
left: 0px;
width: 630px;
height: 100%;
background-color: rgb(0, 0, 0);
	
	
	
}
.containerFotoPrincipal img{
width: 100%;
margin: 0px;
padding: 0px;
right: 0px;
position: absolute;
top: 0px;
    }

.containerFotoComentarios{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 270px;
    height: 100%;
    background-color:whitesmoke;
}

.loadingFotoPrincipal{
	position: absolute;
	top: 220px;
	left: 50%;
	background-image: url(../../img/33.gif);
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	margin-left: -160px;
	display:block;
}


.comentariosOutros{
    position: relative;
width: 100%;
visibility: hidden;
height: 24px;
/*border-top: 1px solid #ccc;*/
margin-top: -24px;
padding-top: 20px;
clear: both;
    
}
.comentariosOutros2{
    width: 338px;
height: 24px;
border-top: 1px solid #ccc;

}
.comentar{
    position: absolute;
bottom: 0px;
left: 0px;
width: 66px;
height: 15px;
/*background-color: #ccc;*/
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
color: #555;
text-align: center;
line-height: 140%;
padding: 2px;
-moz-border-radius: 1px;
-webkit-border-radius: 1px;
border-radius: 1px;
background-color:#CCCCCC;
cursor: pointer;
}
.comentar2{
    position: absolute;
bottom: 0px;
left: 0px;
width: 72px;
height: 15px;
/*background-color: #ccc;*/
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: bold;
color: rgb(58, 58, 58);
text-align: center;
line-height: 140%;
padding: 5px;
-moz-border-radius: 1px;
-webkit-border-radius: 1px;
border-radius: 1px;
cursor: pointer;
}

.comentar:hover,.comentar2:hover,  .virarTopico:hover{
    color:black;
    background-color: #ccc;
}
.gostei{
    position: absolute;
bottom: 0px;
right: 0px;
width: 60px;
height: 10px;
/*background-color: #ccc;*/
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
color: rgb(58, 58, 58);
text-align: center;
line-height: 100%;
padding: 5px;
-moz-border-radius: 1px;
-webkit-border-radius: 1px;
border-radius: 1px;
cursor: pointer;
border-top:1px solid #ccc; 
}
 .gostei:hover{
 	color:black;
    background-color:#A9DBA9;
 }
 .naoGostei:hover{
 	color:black;
    background-color:#EBCCCC;
 }

.naoGostei{
    position: absolute;
bottom: 0px;
right: 70px;
width: 60px;
height: 10px;
/*background-color: #ccc;*/
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
color: rgb(58, 58, 58);
text-align: center;
line-height: 100%;
padding: 5px;
-moz-border-radius: 1px;
-webkit-border-radius: 1px;
border-radius: 1px;
border-right: 1px solid #aaa;
border-left:1px solid #aaa;
cursor: pointer;
border-top: 1px solid #ccc;
border-top-left-radius: 3px;
}
.virarTopico{
position: absolute;
bottom: 0px;
right: 141px;
width: 82px;
height: 10px;
/*background-color: #ccc;*/
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
color: rgb(58, 58, 58);
text-align: center;
line-height: 100%;
padding: 5px;
-moz-border-radius: 1px;
-webkit-border-radius: 1px;
border-radius: 1px;
border-right: 1px solid #aaa;
border-left: 1px solid #aaa;
cursor: pointer;
    
}

.comentarioUser{
position: relative;
top: 40px;
left: 25px;
display: none;
width: 297px;
height: auto;
min-height: 70px;

padding-top: 25px;
clear: both;
border-radius: 5px;
    
}
.comentarioUser2{
position: relative;
bottom: 0px;
left: 25px;
width: 260px;
height: auto;
min-height: 20px;
margin-bottom: 10px;
line-height: 110%;
text-align: left;
padding-right: 0px;
padding-top: 0px;
border-top: 1px solid #ddd;
/*background-color: rgb(255, 255, 255);*/
display: none;
margin-top: 70px;
/*border-radius: 5px;*/
/*border: 1px solid #ddd;*/
padding: 10px;
}
.comentarioUser2 p{
margin-right: 0px;
margin-bottom: 7px;
border-bottom: 1px solid #ddd;
font-size: 11px;
padding-bottom: 5px;
font-style: italic;
}
.comentarioUser textarea{
resize: none;
position: relative;
width: 227px;
font-size: 12px;
min-height: 10px;
line-height: 100%;
border-radius: 0px;
clear: none;
float: left;
top: -30px;
left: 10px;
border:1px solid #aaa;
}
.envia{
    position: relative;
    width:60px;
    height:20px;
    background-color:#777;
    top: -30px;
/*    right: 0px;
    clear: none;*/
    float: right;
/*    visibility: hidden;*/
    color:whitesmoke;
    font-size:11px;
    font-weight:bold;
    line-height:170%;
    cursor:pointer;
    right: 10px;
    -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.envia:hover{
	color:#000000;
}
.envia:active{
	color:red;
}

.score{
position: absolute;
height: 40px;
width: 38px;
/*border: 1px solid grey;*/
bottom: 35px;
left: 5px;
/*text-shadow: 1px 1px 0px #FFF;*/
}
.positivo{
position: absolute;
height: 20px;
width: 38px;
background-color: #ddd;
}
.negativo{
position: absolute;
top: 20px;
width: 38px;
height: 20px;
background-color: #ddd;

}
.positivoIcon{
width: 16px;
height: 15px;
/*border: 5px solid transparent;
border-bottom-color: #bbb;*/
position: absolute;
right: 4px;
top: 2px;
background-image: url(../../img/userHome/icone_ok.png);
background-repeat: no-repeat;
}
.negativoIcon{
width: 16px;
height: 15px;
/*border: 5px solid transparent;
border-top-color: #bbb;*/
position: absolute;
top:2px;
right: 4px;
background-image: url(../../img/userHome/icon_negative.png);
background-repeat: no-repeat;
}
.valueO{
    position: absolute;
left: 7px;
top:2px;
color: #ccc;
font-size: 12px;
font-weight: bold;
font-family: arial;
}
.mensagensLike{
    position: relative;
height: 20px;
width: 45%;
background-color: #ddd;
clear: none;
float: right;
right: 30px;
padding: 1px;
top: 0px;
cursor: pointer;
line-height: 190%;
border: 1px solid #ccc;
border-top-right-radius: 6px;
}
.mensagensLike span{
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
font-weight: normal;
color: #555;
font-size: 11px;
text-shadow: 1px 1px 0px #FFF;
float: left;
margin-left: 5px;
}

        .cima{
position: relative;
left: 110px;
width: 0;
height: 0;
border: 20px solid transparent;

border-bottom-color: rgb(155, 152, 152);
z-index: 9999;
top: -18px;
z-index: 9999;
cursor: pointer;
display: none;
        }
        .cima:hover{
display: block;
border-bottom-color: #C0C0C0;

z-index: 9999;
cursor: pointer;
        }
        
        body > .containerItemOriginal{
            min-height: 100%;
            height: auto;
            
            
        }
        .containerItemOriginal{
            position: relative;
/*            min-height: 100px;*/
            height: auto;
            padding-bottom: 0px;
            margin-bottom: 0px;
            clear:both;
            
        }
        .containerTexto{
            min-height: 40px;
            height: auto;
            width: 265px;
/*            background-color: red;*/
            position: relative;
            top: 7px;
            margin-left: 55px;
            margin-bottom: 10px;
        }
        
        
        .comentario{
            position: relative;
            height: auto;
            min-height: 40px;
            width: 250px;
            background-color: whitesmoke;
            margin-bottom: 7px;
            border: 1px solid #ddd;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
        }
        .containerLikeComents{
            position: relative;

/*            width: 265px;*/
            
    
            top: 0px;
            left: 0px;
/*            height: 30px;*/
            min-height: 100%;
                
            
        }
        .rodela2{
position: relative;
height: 30px;
width: 290px;
        }
        .texto{
            margin-bottom: 8px;
        }
        .textos{
            color: #555;
        }
        

.btnTrouble{
	display: inline-block;
padding: 0px 10px;
margin-bottom: 0;
font-size: 12px;
line-height: 20px;
color: #333333;
text-align: center;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
vertical-align: middle;
cursor: pointer;
background-color: #f5f5f5;
background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
background-repeat: repeat-x;
border: 1px solid #bbbbbb;
border-color: #e6e6e6 #e6e6e6 #bfbfbf;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
border-bottom-color: #a2a2a2;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
text-decoration: none;
}
