

.containerNoticias{

margin: 0px;


}
.noticiaData{
width: 150px;
background: red;
clear:none;
float:left;

}
.noticiaTitulo{
clear:none;
float:left;
margin-left:10px;

}
.ch-carousel-list {
	width:100%;
overflow: hidden;
margin: 0;
padding: 0;
list-style: none;
font-family:arial;
font-size:11px;
}
ol, ul, menu {
list-style: none;
}
.ch-carousel-item-noticia {
display: inline-block;
float: left;
border-bottom: 1px solid #ddd;
background: yellow;
}




