.containerNoticias{

margin: 0px;


}

.containerUser{
position: relative;
top: 18px;
width: 425px;
height: 131px;
float: left;
color:#000000;
/* margin-left: 300px; */
clear: none;
float: left;
}
.foto{
position: absolute;
top: 0px;
left: 0px;
margin: 0px;

}
.foto img{
height:125px;
border-radius: 50%;
}
.containerInfoUser{
width: 287px;
float: left;
line-height: normal;
margin-top: 5px;
position: relative;
left: 140px;
}
.infoNome{
float: left;
font-size: 20px;
font-family: verdana;


}
.infoCampus{
float: left;
font-size: 11px;
font-family: verdana;

clear: both;
}
.containerUsers{
position: relative;
width: 100%;
height: 163px;

/*border-bottom: 1px solid #ccc;*/
}
.prediletos_color{
    background: rgb(219, 242, 255);
}
.noticias_color{
    background:rgb(255, 255, 202);
}
.container-perfil-recado{
	background: #456788;
}
.mural_color{
    background:rgb(203, 255, 210);
}
.arte_color{
    background:rgb(255, 218, 218);
}
.users_color{
    background:rgb(213, 213, 255);
}
.UserPageFotos{
	width: 360px;
position: relative;
clear: none;
float: left;
}
.UserPageFotos img{
    /* border-radius: 50%; */
    border: 2px solid #555;
}
.recado-perfil{
	height: 40px;
	width: 534px;
	margin: 10px;
}
.infoCurso{
float: left;
font-size: 11px;
font-family: verdana;

clear: both;
}
.ch-carousel-list-perfil-arte{
	width:100%;
overflow: hidden;
margin: 0;
padding: 0;
list-style: none;
font-family:arial;
font-size:11px;
background: #FFF;
border-top: 1px solid #bbb;
}
ol, ul, menu {
list-style: none;
}
.ch-carousel-item-perfil-arte {
display: inline-block;
float: left;

/* border-right-style: solid; */
/* border-right-color: #ddd; */
/* border-right-width: 1px; */

margin-top: 20px;
margin-bottom: 20px;
margin-left: 10px;
padding-top: 10px;
}


.ch-carousel-list-perfil-mural{
	width:100%;
overflow: hidden;
margin: 0;
padding: 0;
list-style: none;
font-family:arial;
font-size:11px;
background: #FFF;
border-top: 1px solid #bbb;
}
ol, ul, menu {
list-style: none;
}
.ch-carousel-item-perfil-mural {
display: inline-block;
float: left;

/* border-right-style: solid; */
/* border-right-color: #ddd; */
/* border-right-width: 1px; */

margin-top: 20px;
margin-bottom: 20px;
margin-left: 10px;
padding-top: 10px;
}

.containerPerfilNoticias{

margin: 0px;
border-top: 1px solid #ccc;
margin-top: 25px;

}
.ch-carousel-item-noticia {
display: inline-block;
float: left;
border-bottom: 1px solid #ddd;
background: yellow;
}
.noticiaData{
width: 150px;
background: red;
clear:none;
float:left;

}
.noticiaTitulo{
clear:none;
float:left;
margin-left:10px;

}
.container-titulo{
height: 120px;
font-family: arial;
text-align: left;
/* font-weight: bold; */
font-size: 12px;
color: #000000;
width: 300px; clear: none; float: left;
}
.container-titulo span{
	margin-left: 30px;
	
}
