.containerNoticias{

margin: 0px;


}

.containerUser{
position: relative;
top: 0px;
width: 360px;
height: 151px;
background-color: #fff;
float: right;
margin: 5px;
}
.foto{
position: absolute;
top: 0px;
left: 0px;
margin: 0px;
height: 150px;
width: 140px;
}
.containerInfoUser{
width: 208px;
float: right;
line-height: normal;
}
.infoNome{
float: left;
font-size: 14px;
font-family: verdana;
font-weight: bold;

}
.infoCampus{
float: left;
font-size: 11px;
font-family: verdana;
font-weight: bold;
clear: both;
}
.containerUsers{
position: relative;
width: 100%;

background: #fff;
}
.infoCurso{
float: left;
font-size: 11px;
font-family: verdana;
font-weight: bold;
clear: both;
}
.ch-carousel-list-perfil-arte{
	width:100%;
overflow: hidden;
margin: 0;
padding: 0;
list-style: none;
font-family:arial;
font-size:11px;
background: #fff;
border-top: 1px solid #bbb;
}
ol, ul, menu {
list-style: none;
}
.ch-carousel-item-perfil-arte {
display: inline-block;
float: left;

border-right-style: solid;
border-right-color: #ddd;
border-right-width: 1px;

margin-top: 20px;
margin-bottom: 20px;
margin-left: 10px;
padding-top: 10px;
}


.ch-carousel-list-perfil-mural{
	width:100%;
overflow: hidden;
margin: 0;
padding: 0;
list-style: none;
font-family:arial;
font-size:11px;
background: #fff;
border-top: 1px solid #bbb;
}
ol, ul, menu {
list-style: none;
}
.ch-carousel-item-perfil-mural {
display: inline-block;
float: left;

border-right-style: solid;
border-right-color: #ddd;
border-right-width: 1px;

margin-top: 20px;
margin-bottom: 20px;
margin-left: 10px;
padding-top: 10px;
}

.containerPerfilNoticias{

margin: 0px;

border-top: 1px solid #ccc;
margin-top: 25px;
}

.ch-carousel-item-noticia {
display: inline-block;
float: left;
border-bottom: 1px solid #ddd;
background: yellow;
}
.noticiaData{
width: 150px;
background: red;
clear:none;
float:left;

}
.noticiaTitulo{
clear:none;
float:left;
margin-left:10px;

}