

.informativo-left{
	float:left;
	width: 610px;
}
.informativo-right{
	float:right;
	width: 280px;
}
.informativo-item{
	float: left;
padding-bottom: 5px;
width: 610px;
border: 1px solid #ccc;
border-radius: 3px;
}
.informativo-titulo{
	padding: 20px 20px 0;
	min-height: 40px;

background: transparent;
border: 0;
word-wrap: break-word;
clear: both;
background: #fff;
font-size: 2.4em;
font-weight: bold;

line-height: 1.2;
}
.h1{
	font-size: 28px;
max-width: 615px;
max-width: 558px;
margin-top: -3px;
}
.informativo-dados{
padding: 5px 20px 15px;
font-size: 12px;
color: #999;
position: relative;
height: 96px;
position: relative;
top: 0px;
text-align: left;
}

.informativo-status{
	display: inline-block;
border: 1px solid #E9E9E9;
font-weight: bold;
padding: 2px 6px 2px 8px;
margin-right: 20px;
position: relative;
background: #FFF;
float: left;
}
.informativo-data-postagem{
	
}

.informativo-table{
	background: #555;
        margin: 15px;
        padding-top: 10px;
        padding-bottom: 5px;
	
}
.informativo-descricao{
	border-bottom: 1px solid #ccc;
	margin: 30px;
	padding-bottom: 25px;

}
.informativo-descricao-texto{

	text-align: left;
	font-family: verdana;
	font-size: 12px;
}
.informativo-footer{
	width: 900px;
margin: 10px;
text-align: left;
clear: both;
padding-bottom: 10px;

}
.footer-links{
	padding: 5px 10px 50px;
font-size: 13px;
background: white;
-moz-border-radius-topright: 3px;
-webkit-border-top-right-radius: 3px;
border-top-right-radius: 3px;
-moz-border-radius-topleft: 3px;
-webkit-border-top-left-radius: 3px;
border-top-left-radius: 3px;
border:1px solid #ccc;
color: #fff;
margin-bottom: 0;
}
.container-comentarios{
	position: relative;
}
.identificacao-usuario{
	width: 280px;
	z-index: 51;
	float: left;
	display: inline;

}
.identificacao-usuario-info{
clear: both;
background: #EBE0FF;
overflow: hidden;
color: #333;
min-height: 0 !important;
padding: 14px 20px 40px 20px;
border-radius: 3px 3px 0 0 !important;
border-width: 1px 1px 1px 1px;
border-color: #D7B9F3;
border-style: solid;
}
.usuario-nome{
position: relative;
font-size: 18px;
text-shadow: 0 1px 1px rgba(255,255,255,.5);
float: left;
margin-left: 24px;
}
.usuario-informacoes{
	list-style: none;
}
.usuario-informacoes li{
font-size: 13px;
font-weight: normal;
margin: 10px 0 0;
float: left;
clear: both;
}
.container-form{
	width: 280px;
}
.container-form-item{
	background: #FDFFE0;
border-radius: 3px 3px 3px 3px;
border-width: 0 1px 1px 1px;
border-color: #F3F1B9;
border-style: solid;
font-size: 14px;
min-height: 95px;
clear: both;
top: -2px;
width: 278px;
}
.container-form-contato{
	margin-top: 0;
margin-bottom: 10px;
	width: auto;
margin: 20px 0;
width: 258px;
}
.comentarios-diversos{
	
	width: 280px;
z-index: 51;
float: left;
display: inline;
	
}
.campo-insercao{
position: relative;
height: 100px;
width: 100%;
background: rgb(243, 243, 243);
border-top: 1px solid #ccc;
border-bottom: 1px solid #ccc;
	
}
.campo-insercao-comentado{
position: relative;
min-height: 60px;
width: 100%;
background: white;
border-bottom: 1px solid #ccc;
font-family: serif;
font-size: 14px;
line-height: 16px;

}
.fotoUser{
	float: left;
clear: none;
}
.foto-question{
	width: 40px;
margin: 5px;
}
.foto-user-comentario{
	clear: none;
float: left;
margin: 5px;
width: 200px;
border-radius: 1px;
border: 1px solid #ccc;
overflow: auto;
outline: none;
resize: none;
font-size: 11px;
}
.foto.text{
	height:50px;
}
.espaco-enviar{
	height: 36px;

}
.enviar-comentario{
	float: right;
margin: 5px;
}
.comentarios-titulo{
	margin: 10px;

clear: both;
}
.comentarios-titulo span{
font-family: verdana;
font-size: 16px;
font-weight: bold;	
}
.texto-efetivo{
position: relative;
top: 10px;

}
.foto-text-comentado{
text-align: left;
margin-bottom:20px;

}
.loading-mural-arte{
	height: 500px;
margin-top: 100px;
}
.preco{
	height: 30px;
width: 564px;
/* background: yellow; */
border-bottom: 1px solid #ccc;
text-align: center;
padding-bottom: 20px;
}
.preco span{
	font-family: arial;
font-weight: bold;
font-size: 20px;
position: relative;
top: 6px;
}
.loading_t{
	position: relative;
float: right;
right: 22px;
top: 10px;
display:none;
}
.containerPersonal {
display: none;
}