.modal-overlay{
	display: none;
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 4000;
background: #808080;
background: rgba(0,0,0,.5);
-ms-filter: "alpha(opacity=50)";
	
}
.containerPopUp{
	display:none;
	position: absolute;
	width: 600px;
	min-height: 400px;
	background: white;
	left:50%;
	margin-left:-300px;
	top:33px;
	border:1px solid #aaa;
	border-top-left-radius: 6px;
	border-top-right-radius:6px;
	box-shadow: 0 4px 15px rgba(32,47,51,.20);
	z-index: 99999999;	
}
.modal-header-d{
	cursor: move;


border-bottom: 1px solid #ddd;
border-radius: 6px 6px 0 0;
box-shadow: inset 0 1px 0 #fff;
	
	
}
.modal-title{
	
	color: #8899a6;
font-size: 16px;
font-weight: normal;
line-height: 10px;
text-shadow: none;
	
}
.modal-close{
position: absolute;
top: 0px;
right: 0px;
height: 14px;
width: 14px;
margin: 8px;
background: url(../../img/x-close.png) no-repeat;
margin-right: 14px;
cursor:pointer;
}



/*usado para o item mural*/
.modal-body-left{
	width: 570px;
min-height: 350px;
margin-top:0px;
border-bottom: 1px solid #ddd;
margin: 14px;
clear: none;
float: left;
}
.modal-body-right{
width: 570px;
min-height: 100%;

margin-top: 14px;
float: right;
margin-right: 14px;
}
.modal-body-foto{
width: 570px;
height: 240px;
background: black;


}
.modal-body-foto img{
	width: 270px;
height: 240px;
background: black;
}
.modal-left-identificacao{
width: 570px;

	
	
	
}
 .modal-left-identificacao ul{
font-family: arial;
font-size: 12px;
margin-left: 5px;
font-weight: bold;
color: #666;
 }
 .modal-left-identificacao ul li{
 	line-height:15px;
 }
.modal-right-titulo{
height: 26px;
width: 100%;
/* background: rgb(255, 187, 255); */
margin-bottom: 20px;
padding-top: 10px;
padding-bottom: 4px;
border-bottom: 1px solid #D8D4D4;
border-top: 1px solid #ddd;
}
.modal-right-texto{
	margin-bottom: 20px;
}
.modal-right-titulo-d{
font-family: arial;
font-size: 16px;
color: #555;
text-align: inherit;

font-weight: bold;
}
.modal-texto-detalhes{
font-family: arial;
font-size: 14px;
text-align: left;
}
.modal-footer-f{
	width: 570px;
min-height: 40px;
/* background: red; */
margin-top: 11px;
float: right;
margin-right: 14px;
border-top: 1px solid #ddd;
}
.modal-footer-d{
font-family: arial;
font-size: 12px;
text-align: right;
padding-top: 10px;

}
.modal-footer-d a{
color:blue;
}
.footer-comentarios{
	float:left;
	color:#999;
}
.loading-pop-up{
	position: relative;
top: 100px;
}
