





#mainUnespiano{
        position: absolute;
        margin: 0 auto;
        width: 700px;
        height: 100%;
        top: 105px;
        left: 50%;
        margin-left: -315px;

/*    background-color: red;*/
 

}

  #mainUnespiano .breadcrumb{
    width: 718px;
    
    
    
}

 #mainUnespiano .breadcrumb li a{
    width: 718px;
    color:blue;
    
}

#mainUnespiano .breadcrumb li a:hover{
    width: 718px;
    color:darkblue;
    text-decoration: none;
    
}

#mainUnespiano .input-append{
    position:absolute;
    top:10px;
    left:130px;
    
    
    
}
.containerBuscador{
    position: absolute;
/*    width: 100%;*/
    margin: 0 auto;
    width: 750px;
    height: 40px;
    left:50%;
    margin-left: -460px;
    top:115px;
    background:rgba(236, 236, 236, 0.5);
	/*	border:1px solid #989898;  */
	
		    -moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;

}


.containerBuscador .input-append{
    position:relative;
    top:5px;
    left:-10px;
    
    
    
}


body{
    background-color: white; 

			background: url(../../img/index/tile.jpg) top center repeat;

		}/*

nav{
    position:fixed;
    top:0px;
    width: 100%;
    height: 40px;
    background-color: black;
    overflow: hidden;
    margin: -10px -8px -8px 0px;
    left:0px;
    white-space: nowrap;
    overflow: visible;
    z-index: 9;
    
}

nav ul li{
    
    display: inline-block;
}*/
.containerBarra{
    position:absolute;
   
    top:42px;
    
    width: 100%;
     height: 50px;
    background:none repeat scroll 0 0 rgba(229, 229, 229, 0.6);
     margin: 0 auto;

        border-bottom:1px solid silver;
  
    
}


.containerBarra button{
    position: relative;
    width: 160px;
    height: 30px;
    
    left:-100px;
    margin-left: -440px;
    top:10px;
    float: left;
    clear: none;
  
    
    
}




   

.containerBarra .containerBarraR{
    position: relative;
    width: 680px;
    height: 60px;
   
    left:50%;
    margin-left: -230px;
    clear: none;
    float: left;
   
    
    
    
}
.containerBarra .containerBarraR a{
    position: relative;
    left:0px;
    top:10px;
    
    
    
}
.containerBarra .containerBarraL{
    position: relative;
    width: 220px;
    height: 60px;
   
    left:50%;
    margin-left: -460px;
    clear: none;
    float: left;
    font: 24px "Helvetica Neue", helvetica, arial, sans-serif;
    text-align: center;
    
}
.containerBarra .containerBarraL p{
    position: relative;
    top:0px;
    
    
    
}
.containerBarra .containerBarraL a{
    position: relative;
    left:0px;
    top:10px;
    
    
    
}


#main .img
{
	position:absolute;
	top:0px;
	left:30px;
	overflow: visible;
	
	}

#main .img2
{
	position:absolute;
	top:0px;
	left:650px;
	overflow: visible;
	
	}


/* img{
	border-radius:50%;
-moz-border-radius:50%;
-webkit-border-radius:50%;
	
	
	}
 */	
	
	
	.containerBarra .containerBarraR .a,
	 .containerBarra .containerBarraR .b, 
	 .containerBarra .containerBarraR .c,
	 .containerBarra .containerBarraR .d
	 {
		position:relative;
		top:0px;
		width: 50px;
		height: 50px;
		background-color: red;
		border-radius:50%;
		-moz-border-radius:50%;
		-webkit-border-radius:50%;
		
		margin:0px 50px 0px 0px;
		clear:none;
		float:left;
		cursor:pointer;
		}
	.containerBarra .containerBarraR .a:hover,
	 .containerBarra .containerBarraR .b:hover,
	 .containerBarra .containerBarraR .c:hover,
	 .containerBarra .containerBarraR .d:hover
	 {
		background-color: blue;
		border: 1px solid white;
		}
		
		
		
		
		
		.containerDestaque{
			position:absolute;
			left:50%;
			margin-left:70px;
			width: 330px;
			height:320px;
			top:0px;
			/* background-color:blue; */
			clear:none;
			float:left;
			
		
		
		
		}
		
		.containerDestaque .icon1,
		.containerDestaque .icon2,
		.containerDestaque .icon3,
		.containerDestaque .icon4,
		.containerDestaque .icon5,
		.containerDestaque .icon6,
		.containerDestaque .icon7,
		.containerDestaque .icon8,
		.containerDestaque .icon9
		{
			position:relative;
			top:0px;
			left:0px;
			width: 95px;
			height: 95px;
			
			
			float:left;
			clear:none;
			margin: 6px;
			cursor: pointer;
			border:0px solid black;
		}
		.containerDestaque .icon1{
		/* background-color: #525252; */
		
		
		
		background: #525252 no-repeat fixed center; 
		}
		.containerDestaque .icon2{
		background-color: #DA532C !important;
		}
		.containerDestaque .icon3{
		background-color: #2D89EF !important;
		}
		.containerDestaque .icon4{
		background-color: #FFC40D !important;
		}
		.containerDestaque .icon5{
		background-color: #00A300 !important;
		}
		.containerDestaque .icon6{
		background-color: #B91D47 !important;
		}
		.containerDestaque .icon7{
		background-color:#2B5797 !important;
		}
		.containerDestaque .icon8{
		background-color:#9F00A7 !important;
		}	
		.containerDestaque .icon9{
		background-color:#000 !important;
		}	
	
		
		
		

		.containerDestaque .icon3:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/escultura.jpg) no-repeat center;
		
		
		}
		
		.containerDestaque .icon1:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/musica.jpg) no-repeat center;
			
		
		}
		.containerDestaque .icon2:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/pintura2.jpg) no-repeat center;
			
		
		}
		.containerDestaque .icon6:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/dancaTeatro.jpg) no-repeat center;
			
		
		}
		.containerDestaque .icon5:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/arquitetura.jpg) no-repeat center;
			
		
		}
		.containerDestaque .icon9:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/quadrinhos.jpg) no-repeat center;
			
		
		}
		.containerDestaque .icon7:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/cinema.jpg) no-repeat center;
			
		
		}
		.containerDestaque .icon8:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/fotografia.jpg) no-repeat center;
			
		
		}
		.containerDestaque .icon4:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/literatura.jpg) no-repeat center;
			
		
		}
	
			.icon1 .num, .icon2 .num,  .icon3 .num,  .icon4 .num,
			 .icon5 .num,  .icon6 .num,  .icon7 .num,  .icon8 .num,  .icon9 .num{
			position: absolute;
			bottom: 0;
			right: 0;
			right: 5px;
			margin-bottom: 0;
			color: white;
			width: 30px;
			height: 22px;
			text-align: center;
			font-family: 'Segoe UI Semibold', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
			font-weight: 600;
			font-size: 11pt;
			letter-spacing: 0.01em;
			line-height: 14pt;
			padding-top: 3px;
			background-color: #2D89EF !important;
			}
			.name{
							position: absolute;
					bottom: 0;
					left: 5px;
					top:0px;
					margin-bottom: 0;
					color: white;
					width: 40px;
					height: 22px;
					text-align: center;
					font-family: 'Segoe UI Semibold', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
					font-weight: 600;
					font-size: 8pt;
					letter-spacing: 0.01em;
					line-height: 14pt;
					padding-top: 3px;
					
							
			
			}
		
		
		#containerBread{
				position: absolute;
				top:-30px;
				left:0px;
				width: 900px;
				height: 30px;
				
				text-align: left;
				color:black;
		}
		
				
		#main #containerBread a:hover{
		
		
		text-decoration: none;
		color:red;
		
		
		}
		
		
		
		
	   #containerSubMenu{
		position:relative;
		top:-3px;
		left:270px;
		
	
	
	
	
	
	}
		
		
		.containerMainLeft{
	position: absolute;
/*    width: 100%;*/
    margin: 0 auto;
    width: 720px;
/*    height: 100%;*/

    top:45px;
     background:rgba(236, 236, 236, 0.5);
     padding-bottom: 15px;
	
	}
		
		.containerMainRight{
	position: absolute;
/*    width: 100%;*/
    margin: 0 auto;
    width: 150px;
    height: 100%;
	left:135px;
    top:105px;
    background:none repeat scroll 0 0 rgba(147, 160, 255, 0.71);
	/* border:1px solid green; */
	
		    -moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
                display:block;
	
	}
	     .containerMainRight .btn{
            position:relative;
            top:10px;
            
            
        }

	
	.containerBarra .containerMenu{
 		position:absolute;
		top:15px;
		left:50%;
                margin-left:305px;
	
	
	
	
	} 
		
		
			
        .containerMainLeft .thumbnail{
            position:relative;
            top:60px;
            margin: 5px;
            width: 120px;
            background-color: white;
            clear:none;
            float:left;
            
        }
        
        .containerMainLeft p{
                font-family: verdana;
                line-height: 120%;
                    

        }
        .containerUsersUnespiano{
        	position:relative;
        	margin-top:0px;
                padding-bottom:15px;
        	width: 790px;
                top:10px;
                
                clear:none;
                float:left;
                background:rgba(236, 236, 236, 0.5);
	/*	border:1px solid #989898;  */
	
		    -moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
        	
        
        
        }
        .bordaAlbum{
            position:relative;
            width: 240px;
            
            background-color:red;
            
            
            
            
        }
        .containerUnespiano{
        	position:relative;
        	
        	left:0px;
        	width: 230px;
        	height: 230px;
        	background-color: white;
        	clear:none;
        	float:left;
        	margin: 15px;
        	margin-right:5px;
        	-moz-border-radius:5px;
			-webkit-border-radius:5px;
			border-radius:5px;
			border:1px solid #DDD;
			-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.055);
			-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.055);
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
			-webkit-transition: all 0.2s ease-in-out;
			-moz-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
                        overflow: hidden;
                        margin-bottom: 0px;
        }
        .containerUnespiano img{
        	position:relative;
        	float:left;
        	border:1px solid silver;
        	clear:none;
        	margin:10px;
        	-moz-border-radius:5px;
			-webkit-border-radius:5px;
			border-radius:5px;
			width: 90%;
/*			height: ;*/

                
        	
        
        
        }
        .containerInfoU{
        	position:relative;
        	top:0px;
        	left:70px;
        	
        	height: 100%;
        	width: 180px;
        	line-height: 100%;

        }
        
        .containerInfoU .cNome{
        	position:absolute;
        	font-family: arial;
        	font-size: 12px;
        	font-weight: bold;
        	color:#4A319C;
        	left:0px;
        	top:10px;

        	width:160px;
      		
        
        
        
        
        }
        .cCurso{
        	position:absolute;
        	left:0px;
        	top:30px;
        	width:160px;
        	font-family: arial;
        	font-size: 11px;
        	color:grey;
        	
        
        
        
        }
        .cCampus{
        	position:absolute;
        	left:0px;
        	top:50px;
        	width:160px;
        	font-family: arial;
        	font-size: 11px;
        	color:grey;

        }
        .cTurma{
        	position:absolute;
        	left:0px;
        	top:70px;
        	width:160px;
        	font-family: arial;
        	font-size: 11px;
			font-family: arial;
        	font-size: 11px;
        	color:grey;
        }

        
        .containerUsersUnespianoFotos{
            position: relative;
            top:30px;
            width: 100%;
            clear:none;
            float:left;
            background:rgba(236, 236, 236, 0.5);
	/*	border:1px solid #989898;  */
            padding-bottom: 15px;
		    -moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
              
            
            
        }
        .containerUsersUnespianoFotos img{
            position: relative;
            margin-top: 0px;
            width: 200px;
            padding: 5px;
            border: 1px solid silver;
            background-color: white;
            
            	    -moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
                vertical-align: middle;
            
            
        }
        
        .eventosCalendario{
            
            display:none;
        }
        
        .containerEventosAtivos{
            
            position: relative;
            left: 0px;
            width: 200px;
            background-color: white;
            clear: none;
            float: left;
            margin: 15px;
            margin-right: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            border: 1px solid #DDD;
            -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
            -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            overflow: hidden;
            margin-bottom: 0px;
            top: -290px;
            min-height: 262px;
/*            height: 320px;*/
            padding: 30px;
            
            
        }
        
        
        
        
        
        
        
        
        
        
        
        /*-------------------------------*/
        
.containerPersonal{
			background: none repeat scroll 0 0 rgba(229, 229, 229, 0.6);
		    clear: none;
		    float: left;
		    height: 50px;
		    left: 0;
		    position: absolute;
		    top: 41px;
		    width: 100%;
		    border-bottom:1px solid silver;
                    z-index: 9999;    
		    
	
	}

        .containerPersonal img{
          	position: relative;
                top:5px;
/*                left: 3px;*/
                clear:none;
                float:left;  
                left: 50%;
                margin-left: -450px;
/*                border-radius:50%;  
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;*/
                border: 1px solid grey;
                
         
            
        }

#containerUser{
    position:relative;
    top:10px;
    left:50%;
    width: 200px;
    height: 40px;
    
    margin-left: -405px;
    font-family: verdana;
    font-size: 10px;
    font-weight: bolder;
    text-align: left;
   color:black;
   line-height: 0.5;
   
    
    
    
}

.containerPersonalLateral{
	position:absolute;
	top:0px;
	
	width: 275px;
	
	/* background-color:red; */
	
	
	
	
	
	}

        
        
        
        
        
            
        /*-------------------------------*/
        
.containerPersonal{
			background: none repeat scroll 0 0 rgba(229, 229, 229, 0.6);
		    clear: none;
		    float: left;
		    height: 50px;
		    left: 0;
		    position: absolute;
		    top: 41px;
		    width: 100%;
		    border-bottom:1px solid silver;
                    z-index: 9999;    
		    
	
	}

        .containerPersonal img{
          	position: relative;
                top:5px;
/*                left: 3px;*/
                clear:none;
                float:left;  
                left: 50%;
                margin-left: -450px;
/*                border-radius:50%;  
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;*/
                border: 1px solid grey;
                
         
            
        }

#containerUser{
    position:relative;
    top:10px;
    left:50%;
    width: 200px;
    height: 40px;
    
    margin-left: -405px;
    font-family: verdana;
    font-size: 10px;
    font-weight: bolder;
    text-align: left;
   color:black;
   line-height: 0.5;
   
    
    
    
}

.containerPersonalLateral{
	position:absolute;
	top:0px;
	
	width: 275px;
	
	/* background-color:red; */
	
	
	
	
	
	}

        
        .containerPersonal .containerButtonEdicao{
            position:relative;
            left: 50%;
            width: 100px;
            margin-left: 350px;
            top:-30px;
            
            
            
            
            
        }