
.nova-arte{
	position:relative;
	left: 137px;;


}


//----------------------------------

.ch-carousel-list {
	width:100%;
overflow: hidden;
margin: 0;
padding: 0;
list-style: none;
font-family:arial;
font-size:11px;
}
ol, ul, menu {
list-style: none;
}
.ch-carousel-item {
display: inline-block;
float: left;
margin-right: 3px;
/* border-bottom: 1px solid #ccc; */
margin: 5px;
margin-bottom: 42px;
}




/*a, a:active, a:visited { color: white; text-decoration: none;font-size: 16px; }*/
		html, body {
    height: 100%;
}
* {
    padding: 0px;
    margin: 0px;
}

h1, h2, h3, h4, h5 {
			font-family: Molengo, Arial, Helvetica, sans-serif;
			margin: 0 0 14px 0;
			padding: 0;
		}
		
		p {
			margin: 0 0 7px 0;
			padding: 0;
		}



h1, h2, h3, h4, h5 {
    font-family: Molengo,Arial,Helvetica,sans-serif;
    margin: 0 0 14px;
    padding: 0;
}
.menu{
	margin:15px 0 10px 25px;
	
	}
.menu a, .menu a:visited {
	
color:white;
text-decoration: none;
	
	}
.menu a:hover{
color:red;
text-decoration: none;
		
	
	}	
	
	
	
	
  #main .breadcrumb{
    width: 718px;
    
    
    
}

 #main .breadcrumb li a{
    width: 718px;
    color:blue;
    
}

#main .breadcrumb li a:hover{
    width: 718px;
    color:darkblue;
    text-decoration: none;
    
}
		



/*.atualizacoes{
	width: 20%;
height: 100%;
background: #f66;
min-height: 100%;
position: fixed;
margin-top: 32px;
	
	
}*/
.mainPrincipal{
	min-width: 970px;

background: white;
position: absolute;

height: 100%;
position: absolute;
}






nav{
    position:fixed;
    top:0px;
    width: 100%;
    height: 40px;
    background-color: black;
    overflow: hidden;
    margin: -10px -8px -8px 0px;
    left:0px;
    white-space: nowrap;
    overflow: visible;
    z-index: 9;
    
}

nav ul li{
    
    display: inline-block;
}



body{
    background:#cfcfcf;
    color:#333333;
   
	overflow-x: hidden;
	font-family: 'PT Sans', Arial, Helvetica, sans-serif;
/*    background: url(../../img/index/tile.jpg) top center repeat;*/
    text-align: center;
/*       background:url(../../img/bg_body.jpg) repeat;*/
}


.containerMainLeft{
	position: absolute;
/*    width: 100%;*/
    margin: 0 auto;
    width: 998px;
    height: 1400px;
	background-color:white;
    top:21px;
/*background: rgb(255, 153, 0);*/
/*box-shadow: 0 0 15px 5px #dcdcdc;
-moz-box-shadow: 0 0 15px 5px #dcdcdc;
-webkit-box-shadow: 0 0 15px 5px #dcdcdc;*/
	border:1px solid #ddd;
	
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	
		    /*-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;*/
	box-shadow:0px 1px 12px #cdcec8;
	}

.containerPrincipal{
background-color: white; 
height: auto;
min-height: 100%;
position: relative;
width: 899px;
border-radius: 3px;
 border: 1px solid #999; 
clear: none;
float: left;
margin-left: 10px;
margin-top: 59px;
margin-bottom: 20px;
 box-shadow: 1px 0px 5px 0px rgba(12, 12, 12, 0.1); 
}
.art_thumb{

position: relative;
float: left;
padding: 10px;

height: auto;
clear: none;
margin-top: 15px;
margin-left: 15px;
min-height: 227px;



}

.containerPrincipal .thumbnail{
    margin: 5px;
    
}
#main{
position: relative;
    margin: 0 auto;
	width: 1000px;
    height: 100%;
	display:white;

	/*margin-left: 20%;*/
	height: auto;
min-height: 100%;

/*background: white;*/


}
#background{
   
/*    background-color: #FFFACD;*/
/*    background: url("../img/mural/bum.jpg");
    background-repeat: repeat;*/
       
}
.art-escondido{
float:left;
position: relative;
left: 2px;
top: 1px;
display:none;


}
.containerMenu2{
display:none;
position: absolute;
float: left;
left: 0px;
top: 7px;

}


.containerBarra {
position: relative;
top: 42px;
width: 900px;
height: 30px;
left: 10px;
clear: none;
float: left;
/*z-index: 999;*/

}


.containerBarra button{
    position: relative;
    width: 160px;
    height: 60px;
    
    left:50%;
    margin-left: -440px;
    top:10px;
    float: left;
    clear: none;
  
    
    
}


.containerMainRight{
	position: absolute;
/*    width: 100%;*/
    margin: 0 auto;
    width: 140px;
    height: 100%;
	left:760px;
    top:0px;
    background:none repeat scroll 0 0 rgba(153, 204, 153, 0.7);
	/* border:1px solid green; */
	
		    -moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
	
	}



.containerBarra .containerBarraR{
    position: relative;
    width: 680px;
    height: 60px;
   
    left:50%;
    margin-left: -230px;
    clear: none;
    float: left;
   
    
    
    
}
.containerBarra .containerBarraR a{
    position: relative;
    left:0px;
    top:10px;
    
    
    
}
.containerBarra .containerBarraL{
    position: relative;
    width: 220px;
    height: 60px;
   
    left:50%;
    margin-left: -460px;
    clear: none;
    float: left;
    font: 24px "Helvetica Neue", helvetica, arial, sans-serif;
    text-align: center;
    
}
.containerBarra .containerBarraL p{
    position: relative;
    top:0px;
    
    
    
}
.containerBarra .containerBarraL a{
    position: relative;
    left:0px;
    top:10px;
    
    
    
}


#main .img
{
	position:absolute;
	top:0px;
	left:30px;
	overflow: visible;
	
	}

#main .img2
{
	position:absolute;
	top:0px;
	left:650px;
	overflow: visible;
	
	}


/* img{
	border-radius:50%;
-moz-border-radius:50%;
-webkit-border-radius:50%;
	
	
	}
 */	
	
	
	.containerBarra .containerBarraR .a,
	 .containerBarra .containerBarraR .b, 
	 .containerBarra .containerBarraR .c,
	 .containerBarra .containerBarraR .d
	 {
		position:relative;
		top:0px;
		width: 50px;
		height: 50px;
		background-color: red;
		border-radius:50%;
		-moz-border-radius:50%;
		-webkit-border-radius:50%;
		
		margin:0px 50px 0px 0px;
		clear:none;
		float:left;
		cursor:pointer;
		}
	.containerBarra .containerBarraR .a:hover,
	 .containerBarra .containerBarraR .b:hover,
	 .containerBarra .containerBarraR .c:hover,
	 .containerBarra .containerBarraR .d:hover
	 {
		background-color: blue;
		border: 1px solid white;
		}
		
		.containerManchete{
			position:absolute;
			left:50%;
			top:10px;
			margin-left:-365px;
			clear:none;
			float:left;
			width: 407px;
			height: 305px;
		
		
		
		}
		
		
		
		.containerDestaque{
			position:absolute;
			left:50%;
			margin-left:50px;
			width: 330px;
			height:320px;
			top:0px;
			/* background-color:blue; */
			clear:none;
			float:left;
			
		
		
		
		}
		
		.containerDestaque .icon1,
		.containerDestaque .icon2,
		.containerDestaque .icon3,
		.containerDestaque .icon4,
		.containerDestaque .icon5,
		.containerDestaque .icon6,
		.containerDestaque .icon7,
		.containerDestaque .icon8,
		.containerDestaque .icon9
		{
			position:relative;
			top:0px;
			left:0px;
			width: 95px;
			height: 95px;
			
			
			float:left;
			clear:none;
			margin: 6px;
			cursor: pointer;
			border:0px solid black;
		}
		.containerDestaque .icon1{
		/* background-color: #525252; */
		
		
		
		background: #525252 no-repeat fixed center; 
		}
		.containerDestaque .icon2{
		background-color: #DA532C !important;
		}
		.containerDestaque .icon3{
		background-color: #2D89EF !important;
		}
		.containerDestaque .icon4{
		background-color: #FFC40D !important;
		}
		.containerDestaque .icon5{
		background-color: #00A300 !important;
		}
		.containerDestaque .icon6{
		background-color: #B91D47 !important;
		}
		.containerDestaque .icon7{
		background-color:#2B5797 !important;
		}
		.containerDestaque .icon8{
		background-color:#9F00A7 !important;
		}	
		.containerDestaque .icon9{
		background-color:#000 !important;
		}	
	
		
		
		

		.containerDestaque .icon3:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/escultura.jpg) no-repeat center;
		
		
		}
		
		.containerDestaque .icon1:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/musica.jpg) no-repeat center;
			
		
		}
		.containerDestaque .icon2:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/pintura2.jpg) no-repeat center;
			
		
		}
		.containerDestaque .icon6:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/dancaTeatro.jpg) no-repeat center;
			
		
		}
		.containerDestaque .icon5:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/arquitetura.jpg) no-repeat center;
			
		
		}
		.containerDestaque .icon9:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/quadrinhos.jpg) no-repeat center;
			
		
		}
		.containerDestaque .icon7:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/cinema.jpg) no-repeat center;
			
		
		}
		.containerDestaque .icon8:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/fotografia.jpg) no-repeat center;
			
		
		}
		.containerDestaque .icon4:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/literatura.jpg) no-repeat center;
			
		
		}
	
			.icon1 .num, .icon2 .num,  .icon3 .num,  .icon4 .num,
			 .icon5 .num,  .icon6 .num,  .icon7 .num,  .icon8 .num,  .icon9 .num{
			position: absolute;
			bottom: 0;
			right: 0;
			right: 5px;
			margin-bottom: 0;
			color: white;
			width: 30px;
			height: 22px;
			text-align: center;
			font-family: 'Segoe UI Semibold', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
			font-weight: 600;
			font-size: 11pt;
			letter-spacing: 0.01em;
			line-height: 14pt;
			padding-top: 3px;
			background-color: #2D89EF !important;
			}
			.name{
							position: absolute;
					bottom: 0;
					left: 5px;
					top:0px;
					margin-bottom: 0;
					color: white;
					width: 40px;
					height: 22px;
					text-align: center;
					font-family: 'Segoe UI Semibold', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
					font-weight: 600;
					font-size: 8pt;
					letter-spacing: 0.01em;
					line-height: 14pt;
					padding-top: 3px;
					
							
			
			}
		
		
		#containerBread{
				position: absolute;
				top:-20px;
				left:0px;
				
		
		}
		#main #containerBread a{
		
		color:black;
		
		}
		#main #containerBread a:hover{
		
		
		text-decoration: none;
		color:red;
		
		
		}
		
		
		

		
		.containerMainRight{
	position: absolute;
/*    width: 100%;*/
    margin: 0 auto;
    width: 140px;
    height: 100%;
	left:765px;
    top:0px;
    background:none repeat scroll 0 0 rgba(147, 160, 255, 0.71);
	border: 1px solid rgba(147, 160, 255, 1);
	
		    -moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
	
	}
		.containerBarra .containerMenu{
 		position:relative;
		top:7px;
		left:0px;
		
                z-index: 99;
	
	
	
	} 
        .containerBarra .containerMenu a{
				float:left;
         margin-right: 7px;
margin-left:10px;	
letter-spacing: 1px;
box-shadow:1px 0px 5px 0px rgba(12, 12, 12, 0.5);
        }
		
        .nova-arte{
            margin-left: 60px;
            width: 130px;
        }
        
        
        .pull-left input{
            
            width: 320px;
        }
		
        
        #vitrine article {
float: left;
width: 284px;
margin: 18px;
border: none;
}
 #vitrine article h2{
     
  font-size: 18px;   
 }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
display: block;
font-family: Arial, sans-serif;
}

.product-gallery section {
    position: absolute;
    top:10px;
    left: 10px;
color: #333;
}

div.product-gallery {
margin: 0;
padding: 0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
border: 0;
font-family: inherit;
font-size: 100%;
font-style: inherit;
font-weight: inherit;
margin: 0;
outline: 0;
padding: 0;
vertical-align: baseline;
}
.product-gallery section article {
margin: 5px 17px 12px 0;
height: 235px;
}
.product-gallery section article {
float: left;
width: 215px;
margin: 8px;
padding: 7px;
text-align: center;
border-right: 1px solid #ccc;
}
.product-gallery section article p {
float: right;
font-size: 11px;
color: #9e9e9e;
text-align: right;
width: 120px;
}


.product-gallery h2{
    
}

.product-gallery h3{
    font-size: 18px;
    line-height: 100%;
    
}
.product-gallery section article h3 {
height: 20px;
overflow: hidden;
font-size: 11px;
font-weight: bold;
color: #333;
width: 226px;
text-align: left;
border-bottom: 1px solid #ddd;
line-height: 16px;
margin: 5px 0px 5px 0px;
}

.product-gallery section article h4 a.artist-details {
background: none;
display: table-cell;
color: #333;
text-decoration: none;
line-height: 12px;
text-align: left;
vertical-align: middle;
width: auto;
font-size: 12px;
}
.product-gallery section article a.main {
display: table-cell;
background: url("../img/icons/loader.gif") no-repeat center center;
line-height: 1;
height: 165px;
margin: auto;
text-align: center;
vertical-align: middle;
width: 230px;
}

p {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}


.product-gallery span{
    position: relative;
/*right: -70px;*/
bottom: 20px;

background: none;
display: table-cell;
color: #333;
text-decoration: none;
line-height: 12px;
text-align: left;
vertical-align: middle;
width: auto;
font-size: 12px;
float: right;
    
    
    
}


.arteTipo{
    
position: relative;
bottom: 0px;
background: none;
display: table-cell;
color: #333;
text-decoration: none;
line-height: 12px;
text-align: right;
vertical-align: middle;
width: auto;
font-size: 12px;
float: left;
clear: none;
left: 0px;
    
}
/*-------------botoes CSS3 ---------------------*/


.a_demo_one {
	background-color:#3bb3e0;
	padding:5px;
	position:relative;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#fff;
	border: solid 1px #186f8f;
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44,160,202)),
	color-stop(1, rgb(62,184,229))
	);
	-webkit-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
	-moz-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
	box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
        clear:none;
        float: left;
        margin-left: 30px;
}

.a_demo_one:hover {

 text-decoration: none;
}

.a_demo_one::before {
	background-color:#ccd0d5;
	content:"";
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	padding:8px;
	left:-8px;
	top:-8px;
	z-index:-1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
	-moz-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
	-o-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
	box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
}

.a_demo_one:active {
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	top:0px;
	background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(62,184,229)),
	color-stop(1, rgb(44,160,202))
	);
}




/*#container_buttons{

    
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.09) inset;
    margin: 0 auto;
    padding: 60px 60px 30px;
    width: 400px;
}*/










/*---outro modelo de layout de buttons CSS3---------*/













.metro {
display: inline-block;
padding: 6px;
margin: 10px;
border-radius: 3px;
background: #3bb3e0;
color: white;
font-weight: bold;
text-decoration: none;
}

.metro:hover { background: #0AF; text-decoration: none;}

.metro.three-d {
  position: relative;
  box-shadow: 
    1px 1px #156785,
    2px 2px #156785,
    3px 3px #156785;
  transition: all 0.1s ease-in;
}

.metro.three-d:active { 
  box-shadow: none;
  top: 3px;
  left: 3px;
}
.demo-wrapper{
    position:absolute;
    left:30px;
    top:-12px;
}

/*//#3bb3e0
//inset 0px 1px 0px #7fd2f1, 0px 6px 0px #156785*/

.sombra {
position: absolute;
top: -10px;
font-size: 20px;
color: #666;
z-index: 5;
width: 901px;
height: 26px;
background: linear-gradient(to bottom, #474747 25%, #292929 83%);
clear: none;
float: left;
margin-left: -1px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
/*box-shadow: 2px -2px 2px #A8A8A8;*/

}
.sombra .sombra-titulo {
color: whitesmoke;
font-family: arial;
font-weight: normal;
position: relative;
font-size: 11px;
top: 0px;
letter-spacing: 1px;
}


.btn-campus {
position: absolute;
display: inline-block;
font-size: 0;
white-space: nowrap;
vertical-align: middle;
top: 2px;
right: 17px;
}
.btn-filtro {
position: absolute;
display: inline-block;
font-size: 0;
white-space: nowrap;
vertical-align: middle;
top: 2px;
right: 100px;
}
.containerFiltroParametros{
position: relative;
top: 16px;
height: 30px;
clear: both;
width: 100%;
z-index: 99;

}
.containerFiltroTipo{
    clear: none;
    float: right;
    margin-top: 5px;
    margin-right: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 12px;
font-weight: bold;
color: #666;
}
.containerCampusFiltro{
    clear: none;
    float: right;
    margin-top: 5px;
    margin-right: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 12px;
font-weight: bold;
color: #666;
}
.containerFiltroEspecial{
    clear: none;
    float: right;
    margin-top: 5px;
    margin-right: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 12px;
font-weight: bold;
color: #666;
}




/** parte que precisa estar no esporte**/

.containerCampeonato {
width: 100%;
/*margin: 15px;
margin-top: 10px;*/
}

.Campeonato {
position: relative;
width: 289px;
height: 178px;
background-color: white;
margin: 4px;
clear: none;
float: left;
-moz-border-radius: 1px;
-webkit-border-radius: 1px;
border-radius: 1px;
border: 1px solid #D8D8D8;
/*box-shadow: 1px 0px 5px 0px rgba(12, 12, 12, 0.1);*/
}
.campFoto {
float: left;
width: 100px;
height: 80px;
background-color: rgb(197, 192, 255);
margin: 10px;
}
.contCampInfo {
position: absolute;
right: 10px;
top: 10px;
width: 160px;
height: 120px;
padding: 5px;
}
.contCampInfo p {
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
color: #555;
text-align: left;
line-height: 140%;
margin-left: 7px;
}
.campAtualizacao {
position: absolute;
bottom: 10px;
left: 10px;
width: 120px;
height: 25px;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
color: rgb(58, 58, 58);
text-align: center;
line-height: 100%;
padding: 7px;
-moz-border-radius: 1px;
/* -webkit-border-radius: 1px; */
/* border-radius: 1px; */
border: 1px solid #ccc;
}
.campComentario {
position: absolute;
top: 95px;
left: 10px;
width: 85px;
height: 15px;
background-color: #eee;
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
color: rgb(58, 58, 58);
text-align: center;
line-height: 100%;
padding: 7px;
-moz-border-radius: 1px;
-webkit-border-radius: 1px;
border-radius: 1px;
}
.campMais {
position: absolute;
bottom: 8px;
right: 8px;
width: 59px;
height: 10px;
background-color: #B1B1B1;
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: bold;
color: rgb(5, 5, 5);
text-align: center;
line-height: 100%;
padding: 7px;
-moz-border-radius: 1px;
-webkit-border-radius: 1px;
border-radius: 1px;
border: 1px solid #BBBBBB;
cursor: pointer;
}
.esporteApresentacao {
position: relative;
top: 7px;
left: 50%;
width: 930px;
background-color: rgb(79, 167, 255);
height: 200px;
margin-left: -480px;
}
.modal-loading {
    position: absolute;
    top: 150px;
    left: 50%;
    height: 100px;
    width: 400px;
    margin-left: -200px;
    z-index: 99999;
    display:none;
}
