





body{
    /*background-color: white; */
    color:#333333;
    font: 12px/18px "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
	overflow-x: hidden; 
    line-height: 1;
    /*background: url(../../img/index/tile.jpg) top center repeat;*/
}


nav{
    position:fixed;
    top:0px;
    width: 100%;
    height: 40px;
    background-color: black;
    overflow: hidden;
    margin: -10px -8px -8px 0px;
    left:0px;
    white-space: nowrap;
    overflow: visible;
    z-index: 9;
    
}

nav ul li{
    
    display: inline-block;
}
.containerBarra{
		position: absolute;
		top: 42px;
		width: 100%;
		height: 35px;
		background: rgb(202, 202, 202);
		margin: 0 auto;
		border-bottom: 1px solid rgb(179, 177, 177);
		z-index: 99;
  
    
}


.containerBarra button{
    position: relative;
    width: 160px;
    height: 60px;
    
    left:50%;
    margin-left: -440px;
    top:10px;
    float: left;
    clear: none;
  
    
    
}





.containerBarra .containerBarraR{
    position: relative;
    width: 680px;
    height: 60px;
   
    left:50%;
    margin-left: 340px;
    clear: none;
    float: left;
   
    
    
    
}
.containerBarra .containerBarraR a{
    position: relative;
    left:0px;
    top:10px;
    
    
    
}
.containerBarra .containerBarraL{
    position: relative;
    width: 220px;
    height: 60px;
   
    left:50%;
    margin-left: -460px;
    clear: none;
    float: left;
    font: 24px "Helvetica Neue", helvetica, arial, sans-serif;
    text-align: center;
    
}
.containerBarra .containerBarraL p{
    position: absolute;
    width: 300px;
    top:10px;
    left:220px;
    
    
    
}
.containerBarra .containerBarraL a{
    position: relative;
    left:0px;
    top:10px;
    
    
    
}




.containerMurais{
   border: 0px solid #D2D2D2;
    float: left;
    height: 40px;
    position: absolute;
    top: 10px;
    transition-delay: 2s;
    width: 685px
    
}










.anuncio{
position:relative;
    top:30px;
    width: 200px;
    height: 55px;
    background-color: white;
    margin:10px;
    clear:none;
    float:left;
    text-decoration: none;
    
    
        -moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid grey;
	
}


.anuncio img{
    position: relative;
    clear:none;
    float:left;
    
    
}

.containerBarraLateral{
   
    clear: none;
    float: left;

    left: 0;
    position: absolute;
    top: 8px;
    width: 220px;
/*    height: 400px;*/
 /*   border:1px solid #989898; */
     margin: 0 auto;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    
    
    
/*    background-color: red;*/
}

.tituloForum{
    position:relative;
    width: 100%;
    height: 60px;
    background-color:yellow;
    border: 1px solid silver;
}
.nomeForum{
    position:relative;
    width: 100%;
    height: 30px;
    background-color: #5E78FF;
    border: 1px solid silver;
    cursor: pointer;
}
.nomeForum span{
    position:relative;
    overflow: hidden;
    display:none;
}

















/*
.containerBarraLateral ul{
    list-style: none;
    clear: both;
    margin: 0;
    padding: 0;
  
}
.containerBarraLateral li{
    text-align: center;
    list-style: none;
    clear: none;
    float: left;
}

.containerBarraLateral .forum-list{
    width: 100%;
}

.containerBarraLateral .forum-list .fl-header{
    width: 100%;
     height: 40px;
    border: 1px solid red;
 text-align: center;
  background:none repeat scroll 0 0 rgba(147, 160, 255, 0.71);
  border-radius:3px;
}

.containerBarraLateral .forum-list .fl-header .fl-titulos{
    width: 90%;
    font: 12px/24px "Helvetica Neue", helvetica, arial, sans-serif;
    color:#222;
    margin: 8px;
    font-weight: bold;
    margin-left: 10px;
    
}


.containerBarraLateral .forum-list .fl-header .fl-titulos .fl-titulo{
    width: 70%;
    text-align: left;
    clear:none;

}
.containerBarraLateral .forum-list .fl-header .fl-titulos .fl-titulo-count{
    width: 20%;
    text-align: center;
    clear:none;

}

.containerBarraLateral .forum-list .fl-body{
    
    width: 100%;
     height: 100%;
    border: 1px solid red;
 text-align: center;
 
    
}
.containerBarraLateral .forum-list .fl-body .fl-titulos{
    
    width: 100%;
    height: 100px;
    height: 100%;
    
    color:#222;
    background-color: rgba(255, 255, 255, 1);
    
    border-top: 1px solid #EEE;
    overflow: hidden;
    font-family: verdana;
    font-size: 12px;
}*/
/*.containerBarraLateral .forum-list .fl-body .fl-titulos.odd

{
    overflow: hidden;
    border-top: 1px solid #EEE;
    background:none repeat scroll 0 0 rgba(240, 240, 240, 1);
}
.containerBarraLateral .forum-list .fl-body .fl-titulos.odd:hover,
.containerBarraLateral .forum-list .fl-body .fl-titulos:hover
{
    
    
    background:none repeat scroll 0 0 rgba(250, 209, 147, 0.7);
}


.containerBarraLateral .forum-list .fl-body .fl-titulos .fl-titulo
{
    width: 70%;
    text-align: left;
    clear:none;
    margin-left: 10px;
    font: 12px/24px "Helvetica Neue", helvetica, arial, sans-serif;
    font-weight: bold;
}


.containerBarraLateral .forum-list .fl-body .fl-titulos .fl-titulo .fl-titulo-conteudo
{
    font-style: italic;
    
}
.containerBarraLateral .forum-list .fl-body .fl-titulos .fl-titulo .fl-titulo-conteudo
{
    font-style: italic;
    display:none;
    
}


.containerBarraLateral .forum-list .fl-body .fl-titulos .fl-titulo .fl-titulo-conteudo a
{
    color:orange;
    text-decoration: none;
     font: 10px/24px "Helvetica Neue", helvetica, arial, sans-serif;
     font-weight: normal;
}

.containerBarraLateral .forum-list .fl-body .fl-titulos .fl-titulo .fl-titulo-conteudo a:hover
{
 color: #D54E21;
 text-decoration: underline; 
}





.containerBarraLateral .forum-list .fl-body .fl-titulos .fl-titulo-count{
    position:relative;
    top:10px;
    width: 20%;
    text-align: center;
    clear:none;

}*/






/*    barra direita - topicos!    */



.containerPrincipal{
    
   /*    background: none repeat scroll 0 0 rgba(153, 204, 153, 0.7); */
        clear: none;
        float: right;
        height: 600px;
        left: 25px;
        position: relative;
        top: 10px;
        width: 715px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    
/*    border:1px solid green; */
    
}

.containerPrincipal ul {
	 list-style: none;
    clear: both;
    margin: 0;
    padding: 0;
}



.containerPrincipal li {

 text-align: center;
    list-style: none;
    clear: none;
    float: left;
}


.containerPrincipal .forum-list-container{
    width: 100%;
}

.containerPrincipal .forum-list-container .flc-header{
    width: 100%;
     height: 40px;
/*    border: 1px solid red;*/
 text-align: center;
  background:none repeat scroll 0 0 rgba(147, 160, 255, 0.71);
  border-radius:3px;
}

.containerPrincipal .forum-list-container .flc-header .flc-titulos{
    width: 100%;
    font: 12px/24px "Helvetica Neue", helvetica, arial, sans-serif;
    color:#222;
    margin: 8px;
    font-weight: bold;
    margin-left: 10px;
    
}

.containerPrincipal .forum-list-container .flc-header .flc-titulos .flc-titulo{
    width: 60%;
    text-align: left;
    
}
.containerPrincipal .forum-list-container .flc-header .flc-titulos .flc-titulo-opiniao{
    width: 10%;
    text-align: left;
    
}

.containerPrincipal .forum-list-container .flc-header .flc-titulos .flc-titulo-resposta{
    width: 10%;
    text-align: left;
    
}
.containerPrincipal .forum-list-container .flc-header .flc-titulos .flc-titulo-ultima{
    width: 20%;
    text-align: left;
    
}

.containerPrincipal .forum-list-container .flc-body{
    
    width: 100%;
     
/*    border: 1px solid red;*/
 text-align: center;
 
    
}
.containerPrincipal .forum-list-container .flc-body .flc-titulos{
    
    width: 100%;
    height: 50px;  
    
    color:#222;
    background-color: rgba(255, 255, 255, 1);
    
    border-top: 1px solid #EEE;
    overflow: hidden;
    font-family: verdana;
    font-size: 12px;
}
.containerPrincipal .forum-list-container .flc-body .flc-titulos.odd

{
    overflow: hidden;
    border-top: 1px solid #EEE;
    background:none repeat scroll 0 0 rgba(240, 240, 240, 1);
}
.containerPrincipal .forum-list-container .flc-body .flc-titulos.odd:hover,
.containerPrincipal .forum-list-container .flc-body .flc-titulos:hover
{
    
    
    background: none repeat scroll 0 0 rgba(153, 204, 153, 0.7);
}


.containerPrincipal .forum-list-container .flc-body .flc-titulos .flc-titulo
{
    width: 60%;
    text-align: left;
    clear:none;
  
    font: 12px/24px "Helvetica Neue", helvetica, arial, sans-serif;
    font-weight: bold;
  /*  border:1px solid red; */
}

.containerPrincipal .forum-list-container .flc-body .flc-titulos .flc-titulo a{
    position:relative;
    left:10px;
}
.containerPrincipal .forum-list-container .flc-body .flc-titulos .flc-titulo-opiniao
{
    width: 10%;
    text-align: center;
    clear:none;
  
    font: 12px/24px "Helvetica Neue", helvetica, arial, sans-serif;
    font-weight: bold;
 
}

.containerPrincipal .forum-list-container .flc-body .flc-titulos .flc-titulo-resposta
{
    width: 10%;
    text-align: center;
    clear:none;
  
    font: 12px/24px "Helvetica Neue", helvetica, arial, sans-serif;
    font-weight: bold;
   
}

.containerPrincipal .forum-list-container .flc-body .flc-titulos .flc-titulo-ultima
{
    width: 19%;
    text-align: center;
    clear:none;
  
    font: 12px/24px "Helvetica Neue", helvetica, arial, sans-serif;
    font-weight: bold;
 
}


.containerPrincipal .forum-list .fl-body .fl-titulos .fl-titulo .fl-titulo-conteudo a
{
    color:orange;
    text-decoration: none;
     font: 10px/24px "Helvetica Neue", helvetica, arial, sans-serif;
     font-weight: normal;
}

.containerPrincipal .forum-list .fl-body .fl-titulos .fl-titulo .fl-titulo-conteudo a:hover
{
 color: #D54E21;
 text-decoration: underline; 
}





.containerPrincipal .forum-list-conteudo .flc-body .flc-titulos .flc-titulo-count{
    position:relative;
    top:10px;
    width: 20%;
    text-align: center;
    clear:none;

}

.containerBarraLateral .accordion-group-header{
    height: 40px;
    background:none repeat scroll 0 0 rgba(147, 160, 255, 0.71); 
    
    
}
.containerBarraLateral .accordion-group-header span{
    float:left;
    position: relative;
    top:8px;
    font:12px/24px "Helvetica Neue", helvetica, arial, sans-serif;
    font-weight: bold;
   margin-left: 15px;
    
    
}

.containerBarraLateral .accordion-group-body{
    background-color:rgba(255, 255, 255, 1); 
    min-height: 50px;
    
}
.containerBarraLateral .accordion-body .accordion-inner {
    background-color:rgba(255, 255, 216, 1); 
  
    
}
.containerBarraLateral .accordion-body .accordion-inner a{
    position:absolute;
    bottom: 0px;
    right:0px;
    clear:none;
    float:right;
  
    
}
.containerBarraLateral .accordion-group-body a{
    text-decoration: none;
    color:#000;
    
}


/*
    font-size: 13px;
    clear:none;
    float:right;
    font-weight: bold;
    margin: 10px;
    
    position:absolute;
    bottom: 10px;
    right:10px;*/




        #containerBackground{
	position:absolute;
	top:93px;
	width:100%;
/*	background-image: url(../../img/index/tile.jpg) top center repeat;*/
        background-position: top center;
        background-image: url(../../img/index/tile.jpg);
        background-color: #fff;
	height:800px;
	
	
	
	}
        
         .containerFormAjax{
    position: absolute;
    top: 90px;
/*    background-color: rgba(255, 251, 232, 0.6);*/
    height: 525px;
    width: 100%;
                /*display:none; */
    /*       height: 100%;     */
     background-image: url(../../img/bg.png); 
            
            
        }
        
                #containerForm{
            position: relative;
            top: 40px;
            left: 50%;
            width: 900px;
            height: 446px;
            background-color: rgba(125, 204, 142, 1.0);
/*            border: 1px solid red;*/
            margin-left: -450px;
            box-shadow: 0px 0px 10px grey;
            -moz-border-radius:5px;
            -webkit-border-radius:5px;
            border-radius:5px;

            
        }
    
.containerTipoTitulo {
position: absolute;
left: 50%;
text-align: left;
width: 430px;
height: 80px;
top: 20px;
margin-left: -215px;
}

                .tituloReportagem{
            position: relative;
            top:10px;
            
            
        }
        
                #editorNovot{
position: relative;
width: 550px;
top: -20px;
left: 50%;
margin-left: -275px;
background-color: #FFF;
    

    
}
#editorNovot textarea{
    
    border-radius: 5px;    
    
/*    display:none;*/
}


                #containerButtons{
            position:absolute;
            top:380px;
            left:750px;
            width: 400px;
            height: 40px;
            
            
        }
        
                #containerFoto{
                        position: relative;
                    top: 5px;
                    left: 10px;
                    -moz-border-radius: 10px;
                    -webkit-border-radius: 10px;
                    border-radius: 10px;
            
        }
        
        .nicEdit-main {
background-color: #FFF;
}
        .pull-left input{
            
            width: 320px;
        }
        
		.dropdown-menu{
			text-align: center;
		}


.containerMainLeft{
	position: absolute;
/*    width: 100%;*/
    margin: 0 auto;
    width: 950px;
    height: 1400px;

    top:0px;
background: #fff;
box-shadow: 0 0 15px 5px #dcdcdc;
-moz-box-shadow: 0 0 15px 5px #dcdcdc;
-webkit-box-shadow: 0 0 15px 5px #dcdcdc;
/*	border:1px solid #DBDBDB;*/
	
		    -moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
	
	}


#main{
    position: absolute;
/*    width: 100%;*/
    margin: 0 auto;
    width: 920px;
/*    height: 100%;*/
    left: 50%;
    margin-left: -460px;
    top:20px;
  /*  background:none repeat scroll 0 0 #F1F1F1; */
 

}








#container {
position: absolute;
top: 90px;
margin-left: -485px;
left: 50%;
width: 930px;
box-shadow: 0px 0px 15px 5px #ccc;
padding: 15px;
color: #000;
overflow: hidden;
background-color: rgba(43, 170, 53, 0.80);
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

#content {
float: left;
width: 570px;
overflow: hidden;
margin: -30px 0;
}
.post {
margin: 30px 0;
padding: 20px;
line-height: 16pt;
background: #EFEFEF url(../../img/esporte/post-bg.jpg) no-repeat 1px 1px;
border: 1px solid #BEBEBE;
}

a {
color: #7794B1;
text-decoration: none;
text-shadow: 1px 1px 0px #fff;
}
.thumb img {
margin: 0 30px 10px -4px;
padding: 14px 14px 14px 14px;
border: none;
background: #fff url(../../img/esporte/thumb-bg.jpg);
overflow: hidden;
float: left;
}
.post h2 {
font: normal 13pt georgia, times;
margin: 0 0 5px 0;
text-shadow: 1px 1px 0px #fff;
}
.post h2 a {
color: #000;
text-decoration: none;
}
small {
font-size: smaller;
}

small a {
color: #000;
text-shadow: 1px 1px 0px #fff;
}
.entry p {
margin: 5px 0;
}

.postmetadata {
clear: both;
background: #F7F6F6;
padding: 5px 29px;
margin: 20px -29px -29px -29px;
border-top: 1px solid #dddddd;
font-weight: bold;
overflow: hidden;
}
.postmetadata a {
color: #000000;
}
.navigation {
font-family: Arial, Helvetica, sans-serif;
font-size: 12pt;
width: 570px;
float: left;
margin: 0;
padding: 20px 0;
overflow: hidden;
font-weight: bold;
}

.wp-pagenavi span.current {
padding: 2px 4px 2px 4px;
margin: 2px;
border: 1px solid #ccc;
color: #000;
background-color: #f2f2f2;
}
.wp-pagenavi a:visited {
padding: 2px 4px 2px 4px;
margin: 2px;
text-decoration: none;
border: 1px solid #ccc;
color: #ccc;
background-color: #FFFFFF;
}
.wp-pagenavi a, .wp-pagenavi a:link {
padding: 2px 4px 2px 4px;
margin: 0 2px;
text-decoration: none;
border: 1px solid #ccc;
color: #999;
background-color: #FFFFFF;
}
.wp-pagenavi a, .wp-pagenavi a:link {
padding: 2px 4px 2px 4px;
margin: 0 2px;
text-decoration: none;
border: 1px solid #ccc;
color: #999;
background-color: #FFFFFF;
}






#sidebar {
font-family: Arial, Helvetica, sans-serif;
font-size: 10pt;
width: 340px;
float: right;
margin: 0px 0;
padding: 0;
color: #384464;
}

#featured {
margin: 0 0 30px 0;
}

.fblock {
font-size: 8pt;
font-weight: normal;
padding: 30px;
line-height: 17pt;
margin: 0 0 -1px 0;
background: #EFEFEF url(../../img/esporte/post-bg.jpg) no-repeat 1px 1px;
border: 1px solid #BEBEBE;
color: #384464;
}
#sidebar a {
color: #000000;
}
#sidebar .fblock img {
float: left;
width: 80px;
height: 80px;
margin: 5px 15px 0 0;
border: 2px solid #fff;
}
.fblock h3 {
font: normal 13pt Georgia, "Times New Roman", Times, serif;
color: #000;
margin: 0;
padding: 0 0 5px 0;
text-shadow: 1px 2px 0px #fff;
}
#sidebar p {
margin: 0;
padding: 0 6px 0 12px;
}