

html{
	height: 100%;
}

body{
    
    background-color: whitesmoke;

    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    /*background: url(../../img/index/tile.jpg) top center repeat;*/
    text-align: center;
 	height: 100%;
 	background:url(../../img/bg_body.jpg) repeat;  
}


.containerBarra{
	position: absolute;
	top: 42px;
	width: 100%;
	height: 35px;
	background: #ddd;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
}


#main{
    position: relative;
/*    width: 100%;*/
    margin: 0 auto;
    width: 970px;
    height: 100%;
   
    top:85px;
    background:white;
  	border: 1px solid #ddd;
/*    box-shadow:1px 1px 10px #ccc; */
    
    /*display:table;*/
    padding-bottom: 400px;
       	    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    
                border-top-left-radius: 10px;
            border-top-right-radius:10px;
            box-shadow:0px 1px 12px #cdcec8;
}
#background{
   
/*    background-color: #FFFACD;*/
/*    background: url("../img/mural/bum.jpg");
    background-repeat: repeat;*/
     
    background-repeat:repeat;
    width: 100%;
    min-width: 900px;
    
}


nav{
    position:fixed;
    top:0px;
    width: 100%;
    height: 40px;
    background-color: black;
    overflow: hidden;
    margin: -10px -8px -8px 0px;
    left:0px;
    white-space: nowrap;
    overflow: visible;
    z-index: 9;
    
}

nav ul li{
    
    display: inline-block;
}







.containerHeader{
   position:absolute;
   top:20px;
   width: 100%;
   height: 200px;
   /*border: 1px solid #DDD;*/
   /*background:none repeat scroll 0 0 rgba(229, 229, 229, 0.6);*/
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    
}

.containerImg{
position: relative;
top: 0px;
margin: 10px;
top: 0px;
left: 0px;
clear: none;
float: left;
width: 947px;
height: 190px;
border: 1px solid #D2D2D2;
background: url(../../img/unespianos/balao.jpg);
}


.containerHeader .containerImg2{
    position:absolute;
    top:0px;
    margin: 10px;
    left:560px;
    width: 300px;
    height: 138px;
    background:url(../../img/unespianos/balao.jpg);    
}
.containerButtons{
position: absolute;
top: 221px;
width: 100%;
float: left;
height: 30px;
border: 1px solid #555;
background: #555;
font-weight: normal;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
box-shadow:2px 2px 2px #cdcec8;
}
.containerButtons .UserPageTitulo a{
        font-weight: normal;
        margin-right: 20px;
        color: #000;
}


.containerUser{
     position:absolute;
   top:276px;
   left:560px;
   width: 350px;
   float:right;
   height: 161px;
   /*background: none repeat scroll 0 0 #F1F1F1;*/
   /*border: 1px solid #D2D2D2;*/
   -moz-border-radius:3px;
   -webkit-border-radius:3px;
   border-radius:3px;
    
    
}

.foto{
    position:absolute;
    top:0px;
    left:0px;
    margin: 5px;
    height: 150px;
    width: 140px;
/*    background-color: #357AE8;*/
     background:url(../../img/unespianos/guy.jpg);
}

.containerUser .button{
    position:relative;
    
    float: right;
    top:140px;
}



.containerPublica{
        position:absolute;
        top:423px;
        left:10px;
        width: 310px;
        float:right;
        height: 650px;
        /*background:none repeat scroll 0 0 rgba(229, 229, 229, 0.6);*/
        border: 1px solid #DBDBDB;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        border-radius:3px;
        background-color: whitesmoke;
        
}

.containerUsers{
        position:absolute;
        top:277px;
        width: 520px;
        float:left;
        height: 135px;
        left: 10px;
/*        border: 1px solid #D2D2D2;
        background: none repeat scroll 0 0 #F1F1F1;*/
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        border-radius:3px;
        background-color: whitesmoke;
        
         /*background: none repeat scroll 0 0 rgba(229, 229, 229, 0.6);*/
        border: 1px solid #DDD;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
overflow: hidden;
margin-bottom: 0px;
  
}










.UserPageTitulo{
    font-size: 13px;
    clear:none;
    float:left;
    font-weight: bold;
    margin: 3px;
    margin-left: 5px;
    
}
.UserPageTituloBottom{
    font-size: 13px;
    clear:none;
    float:right;
    font-weight: bold;
/*    margin: 10px;*/
    
    position:absolute;
    bottom: 10px;
    right:10px;
    
}
.UserPageFotos{
        position: absolute;
        top: 50px;
        left: 15px;
        height: 65px;
        margin-left: 30px;
    
}
.UserPageFotos img{
        margin-right: 10px;
        border-radius:2px;
        -moz-border-radius:2px;
        -webkit-border-radius:2px;
    
}
.containerMural{
        position:absolute;
        top:750px;
        left:540px;
        width: 415px;
        float:right;
        height: 250px;
/*        background: none repeat scroll 0 0 rgba(229, 229, 229, 0.6);*/
        border: 1px solid #D2D2D2;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        border-radius:3px;
        background-color: whitesmoke;
}


.containerFilantropia{
    
        position:absolute;
        top:423px;
        left:330px;
        width: 200px;
        float:right;
        height: 165px;
        /*background:none repeat scroll 0 0 rgba(229, 229, 229, 0.6);*/
        border: 1px solid #D2D2D2;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        border-radius:3px;
        background-color: whitesmoke;
}
.containerNoticias{
    
        position:absolute;
        top:598px;
        left:330px;
        width: 200px;
        float:right;
        height: 252px;
        /*background: none repeat scroll 0 0 rgba(229, 229, 229, 0.6);*/
        border: 1px solid #D2D2D2;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        border-radius:3px;
        background-color: whitesmoke;
    
}

.containerFotos{
        position:absolute;
        top:489px;
        left:540px;
        width: 415px;
        float:right;
        height: 250px;
        /*background: none repeat scroll 0 0 rgba(229, 229, 229, 0.6);*/
        border: 1px solid #D2D2D2;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        border-radius:3px;
        background-color: whitesmoke;
   
}

body .breadcrumb{
    position: relative;
top: 85px;
padding: 2px 15px;
margin: 0 0 0px;
list-style: none;
background-color: #f5f5f5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
border: 1px solid #DBDBDB;
text-align: left;
width: 940px;
left: 50%;
margin-left: -485px;
}

.item-original {
position: relative;
top:50px;
width: 290px;
background-color: white;
margin: 10px;
font: normal 13px arial,sans-serif;
line-height: 1.4;
padding-bottom: 20px;
text-align: center;
margin-bottom: 10px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

.containerUnespiano {
position: relative;
left: 0px;
width: 150px;
height: 90px;
background-color: white;
clear: none;
float: left;
margin: 15px;
margin-right: 5px;
-moz-border-radius: 1px;
-webkit-border-radius: 1px;
border-radius: 1px;
border: 1px solid #DDD;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
overflow: hidden;
margin-bottom: 0px;
}

.containerInfoUser{
    
        position: relative;
        left: 135px;
        width: 190px;
        height: 90px;
        background-color: white;
        clear: none;
        float: left;
        margin: 15px;
        margin-right: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #DDD;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
        -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        margin-top: 5px;
        background-color: whitesmoke;
}

.containerInfoUser p{
        margin: 5px;
        font-weight: bold;
        font-size: 11px;
        float:left;
        line-height: 80%;

}
.containerInfoUser .infoNome, .containerInfoUser .infoCampus{
        margin: 5px;
        font-weight: bold;
        font-size: 15px;
        float:left;
        line-height: 90%;

}

.thumbnail {
    width: 150px;
    background-color: white;
    height: 200px;
    margin: 5px;
    clear: none;
    float: left;
}
        .pull-left input{
            
            width: 330px;
        }
        


#main .breadcrumb{
		position: relative;
		top: 0px;
		padding: 3px 5px;
		margin: 0 0 0px;
		list-style: none;
		background-color: #ddd;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		border: 1px solid #CCCCCC;
		text-align: left;
		width: 340px;
		left: 50%;
		margin-left: -455px;
		
		color: #ccc;
}
#main ul li a{
	color: #999;
}

.btn-conheco{
	margin-right: 30px;
        width: 200px;
        position: relative;
        top: 0px;
        left: 300px;
}

 .breadcrumbSection{
            background-color: #555;
            border-top-left-radius: 10px;
            border-top-right-radius:10px;
            box-shadow:2px -2px 2px #cdcec8;
            
        }
 .breadcrumbSection li a, #containerBackground ul li span{
                color: #444;
                text-shadow: 0px 0px 0px #000;
          }
          	#main .breadcrumb{
position: relative;
padding: 2px 5px;
list-style: none;
background-color: #555;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
border: 0px solid #CCCCCC;
text-align: left;
width: 340px;
left: 50%;
margin-left: -480px;
border-bottom: 1px solid #ccc;
z-index: 999;
}


#main .breadcrumbSection li a, #containerBackground ul li span {
color: #fff;
font-family: Arial, sans-serif;
font-size: 11px;
font-weight: bold;


}
.divider{
color: #fff;
}