html, body{height:100%; margin: 0px; padding: 0px;}

*{
    margin: 0px;
}

body > #main {height: auto; min-height: 100%;}

h1, h2, h3, h4, h5 {
			font-family: Molengo, Arial, Helvetica, sans-serif;
			margin: 0 0 14px 0;
			padding: 0;
		}
		
		p {
			margin: 0 0 7px 0;
			padding: 0;
		}


body{
    color:#333333;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    text-align: center;
/*    padding-bottom: 40px;*/
           background:url(../../img/bg_body.jpg) repeat;
}

.menu{
	margin:15px 0 10px 25px;
	
	}
.menu a, .menu a:visited {
	
color:white;
text-decoration: none;
	
	}
.menu a:hover{
    color:red;
    text-decoration: none;
		
	
	}	
	
	#main .breadcrumb{
position: relative;
padding: 2px 5px;
list-style: none;
background-color: #555;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
border: 0px solid #CCCCCC;
text-align: left;
width: 340px;
left: 50%;
margin-left: -480px;
z-index: 999;
}
#main ul li a{
	color: #444;
}


	
		


nav{
    position:fixed;
    top:0px;
    width: 100%;
    height: 40px;
    background-color: black;
    overflow: hidden;
    margin: -10px -8px -8px 0px;
    left:0px;
    white-space: nowrap;
    overflow: visible;
    z-index: 9;
    
}

nav ul li{
    
    display: inline-block;
}





.containerMainLeft{
	position:relative;
/*    width: 100%;*/
/*    margin: 0 auto;*/
    width: 998px;
    height: auto;
    min-height:100%;
    border: 1px solid #ccc;
    top:0px;
background: white;
box-shadow:0px 1px 12px #cdcec8;


	
		    -moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
	padding-bottom: 50px;
        
                    border-top-left-radius: 10px;
            border-top-right-radius:10px;
        
	}

        .containerMainLeft .breadcrumbSection{
background-color: #555;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom: 1px solid #555;
height: 26px;
        }
#main{
/*position: relative;*/
/*margin: 0 auto;*/
width: 1000px;
/*left: 50%;*/
/*margin-left: -485px;*/
top: 85px;
height: auto;
height: 100%;
min-height: 100%;
/*padding-bottom: 40px;*/
margin: 0 auto -70px;
}
#background{
   
/*    background-color: #FFFACD;*/
/*    background: url("../img/mural/bum.jpg");
    background-repeat: repeat;*/
       
}

.containerBarra{
	position: relative;
	top: 42px;
	width: 100%;
	height: 35px;

	margin: 0 auto;

	z-index: 99;
        margin-bottom: 55px;
        
    
}


.containerBarra button{
    position: relative;
    width: 160px;
    height: 60px;
    
    left:50%;
    margin-left: -440px;
    top:10px;
    float: left;
    clear: none;
  
    
    
}


.containerMainRight{
	position: absolute;
/*    width: 100%;*/
    margin: 0 auto;
    width: 140px;
    height: 100%;
	left:760px;
    top:0px;
    background:none repeat scroll 0 0 rgba(153, 204, 153, 0.7);
	/* border:1px solid green; */
	
		    -moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
	
	}



.containerBarra .containerBarraR{
    position: relative;
    width: 680px;
    height: 60px;
   
    left:50%;
    margin-left: -230px;
    clear: none;
    float: left;
   
    
    
    
}
.containerBarra .containerBarraR a{
    position: relative;
    left:0px;
    top:10px;
    
    
    
}
.containerBarra .containerBarraL{
    position: relative;
    width: 220px;
    height: 60px;
   
    left:50%;
    margin-left: -460px;
    clear: none;
    float: left;
    font: 24px "Helvetica Neue", helvetica, arial, sans-serif;
    text-align: center;
    
}
.containerBarra .containerBarraL p{
    position: relative;
    top:0px;
    
    
    
}
.containerBarra .containerBarraL a{
    position: relative;
    left:0px;
    top:10px;
    
    
    
}


#main .img
{
	position:absolute;
	top:0px;
	left:30px;
	overflow: visible;
	
	}

#main .img2
{
	position:absolute;
	top:0px;
	left:650px;
	overflow: visible;
	
	}


/* img{
	border-radius:50%;
-moz-border-radius:50%;
-webkit-border-radius:50%;
	
	
	}
 */	
	
	
	.containerBarra .containerBarraR .a,
	 .containerBarra .containerBarraR .b, 
	 .containerBarra .containerBarraR .c,
	 .containerBarra .containerBarraR .d
	 {
		position:relative;
		top:0px;
		width: 50px;
		height: 50px;
		background-color: red;
		border-radius:50%;
		-moz-border-radius:50%;
		-webkit-border-radius:50%;
		
		margin:0px 50px 0px 0px;
		clear:none;
		float:left;
		cursor:pointer;
		}
	.containerBarra .containerBarraR .a:hover,
	 .containerBarra .containerBarraR .b:hover,
	 .containerBarra .containerBarraR .c:hover,
	 .containerBarra .containerBarraR .d:hover
	 {
		background-color: blue;
		border: 1px solid white;
		}
		
		.containerManchete{
			position:absolute;
			left:50%;
			top:10px;
			margin-left:-365px;
			clear:none;
			float:left;
			width: 407px;
			height: 305px;
		
		
		
		}
		
		
		
		.containerDestaque{
			position:absolute;
			left:50%;
			margin-left:50px;
			width: 330px;
			height:320px;
			top:0px;
			/* background-color:blue; */
			clear:none;
			float:left;
			
		
		
		
		}
		
		.containerDestaque .icon1,
		.containerDestaque .icon2,
		.containerDestaque .icon3,
		.containerDestaque .icon4,
		.containerDestaque .icon5,
		.containerDestaque .icon6,
		.containerDestaque .icon7,
		.containerDestaque .icon8,
		.containerDestaque .icon9
		{
			position:relative;
			top:0px;
			left:0px;
			width: 95px;
			height: 95px;
			
			
			float:left;
			clear:none;
			margin: 6px;
			cursor: pointer;
			border:0px solid black;
		}
		.containerDestaque .icon1{
		/* background-color: #525252; */
		
		
		
		background: #525252 no-repeat fixed center; 
		}
		.containerDestaque .icon2{
		background-color: #DA532C !important;
		}
		.containerDestaque .icon3{
		background-color: #2D89EF !important;
		}
		.containerDestaque .icon4{
		background-color: #FFC40D !important;
		}
		.containerDestaque .icon5{
		background-color: #00A300 !important;
		}
		.containerDestaque .icon6{
		background-color: #B91D47 !important;
		}
		.containerDestaque .icon7{
		background-color:#2B5797 !important;
		}
		.containerDestaque .icon8{
		background-color:#9F00A7 !important;
		}	
		.containerDestaque .icon9{
		background-color:#000 !important;
		}	
	
		
		
		

		.containerDestaque .icon3:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/escultura.jpg) no-repeat center;
		
		
		}
		
		.containerDestaque .icon1:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/musica.jpg) no-repeat center;
			
		
		}
		.containerDestaque .icon2:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/pintura2.jpg) no-repeat center;
			
		
		}
		.containerDestaque .icon6:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/dancaTeatro.jpg) no-repeat center;
			
		
		}
		.containerDestaque .icon5:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/arquitetura.jpg) no-repeat center;
			
		
		}
		.containerDestaque .icon9:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/quadrinhos.jpg) no-repeat center;
			
		
		}
		.containerDestaque .icon7:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/cinema.jpg) no-repeat center;
			
		
		}
		.containerDestaque .icon8:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/fotografia.jpg) no-repeat center;
			
		
		}
		.containerDestaque .icon4:hover{
			border:3px solid black;
			margin:3px;
			background:url(../../img/art/literatura.jpg) no-repeat center;
			
		
		}
	
			.icon1 .num, .icon2 .num,  .icon3 .num,  .icon4 .num,
			 .icon5 .num,  .icon6 .num,  .icon7 .num,  .icon8 .num,  .icon9 .num{
			position: absolute;
			bottom: 0;
			right: 0;
			right: 5px;
			margin-bottom: 0;
			color: white;
			width: 30px;
			height: 22px;
			text-align: center;
			font-family: 'Segoe UI Semibold', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
			font-weight: 600;
			font-size: 11pt;
			letter-spacing: 0.01em;
			line-height: 14pt;
			padding-top: 3px;
			background-color: #2D89EF !important;
			}
			.name{
							position: absolute;
					bottom: 0;
					left: 5px;
					top:0px;
					margin-bottom: 0;
					color: white;
					width: 40px;
					height: 22px;
					text-align: center;
					font-family: 'Segoe UI Semibold', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
					font-weight: 600;
					font-size: 8pt;
					letter-spacing: 0.01em;
					line-height: 14pt;
					padding-top: 3px;
					
							
			
			}
		
		
		#containerBread{
				position: absolute;
				top:-20px;
				left:0px;
				
		
		}
		.containerMainLeft #containerBread a{
		
		color:black;
		
		}
		.containerMainLeft #containerBread a:hover{
		
		
		text-decoration: none;
		color:red;
		
		
		}
		
		
		

		
		.containerMainRight{
	position: absolute;
/*    width: 100%;*/
    margin: 0 auto;
    width: 140px;
    height: 100%;
	left:765px;
    top:0px;
    background:none repeat scroll 0 0 rgba(147, 160, 255, 0.71);
	border: 1px solid rgba(147, 160, 255, 1);
	
		    -moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
	
	}
		.containerBarra .containerMenu{
 		position:relative;
		top:13px;
		left:15px;
                z-index: 99;
	
	
	
	} 
        .containerBarra .containerMenu a{
            
         margin-right: 7px;   
        }
		
        .nova-arte{
            margin-left: 60px;
            
        }
        
        
        .pull-left input{
            
            width: 320px;
        }
		
        
        #vitrine article {
float: left;
width: 284px;
margin: 18px;
border: none;
}
 #vitrine article h2{
     
  font-size: 18px;   
 }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
display: block;
font-family: Arial, sans-serif;
}

.product-gallery section {
    position: absolute;
    top:10px;
    left: 10px;
color: #333;
}

div.product-gallery {
margin: 0;
padding: 0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
border: 0;
font-family: inherit;
font-size: 100%;
font-style: inherit;
font-weight: inherit;
margin: 0;
outline: 0;
padding: 0;
vertical-align: baseline;
}
.product-gallery section article {
margin: 5px 17px 12px 0;
height: 235px;
}
.product-gallery section article {
    float: left;
    width: 230px;
    border: 1px solid #dfdfe0;
    margin: 8px;
    padding: 7px;
    text-align: center;
    -webkit-box-shadow: 0px 1px 5px 0px #dfdbdb;
    -moz-box-shadow: 0px 1px 5px 0px #dfdbdb;
    box-shadow: 0px 1px 5px 0px rgb(131, 131, 131);
    background-color: rgb(233, 231, 231);
}
.product-gallery section article p {
float: right;
font-size: 11px;
color: #9e9e9e;
text-align: right;
width: 120px;
}


.product-gallery h2{
    
}

.product-gallery h3{
    font-size: 18px;
    line-height: 100%;
    
}
.product-gallery section article h3 {
height: 20px;
overflow: hidden;
font-size: 11px;
font-weight: bold;
color: #9e9e9e;
width: 226px;
text-align: left;
border-bottom: 1px solid #dfdbdb;
line-height: 16px;
margin: 5px 0px 5px 0px;
}

.product-gallery section article h4 a.artist-details {
background: none;
display: table-cell;
color: #9e9e9e;
text-decoration: none;
line-height: 12px;
text-align: left;
vertical-align: middle;
width: auto;
font-size: 12px;
}
.product-gallery section article a.main {
display: table-cell;
background: url("../img/icons/loader.gif") no-repeat center center;
line-height: 1;
height: 165px;
margin: auto;
text-align: center;
vertical-align: middle;
width: 230px;
}

p {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}


.product-gallery span{
    position: relative;
/*right: -70px;*/
bottom: 20px;

background: none;
display: table-cell;
color: #9e9e9e;
text-decoration: none;
line-height: 12px;
text-align: left;
vertical-align: middle;
width: auto;
font-size: 12px;
float: right;
    
    
    
}


.arteTipo{
    
position: relative;
bottom: 0px;
background: none;
display: table-cell;
color: #9e9e9e;
text-decoration: none;
line-height: 12px;
text-align: right;
vertical-align: middle;
width: auto;
font-size: 12px;
float: left;
clear: none;
left: 0px;
    
}
/*-------------botoes CSS3 ---------------------*/


.a_demo_one {
	background-color:#3bb3e0;
	padding:5px;
	position:relative;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#fff;
	border: solid 1px #186f8f;
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44,160,202)),
	color-stop(1, rgb(62,184,229))
	);
	-webkit-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
	-moz-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
	box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
        clear:none;
        float: left;
        margin-left: 30px;
}

.a_demo_one:hover {

 text-decoration: none;
}

.a_demo_one::before {
	background-color:#ccd0d5;
	content:"";
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	padding:8px;
	left:-8px;
	top:-8px;
	z-index:-1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
	-moz-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
	-o-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
	box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
}

.a_demo_one:active {
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	top:0px;
	background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(62,184,229)),
	color-stop(1, rgb(44,160,202))
	);
}




/*#container_buttons{

    
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.09) inset;
    margin: 0 auto;
    padding: 60px 60px 30px;
    width: 400px;
}*/










/*---outro modelo de layout de buttons CSS3---------*/













.metro {
display: inline-block;
padding: 6px;
margin: 10px;
border-radius: 3px;
background: #3bb3e0;
color: white;
font-weight: bold;
text-decoration: none;
}

.metro:hover { background: #0AF; text-decoration: none;}

.metro.three-d {
  position: relative;
  box-shadow: 
    1px 1px #156785,
    2px 2px #156785,
    3px 3px #156785;
  transition: all 0.1s ease-in;
}

.metro.three-d:active { 
  box-shadow: none;
  top: 3px;
  left: 3px;
}
.demo-wrapper{
    position:absolute;
    left:30px;
    top:-12px;
}

/*//#3bb3e0
//inset 0px 1px 0px #7fd2f1, 0px 6px 0px #156785*/


#full_arte_unespiano{
    float: left;
width: 600px;
height: auto;
/*margin-bottom: 35px;*/

    
    
}
#full_arte_unespiano a.img{
background: url("../img/icons/loading.gif") no-repeat center center;
margin-bottom: 20px;
float: left;
width: 560px;
height: 395px;
border: 1px solid #dfdbdb;
padding: 20px;
text-align: center;

position: relative;
/*top: 40px;*/
left:20px;
/*margin-top: 40px;*/
}
#full_arte_unespiano a.img img{

    display: inline-block;
}

#full_arte_unespiano a{
    float: right;
    color: #333;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
    margin-top: 10px;
}

#full_arte_unespiano h4{
color: #333333;
display: block;
font-size: 12px;
font-weight: bold;
line-height: 20px;
margin-bottom: 10px;
padding-bottom: 2px;
text-transform: uppercase;
}

article p{
    font-size: 12px;
color: #333;
line-height: 18px;
text-align: justify;
text-justify: distribute;
width: 600px;
}

strong{
    font-weight: bold;
}







.containerTituloArte{
    position:relative;
/*    top:70px;*/
    right: 30px;
    text-align: center;
    line-height: 20%;
    float: right;
    margin-top: 20px;
    
    
}
.containerTituloArte span{
        font-family: 'PT Sans', Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: bold;
    
    
}

.containerTituloArte h5{
    
 border-bottom: 1px solid #555;
 width: 300px;
}



.descricaoObra{
	position: relative;
/*	top: 130px;*/
	left: 670px;
	height: 355px;
	width: 300px;
	background-color: rgb(255, 66, 111);
        margin-top: 90px;
    
}

.rodape, .push{
/*    position: relative;
    margin-top: -40px;  A mesma altura do rodapé, o valor deve ser negativo */
/*    width: 100%;*/
    
    height: 80px;
    
}
.rodape{
    bottom: 0px;
    clear:both;
    
    border-top: 1px solid #ccc;
    background-color: rgb(202, 202, 202);
/*    background: rgb(255,175,75);  Old browsers 
 IE9 SVG, needs conditional override of 'filter' to 'none' 
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYWY0YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjkyMGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);  FF3.6+ 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,175,75,1)), color-stop(100%,rgba(255,146,10,1)));  Chrome,Safari4+ 
background: -webkit-linear-gradient(top, rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%);  Chrome10+,Safari5.1+ 
background: -o-linear-gradient(top, rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%);  Opera 11.10+ 
background: -ms-linear-gradient(top, rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%);  IE10+ 
background: linear-gradient(to bottom, rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%);  W3C 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 );  IE6-8 */
    
    
    
}

.containerResposta {
position: relative;
width: 100%;
height: auto;
min-height: 100%;
margin-bottom: 100px;
padding-bottom: 100px;
}
.containerResposta textarea {
width: 670px;
height: 100%;
min-height: 110px;
border-radius: 0px;
max-width: 670px;
}
.postButtonForum {
position: relative;
top: 10px;
right: 10px;
float: right;
}
          #main .breadcrumbSection li a, #containerBackground ul li span{
color: white;
text-shadow: 0px 0px 0px #000;
font-size: 11px;
font-weight: bold;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          }