.modal-overlay-white {
display: none;
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 4000;
background: #FFFFFF;
background: rgba(255, 255, 255, 0.86);
-ms-filter: "alpha(opacity=50)";
}
.containerPopUpWhite {
display: none;
position: absolute;
width: 550px;
min-height: 283px;
background: rgb(255, 255, 255);
left: 50%;
margin-left: -275px;
top: 73px;
border: 1px solid #aaa;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
box-shadow: 2px 3px 41px rgba(0, 0, 0, 0.51);
z-index: 99999999;
padding: 20px;
}
.titulo-pop-up{
    font-size: 17px;
font-weight: bold;
color: #747474;
}
.bottom2{
height: 60px;
width: 100%;
background: rgb(238, 238, 238);
bottom: 0px;
position: absolute;
border-top: 1px solid #ccc;
margin-left: -20px;
}
.left-l{
    width: 160px;
height: 100%;
/* background: red; */
clear: none;
float: left;
}
.right-r{
    width: 160px;
height: 100%;
/* background: rgb(20, 0, 255); */
clear: none;
float: right;
position: relative;
}

.radio-white{
width: 150px;
/* border: 1px solid red; */
clear: none;
float: left;
margin: 5px;
background: #FFFDFD;
margin-top: 11px;
border: 1px solid #ccc;
border-radius: 3px;
}
.radio-white label{
	padding: 12px;
font-size: 16px;
color: #6D6D6D;
}