





#main{
    position: relative;
/*    width: 100%;*/
    margin: 0 auto;
    width: 900px;
    height: 100%;

    top:50px;
/*    background:none repeat scroll 0 0 #F1F1F1;*/
  

}
#background{
   
/*    background-color: #FFFACD;*/
/*    background: url("../img/mural/bum.jpg");
    background-repeat: repeat;*/
         background: url(../../img/index/tile.jpg) top center repeat;
    background-repeat:repeat;
    width: 100%;
    min-width: 900px;
    
}

body{
    /*background-color: white; */
    color:#333333;
    font: 12px/18px "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
    overflow-x: hidden;
    background: url(../img/index/tile.jpg) top center repeat;
}


nav{
    position:fixed;
    top:0px;
    width: 100%;
    height: 40px;
    background-color: black;
    overflow: hidden;
    margin: -10px -8px -8px 0px;
    left:0px;
    white-space: nowrap;
    overflow: visible;
    z-index: 9;
    
}

nav ul li{
    
    display: inline-block;
}
.containerBarra{
    position:relative;
   
    top:42px;
    
    width: 100%;
     height: 50px;
    background: none repeat scroll 0 0 rgba(229, 229, 229, 0.6);
     margin: 0 auto;

     border-bottom:1px solid #989898;
    
}


.containerBarra button .action .label{
    
    position:relative;
    left:15px;
}

.containerBarra button{
    position: relative;
    width: 160px;
    height: 60px;
    
    left:50%;
    margin-left: -440px;
    top:5px;
    float: left;
    clear: none;
  
    
    
}





.containerBarra .containerBarraR{
    position: relative;
    width: 700px;
    height: 60px;
    top:0px;
    left:50%;
    margin-left: -230px;
    clear: none;
    float: left;

}
.containerBarra .containerBarraR a{
    position: relative;
    left:0px;
    top:10px;
    
    
    
}




.containerBarraUp{
   background: none repeat scroll 0 0 #E5E5E5;
    clear: none;
    float: left;
    height: 60px;
    left: 0;
    position: relative;
    top: 0;
    width: 180px;
    
    border:1px solid #D2D2D2;
    
}

.containerBarraUp .action{
   left: 23px;
    position: relative;
    top: 10px;
}
.containerBarraDown{
   background: none repeat scroll 0 0 #E5E5E5;
    clear: none;
    float: left;
    height: 500px;
    left: 0;
    position: relative;
    top: 25px;
    width: 180px;
    border:1px solid #D2D2D2;
    
}
.containerHeader{
   background: none repeat scroll 0 0 #E5E5E5;
    clear: none;
    float: right;
    height: 60px;
    left: 0;
    position: relative;
    top: 0;
    width: 690px;
    
     border:1px solid #D2D2D2;
    
    
}

.containerMurais{
   border: 0px solid #D2D2D2;
    float: left;
    height: 40px;
    position: absolute;
    top: 10px;
    transition-delay: 2s;
    width: 685px
    
}

.containerBarraDown .dropdown{
    position:relative;
    left:6px;
    top:10px;
    
    
}

.containerPrincipal{
    
/*    background: none repeat scroll 0 0 rgba(147, 160, 255, 0.71);*/
    background: url(../img/bc6.jpg);
    background-repeat: repeat;
    clear: none;
    float: right;
    height: 600px;
    left: 0px;
    position: absolute;
    top: 5px;
    width: 905px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px; 
/*    border:1px solid #5E78FF;*/
border:18px solid rgba(7, 154, 236, 1.0);
    padding-top: 20px;
    
    
}

.containerBarra .btn-group{
position: relative;
top: 10px;
left: 50%;
margin-left: -900px;
}




.containerBread{
    left: -140px;
    position: relative;
    top: 0px;
    font-family: verdana;
    font-size: 10px;
    font-weight: bold;
    
    
    
}
.containerBread a{
	text-decoration: none;
	}

.containerBread span{
   left: 420px;
    position: relative;
    color:grey;
    
    
}

.anuncio{
   position:relative;
    top:30px;
    width: 200px;
    height: 55px;
    background-color: white;
    margin:10px;
    clear:none;
    float:left;
    text-decoration: none;
    
    
        -moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid grey;
	
}


.anuncio img{
    position: relative;
    clear:none;
    float:left;
    
    
}

.containerBarraLateral{
     background: none repeat scroll 0 0 rgba(229, 229, 229, 0.6);
    clear: none;
    float: left;
    height: 500px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 100px;
    border:1px solid #DBDBDB;
     margin: 0 auto;
    
    -moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	display:none;
    
}

.containerBarraLateral .btn-group{
	position:relative;
	left:12px;
	
	
	}
        
        .thumbnail{
            
            width: 100px;
            background-color: #FFE900;
            height: 150px;
            margin: 5px;
            clear: none;
            float:left;
        }
        .thumbnail img{
            cursor: pointer;
            
        }
        .thumbnail .caption .btn{
            
            position:relative;
            top:0px;
            left:0px;
            
        }
        .thumbnail .caption h5{
            font-size:12px;
            line-height:10px;
            margin:0px 0px;
            
        }
        
        .texto {
            
            width: 300px;
            height: 30px;
            background-color: white;
            
font-size: 20px;
color: #000;

z-index: 10;
transform:rotate(7deg);
/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

} 

.sombra {
font-size: 20px;
color: #666;
position: absolute;
z-index: 5;
margin: 2px 0 0 2px;
}