.noticias-top-banner{
display:none;


}
.noticias-top-position{
	width:100%;
	height:80px;
	background:yellow;
	margin-bottom:40px;

}
.noticias-corpo{
/*overflow: hidden;*/
width: 100%;
margin-top: 14px;

}
.noticias-corpo-left{
min-width: 622px;
width: 622px;
/*border: 1px solid red;*/
clear: none;
float: left;
}
.noticias-corpo-right{
min-width: 270px;
width: 270px;
clear: none;
float: right;
margin-top: 16px;
margin-right: 16px;
}
.noticias-modulo-left{
width: 310px;
clear: none;
float: left;
}
.noticia .foto-esquerda{
	float: left;
margin: 0 1.5em .833em 0;
margin-left: 0!important;
position: relative;
width: 140px;
}
.noticia .foto-full{
	float: left;
margin: 0 1.5em .833em 0;
margin-left: 0!important;
position: relative;
width: 100%;
}
.noticias-modulo-right{
width: 310px;
clear: none;
float: right;
}
.corpo-right-conteudo{
width: 100%;
clear: none;
float: left;

}
.noticia-destaque{
margin-left: 10px;
	text-align:left;
margin-bottom: 15px;
padding-bottom: 8px;
background:url('../../img/border_bottom.gif') bottom center repeat-x;

}
.destaque{
	margin-bottom: 40px;
	border: 1px solid #ddd;
border-top: 0;
position: relative;
margin-bottom: 2.5em;
background:#EFEDFF;
}
.destaque-titulo{
	border-top: 2px solid #c00;
	/*border-top: 2px solid #A1A1A1;*/
overflow: hidden;
zoom: 1;
}
.destaque-titulo span{
color: #333;
font-size: 16px;
float: left;
padding: 5px 0 5px 12px;
width: 70%;
margin-bottom: 0;
text-align: left;
font-weight: bold;
}
.destaque-corpo{
	border-top: 1px solid #D1D1D1;
font-size: 1.083em;
line-height: 16px;
padding: 0 10px;
}
.destaque-corpo ol{
	list-style-type: decimal;
}
.destaque-corpo ol li{
min-height: 26px;
padding: 0 0 8px 0;
background: url('../../img/border_bottom.gif') bottom center repeat-x;
list-style: none;
font-family: arial;
text-align: left;
font-size: 12px;
line-height: 12px;
}

.destaque-corpo ol li a{
	display: block;
min-height: 29px;
padding: 9px 0 0 38px;
color: #000000;
}
.destaque-corpo ol .posicao-2 a{
background: transparent url('../../img/numbers.gif') no-repeat scroll 5px 9px;
}
.destaque-corpo ol .posicao-3 a{
	background: transparent url('../../img/numbers.gif') no-repeat scroll 5px -70px;
}
.destaque-corpo ol .posicao-4 a{
	background: transparent url('../../img/numbers.gif') no-repeat scroll 5px -148px;
}
.destaque-corpo ol .posicao-5 a{
	background: transparent url('../../img/numbers.gif') no-repeat scroll 5px -226px;
}
.destaque-corpo ol .posicao-6 a{
	background: transparent url('../../img/numbers.gif') no-repeat scroll 5px -306px;
}
.links-noticia{
	clear: both;
	padding-bottom: 10px;
	margin-left: 0px;
}
.links-noticia li{
	color:  #1407B1;
list-style: disc;
list-style-position: inside;
font-size: 11px;
padding-left: 1px;
line-height: 1px;
}
.links-noticia a{
	color: #1407B1;
	font-weight: bold;
	line-height: 1.2em;	
}
.noticia{


}
.noticia-tipo{
	font-size: 9px;
font-weight: bold;
text-transform: uppercase;
color: #1407B1;
margin-bottom: 5px;
line-height: 1em;
/*display: inline-block;*/
min-width: 3em;
}
.noticia-titulo{
color: #000000;
padding-bottom: 7px;
font-size: 16px;
font-weight: normal;
letter-spacing: -0.03em;
line-height: 18px;
display: block;
	
}
.noticia-comentario{
	padding-bottom: 7px;
	line-height: 16px;
	color: #1407B1;
	font-size: 12px;
}
.foto-esquerda{
position: relative;
float: left;
margin: 0 1.5em .833em 0;

}
.noticia-descricao-foto-esquerda{
color: #A80000;
padding-bottom: 7px;
font-size: 20px;
font-weight: bold;
letter-spacing: -0.03em;
line-height: 1.1em;
display: block;
text-decoration:none;
text-align: left;

}
.chamada-relacionada{
clear: both;
padding-bottom: 10px;
color: #A80000;
text-align: left;
margin-left: 10px;
}
.chamada-relacionada li{
color: #5C6BAC;
list-style: disc;
list-style-position: inside;
font-size: 12px;
padding-left: 1px;


}
.chamada-relacionada a{
font-weight: bold;
line-height: 1.2em;
color: #A80000;

}
.destaque-principal{
margin-bottom: 1.666em;
padding-bottom: 8px;

}
.noticia-chamada-principal{
font-size: 29px;
font-weight: bold;
letter-spacing: -1px;
line-height: .98em;
display: block;
color: #A80000;


}	
.noticias-value-left{
min-width: 300px;
width: 310px;

}
.noticia-descricao{
font-size: 13px;
padding-bottom: 12px;
color: #666;
line-height: 1.2em;

}

.noticias-corpo-unico{
	min-width: 600px;
width: 600px;

clear: none;
float: left;
}
.noticias-modulo-unico{
	clear: none;
float: left;
width: 590px;
height:90px;
}
.noticia-destaque-unico{
	margin-left: 10px;
text-align: left;
background: url('../../img/border_bottom.gif') bottom center repeat-x;
/*margin-bottom: 20px;*/
}
.foto-destaque-unico{
	height: 89px;
	width: 125px;
}
.foto-esquerda-unica{
float: left;
margin-left: 0!important;
position: relative;

}
.noticia-unica{
	min-height:88px;
	padding-top: 10px;
padding-bottom: 10px;
}
.noticia-tipo-u{
	font-size: 9px;
font-weight: bold;
text-transform: uppercase;
color: #1407B1;
margin-bottom: 5px;
line-height: 1em;
display: inline-block;
min-width: 3em;
	padding-left: 11px;
}
.noticia-titulo-u{
color: #000000;
padding-bottom: 0px;
font-size: 14px;
font-weight: bold;
line-height: 18px;
display: block;
padding-left: 135px;
}
.noticia-titulo-u:hover{
	text-decoration: underline;
	
}
.noticia-texto-u{
color: #5f5f5f;
font-size: 12px;
line-height: 16px;
font-family: arial;
position: relative;
left: 10px;
width: 457px;
margin-left: 123px;
}
