.containerMainLeft a{
    text-decoration: none;
    color:#47423A;
    
}

h1, h2, h3, h4, h5 {
			font-family: Molengo, Arial, Helvetica, sans-serif;
			margin: 0 0 14px 0;
			padding: 0;
		}
		
		p {
			margin: 0 0 7px 0;
			padding: 0;
		}

h1, h2, h3, h4, h5 {
    font-family: Molengo,Arial,Helvetica,sans-serif;
    margin: 0 0 14px;
    padding: 0;
}
.menu{
	margin:15px 0 10px 25px;
	
	}
.menu a, .menu a:visited {
	
    color:white;
    text-decoration: none;
	
	}
.menu a:hover{
    color:red;
    text-decoration: none;
		
	
	}		
nav{
    position:fixed;
    top:0px;
    width: 100%;
    height: 40px;
    background-color: black;
    overflow: hidden;
    margin: -10px -8px -8px 0px;
    left:0px;
    white-space: nowrap;
    overflow: visible;
    z-index: 9;
    
}

nav ul li{
    
    display: inline-block;
}



body{
    /*background-color: white; */
    color:#333333;   
    overflow-x: hidden;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    
    text-align: center;
    
}


#main{
    position: absolute;
/*    width: 100%;*/
    margin: 0 auto;
    width: 920px;
/*    height: 100%;*/
    left:50%;
    margin-left: -450px;
    top:10px;
   
}

.containerMainLeft{
	position: absolute;
/*    width: 100%;*/
    margin: 0 auto;
    width: 770px;
/*    height: 1200px;*/

    top:70px;
    background:white;
	/*	border:1px solid #989898;  */
	
		    -moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
                box-shadow: 0px 0px 2px grey;
	padding-bottom:150px;
	}


.containerMainRight{
	position: absolute;
/*    width: 100%;*/
    margin: 0 auto;
    width: 140px;
    height: 1200px;
	left:780px;
    top:70px;
    background:none repeat scroll 0 0 rgba(147, 160, 255, 0.71);
	/* border:1px solid green; */
	
		    -moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
	
	}



#background{
   
/*    background-color: #FFFACD;*/
/*    background: url("../img/mural/bum.jpg");
    background-repeat: repeat;*/
     background: url(../../img/index/tile.jpg);
    background-repeat:repeat;
    width: 100%;
    min-width: 900px;
    
}



.containerBarra{
    position:absolute;
    top:42px;
    /* width: 900px; */
     width: 100%;
     height: 50px;
      background:none repeat scroll 0 0 rgba(229, 229, 229, 1.0);
     margin: 0 auto;
     border-bottom:1px solid silver;
     /*-moz-border-radius:3px;
     -webkit-border-radius:3px;
     border-radius:3px;*/
     
     z-index:99;
	
    
}


.containerBarra button{
    position: relative;
    width: 160px;
    height: 60px;
    
    left:50%;
    margin-left: 240px;
    top:10px;
    float: left;
    clear: none;
    
}

.containerBarra .containerBarraR{
    position: relative;
    width: 180px;
    height: 50px;
    left: 50%;
    margin-left: 270px;
    clear: none;
    float: left;
   
    
}
.containerBarra .containerBarraR a{
    position: relative;
    left:0px;
    top:15px;
    
}


.containerBarraUp{
   background: none repeat scroll 0 0 #E5E5E5;
    clear: none;
    float: left;
    height: 60px;
    left: 0;
    position: relative;
    top: 0;
    width: 180px;    
    border:1px solid #D2D2D2;
}

.containerBarraUp .action{
   left: 23px;
    position: relative;
    top: 10px;
}
.containerBarraDown{
   background: none repeat scroll 0 0 #FF9900;
    clear: none;
    float: left;
    height: 500px;
    left: 0;
    position: relative;
    top: 25px;
    width: 180px;
    border:1px solid #D2D2D2;
    
}
.containerHeader{
   background: none repeat scroll 0 0 #E5E5E5;
    clear: none;
    float: right;
    height: 60px;
    left: 0;
    position: relative;
    top: 0;
    width: 690px;
    
     border:1px solid #D2D2D2;
    
    
}

/* .containerManchete{
	position: relative;
	height: 234px;
	width: 300px;
        margin: 10px;
        top:20px;
	
	


} */

.containerManchete{
        position:absolute;
        left:50%;
        margin-left:-450px;
        clear:none;
        float:left;
        width: 450px;
        height: 350px;

		
		
		}
		
.containerBarra .containertitulo{
	position:absolute;
	top:20px;
	left:10px;
	color:white;
	font-family: Molengo;
	font-size: 35px;
	
	
	
	}




.noticia2{
    position: absolute;
    height:100%;
    width: 200px;
    left:320px;
    top:20px;
    border-bottom: 1px dashed grey;
    border-right:  1px dashed grey;
    border-left:  1px dashed grey;
}
.noticia3{
    position: absolute;
    height: 80px;
    width: 200px;
    left:530px;
    top:20px;
    
    
    
}

	.containerBarra .containerMenu{
 		position:relative;
		top:0px;
		left:-130px;
	
	
	
	
	} 
        .containerA{
            position: absolute;
            width: 440px;
            height: 340px;
/*            background-color: red;*/
            left:470px;
            top:10px;
            border: 1px dotted rgb(103, 103, 255);
            -moz-border-radius:3px;
            -webkit-border-radius:3px;
            border-radius:3px;
            
            background-color: rgba(71, 161, 234, 0.25);
            
            
            
        }
        .containerC{
            position: absolute;
            width: 440px;
            height: 330px;
/*            background-color: white;*/
            left: 10px;
            top: 360px;
            border: 1px dotted green;
                        -moz-border-radius:3px;
            -webkit-border-radius:3px;
            border-radius:3px;
            background-color: rgba(0, 128, 0, 0.25);
            
            
        }
        
        
        
        .containerMancheteB{
            position:relative;
            
            
            width: 180px;
            clear:none;
            float:left;
         
            -moz-border-radius:3px;
            -webkit-border-radius:3px;
            border-radius:3px;
/*            border:1px solid silver;*/
            text-align: left;
            padding: 15px;
            margin: 5px;
            box-shadow: 0px 0px 1px grey;
            background-color: white;
            
            
        }
        .containerMancheteB span{
            font-size: 17px;
            font-weight: bold;
            
        }
        
        
         .containerMancheteC{
            position:relative;
            
            
            width: 180px;
            clear:none;
            float:left;
         
            -moz-border-radius:3px;
            -webkit-border-radius:3px;
            border-radius:3px;
/*            border:1px solid silver;*/
            text-align: left;
            padding: 15px;
            margin: 5px;
            box-shadow: 0px 0px 1px grey;
            background-color: white;
            
            
        }
        .containerMancheteC span{
            font-size: 17px;
            font-weight: bold;
            
        }
        
        .containerMancheteD{
            position:relative;
            
            
            width: 175px;
            clear:none;
            float:left;
         
            -moz-border-radius:3px;
            -webkit-border-radius:3px;
            border-radius:3px;
/*            border:1px solid silver;*/
            text-align: left;
            padding: 15px;
            margin: 5px;
            box-shadow: 0px 0px 1px grey;
            background-color: white;
            
            
        }
       .containerMancheteD span{
            font-size: 17px;
            font-weight: bold;
            
        }
        
     .containerMancheteE{
            position:relative;
            
            
            width: 410px;
            clear:none;
            float:left;
         
            -moz-border-radius:3px;
            -webkit-border-radius:3px;
            border-radius:3px;
/*            border:1px solid silver;*/
            text-align: left;
            padding: 10px;
            margin: 5px;
            box-shadow: 0px 0px 1px grey;
            background-color: white;
            
            
        }
     .containerMancheteEMini{
            position:relative;
            
            
            width: 400px;
            clear:none;
            float:left;
         
            -moz-border-radius:3px;
            -webkit-border-radius:3px;
            border-radius:3px;
/*            border:1px solid silver;*/
            text-align: left;
            padding: 10px;
            margin: 5px;
            box-shadow: 0px 0px 1px grey;
            background-color: white;
            
            
        }
     .containerMancheteF{
            position:relative;
            
            min-height: 150px;
            width: 120px;
            clear:none;
            float:left;
         
            -moz-border-radius:3px;
            -webkit-border-radius:3px;
            border-radius:3px;
/*            border:1px solid silver;*/
            text-align: left;
            padding: 10px;
            margin: 3px;
            box-shadow: 0px 0px 1px grey;
            background-color: white;
            
            
        }
     .containerMancheteG{
                    position: relative;
            min-height: 30px;
            width: 193px;
            clear: none;
            float: left;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            text-align: left;
            padding: 10px;
            margin: 3px;
            box-shadow: 0px 0px 1px grey;
            background-color: white;
            
            
        }
       .containerMancheteG span{
            font-size: 12px;
            font-weight: bold;
            line-height: 0.8;
            
        }
       .containerMancheteE span{
            font-size: 17px;
            font-weight: bold;
            
        }
        
        
        .containerE{
            position: absolute;
            width: 440px;
            height: 330px;
/*            background-color: blue;*/
            left: 10px;
            top: 700px;
             border: 1px dotted orangered;
            -moz-border-radius:3px;
            -webkit-border-radius:3px;
            border-radius:3px;
            background-color: rgba(255, 69, 0, 0.25);
            
        }
        
        .pull-left{
            margin-right: 15px;
            
        }
        .abaixo{
            clear:none;
            float:left;
            font-size: 12px;
            line-height: 1.1;
            
        }
        .negrito{
            font-weight: bold;
            
        }
        .espaco-abaixo{
            margin-bottom: 10px;
            
            
        }
        .containerMancheteCFoto{
            position:relative;
            
            
            width: 180px;
            clear:none;
            float:left;
         
            -moz-border-radius:3px;
            -webkit-border-radius:3px;
            border-radius:3px;
/*            border:1px solid silver;*/
            text-align: left;
            padding: 15px;
            margin: 5px;
            box-shadow: 0px 0px 1px grey;
            background-color: white;
            
        }
         .containerMancheteCFoto span{
              font-size: 17px;
            font-weight: bold;

             
             
         }
        .fotoMini{
            position: absolute;
            top:5px;
            width: 60px;
            height: 60px;
            background-color: yellow;
            clear:none;
            float:left;
            
        }
        .containerD{
            position: absolute;
            width: 440px;
            height: 330px;
            left: 470px;
            top: 700px;
            border: 1px dotted #1798c4;
            -moz-border-radius:3px;
            -webkit-border-radius:3px;
            border-radius:3px;
            
            background-color: rgba(23, 152, 196, 0.25);
            
            
            
            
        }
        .containerD span{
            font-size: 17px;
            font-weight: bold;
            
            
        }
        
        .containerB{
            position: absolute;
            width: 440px;
            height: 330px;
/*            background-color: orange;*/
            left: 470px;
            top: 360px;
            border: 1px dotted #ffc532;
            -moz-border-radius:3px;
            -webkit-border-radius:3px;
            border-radius:3px;
            
            background-color: rgba(255, 197, 50, 0.25);
            
            
            
        }
        .containerB span{
            font-size: 17px;
            font-weight: bold;
            
            
        }
        
        .containerMacheteE{
            position:absolute;
            top:405px;
            left:430px;
            width: 300px;
            height: 190px;
        
             -moz-border-radius:3px;
            -webkit-border-radius:3px;
            border-radius:3px;
            border:1px solid silver;
            
        }
        .meNoticiaEFoto{
                       position:relative;
            top:0px;
            left:0px;
            width: 95px;
            height: 65px;
        
            clear:none;
            float:left;
            -moz-border-radius:3px;
            -webkit-border-radius:3px;
            border-radius:3px;
            margin: 5px;
            border:1px solid silver;
            
            
        }
        .meNoticiaFFoto{
                       position:relative;
            top:0px;
            left:0px;
            width: 95px;
            height: 65px;
          
            clear:none;
            float:left;
            -moz-border-radius:3px;
            -webkit-border-radius:3px;
            border-radius:3px;
            margin: 5px;
            border:1px solid silver;
            
            
        }
        .meNoticiaE{
            position:relative;
            top:0px;
            left:0px;
            width: 180px;
            height: 65px;
            
            clear:none;
            float:left;
            -moz-border-radius:3px;
            -webkit-border-radius:3px;
            border-radius:3px;
            margin: 5px;
            border:1px solid silver;
            
            
        }
        .meNoticiaF{
            position:relative;
            top:0px;
            left:0px;
            width: 180px;
            height: 65px;
       
            clear:none;
            float:left;
            -moz-border-radius:3px;
            -webkit-border-radius:3px;
            border-radius:3px;
            margin: 5px;
            border:1px solid silver;
            
            
        }
        .meLinha{
            position:relative;
            top:0px;
            clear:none;
            float:left;
            width: 100%;
            height: 1px;
            background-color: black;
            
            
        }
        .linhaQ{
            position:relative;
            top:550px;
            clear:none;
            float:left;
            width: 100%;
            height: 1px;
            background-color: black;
            
        }
        .bs-docs-example::after {
content: "Example";
position: absolute;
top: -1px;
left: -1px;
padding: 3px 7px;
font-size: 12px;
font-weight: bold;
background-color: #f5f5f5;
border: 1px solid #ddd;
color: #9da0a4;
-webkit-border-radius: 4px 0 4px 0;
-moz-border-radius: 4px 0 4px 0;
border-radius: 4px 0 4px 0;
}

#main .navbar .navbar-inner .nav{
    position: relative;
    left:470px;
    
    
}
#main .navbar .navbar-inner{
    position: relative;
    left:0px;
    background-color: rgba(0, 0, 0, 0.25);
    padding-top: 10px;
    padding-bottom: 10px;
    background-image:-webkit-gradient(linear, 0 0, 0 0%) ;
    background-image: -moz-linear-gradient(top);
    background-image: -o-linear-gradient(top);
    background-image: linear-gradient(to bottom);
}

#main .navbar .navbar-inner .nav > li > a{
    padding: 10px 20px 10px;
    text-shadow: 3px 2px 10px grey;   
    color:#000;

}
#main .navbar .navbar-inner .nav > li > a:hover{
    text-shadow: 0 0px -10px white;   
    color:#000;

}
#main .navbar .navbar-inner .nav > .active > a{
        color: black;
        text-decoration: none;
       
        -webkit-box-shadow: inset 6px 4px 8px rgba(0, 0, 0, 0.20);
        -moz-box-shadow: inset 6px 4px 8px rgba(0, 0, 0, 0.20);
        box-shadow: inset 6px 4px 8px rgba(0, 0, 0, 0.20);
        background-color: #47a1ea;
    
}

#main .navbar .navbar-inner .aaa{
        background-color: hsl(207, 80%, 44%) !important;
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#47a1ea", endColorstr="#1679c9");
        background-image: -khtml-gradient(linear, left top, left bottom, from(#47a1ea), to(#1679c9));
        background-image: -moz-linear-gradient(top, #47a1ea, #1679c9);
        background-image: -ms-linear-gradient(top, #47a1ea, #1679c9);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #47a1ea), color-stop(100%, #1679c9));
        background-image: -webkit-linear-gradient(top, #47a1ea, #1679c9);
        background-image: -o-linear-gradient(top, #47a1ea, #1679c9);
        background-image: linear-gradient(#47a1ea, #1679c9);
        border-color: #1679c9 #1679c9 hsl(207, 80%, 40%);
        color: #333 !important;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.26);
        -webkit-font-smoothing: antialiased;    
}
#main .navbar .navbar-inner .bbb{
        background-color: hsl(195, 79%, 43%) !important;
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#56c5eb", endColorstr="#1798c4");
        background-image: -khtml-gradient(linear, left top, left bottom, from(#56c5eb), to(#1798c4));
        background-image: -moz-linear-gradient(top, #56c5eb, #1798c4);
        background-image: -ms-linear-gradient(top, #56c5eb, #1798c4);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #56c5eb), color-stop(100%, #1798c4));
        background-image: -webkit-linear-gradient(top, #56c5eb, #1798c4);
        background-image: -o-linear-gradient(top, #56c5eb, #1798c4);
        background-image: linear-gradient(#56c5eb, #1798c4);
        border-color: #1798c4 #1798c4 hsl(195, 79%, 38%);
        color: #333 !important;
          text-shadow: 0 1px 1px green;
        -webkit-font-smoothing: antialiased;
    
}
#main .navbar .navbar-inner .ccc{
        background-color: hsl(118, 82%, 27%) !important;
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#16ab10", endColorstr="#107d0c");
        background-image: -khtml-gradient(linear, left top, left bottom, from(#16ab10), to(#107d0c));
        background-image: -moz-linear-gradient(top, #16ab10, #107d0c);
        background-image: -ms-linear-gradient(top, #16ab10, #107d0c);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #16ab10), color-stop(100%, #107d0c));
        background-image: -webkit-linear-gradient(top, #16ab10, #107d0c);
        background-image: -o-linear-gradient(top, #16ab10, #107d0c);
        background-image: linear-gradient(#16ab10, #107d0c);
        border-color: #107d0c #107d0c hsl(118, 82%, 24.5%);
        color: #fff !important;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
        -webkit-font-smoothing: antialiased;
    
}
#main .navbar .navbar-inner .ddd{
        background-color: hsl(43, 100%, 40%) !important;
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc532", endColorstr="#cc9200");
        background-image: -khtml-gradient(linear, left top, left bottom, from(#ffc532), to(#cc9200));
        background-image: -moz-linear-gradient(top, #ffc532, #cc9200);
        background-image: -ms-linear-gradient(top, #ffc532, #cc9200);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffc532), color-stop(100%, #cc9200));
        background-image: -webkit-linear-gradient(top, #ffc532, #cc9200);
        background-image: -o-linear-gradient(top, #ffc532, #cc9200);
        background-image: linear-gradient(#ffc532, #cc9200);
        border-color: #cc9200 #cc9200 hsl(43, 100%, 35%);
        color: #333 !important;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
        -webkit-font-smoothing: antialiased;    
}
#main .navbar .navbar-inner .eee{
        background-color: hsl(0, 81%, 59%) !important;
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f18282", endColorstr="#eb4141");
        background-image: -khtml-gradient(linear, left top, left bottom, from(#f18282), to(#eb4141));
        background-image: -moz-linear-gradient(top, #f18282, #eb4141);
        background-image: -ms-linear-gradient(top, #f18282, #eb4141);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f18282), color-stop(100%, #eb4141));
        background-image: -webkit-linear-gradient(top, #f18282, #eb4141);
        background-image: -o-linear-gradient(top, #f18282, #eb4141);
        background-image: linear-gradient(#f18282, #eb4141);
        border-color: #eb4141 #eb4141 hsl(0, 81%, 55.5%);
        color: #333 !important;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.23);
        -webkit-font-smoothing: antialiased;
}
#main .navbar .navbar-inner .fff{
background-color: hsl(0, 0%, 79%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#134134134", endColorstr="#c9c9c9");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#134134134), to(#c9c9c9));
  background-image: -moz-linear-gradient(top, #134134134, #c9c9c9);
  background-image: -ms-linear-gradient(top, #134134134, #c9c9c9);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #134134134), color-stop(100%, #c9c9c9));
  background-image: -webkit-linear-gradient(top, #134134134, #c9c9c9);
  background-image: -o-linear-gradient(top, #134134134, #c9c9c9);
  background-image: linear-gradient(#134134134, #c9c9c9);
  border-color: #c9c9c9 #c9c9c9 hsl(0, 0%, 68.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.69);
  -webkit-font-smoothing: antialiased;
}


 .containerFormAjax{
    position: absolute;
    top: 90px;
/*    background-color: rgba(255, 251, 232, 0.6);*/

    width: 100%;
                /*display:none; */
       height: 525px;     
         background-image: url(../../img/bg.png);   
            
        }
        #editorNovot{
position: relative;
width: 550px;
top: 20px;
left: 50%;
margin-left: -275px;
background-color: #FFF;
text-align: left;

    
}
#editorNovot textarea{
    
    border-radius: 5px;    
    
/*    display:none;*/
}
.nicEdit-main {
background-color: #FFF;
}

#buttonNovoPhoto {
position: relative;
top: 0px;
right: 30px;
float: right;
display: block;
}
#buttonNovo {
position: relative;
top: 0px;
float: right;
right: -20px;
}
#buttonNovoCancel {
position: relative;
top:0px;
right: 140px;
float: right;
}
.containerTipoTitulo {
position: relative;
left: 50%;
/*text-align: left;
*/width: 430px;
height: 80px;
top:20px;
margin-left: -200px;
}

.containerAjax{
    position:relative;
    top:0px;
    left:0px;
    height: 75px;
    width: 430px;
/*    background-color: red;*/
    
    
}
.containerAlert{
        position: absolute;
        top: 230px;
        left: 590px;
        width: 300px;
        height: 100px;
    
    
    
}
.alertF4 .close{
    position:relative;
    margin-right: 10px;
    margin-top: 7px;
    
}
.alertF4{
    padding: 20px;
        -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}

.containerComplemento{
    position: absolute;
    top: 0px;
    left: 510px;
    width: 330px;
    height: 100px;

    
}

#containerBackground{
	position:absolute;
	top:93px;
	width:100%;
/*	background-image: url(../../img/index/tile.jpg) top center repeat;*/
        background-position: top center;
        background-image: url(../../img/index/tile.jpg);
        background-color: #fff;
	height:1300px;
	
	
	
	}
        
        #containerForm{
            position: relative;
            top: 40px;
            left: 50%;
            width: 900px;
            height: 446px;
            background-color: rgba(140, 168, 255, 1.0);
/*            border: 1px solid red;*/
            margin-left: -450px;
            box-shadow: 0px 0px 5px grey;
            -moz-border-radius:5px;
            -webkit-border-radius:5px;
            border-radius:5px;

            
        }
        
        #containerFoto{
            position:absolute;
            top:15px;
            left:15px;
            -moz-border-radius:10px;
            -webkit-border-radius:10px;
            border-radius:10px;
            
        }
        
        #containerButtons{
            position:absolute;
            top:410px;
            left:500px;
            width: 400px;
            height: 40px;
            
            
        }
        .tituloReportagem{
            position: relative;
            top:10px;
            
            
        }
        
        #PhotoPrevs{
            position: absolute;
            top: 10px;
            left: 738px;
            width: 150px;
            height: 130px;
            background-color: grey;
            
            
        }
        

        .containerTituloNews span{
            position:relative;
            top:50px;
            font-size: 24px;
            font-weight: bold;
            color:#47423A;
                
            
            
        }
        p.intro{
            position: absolute;
            top: 100px;
           
            display: block;
            font-size: 1.2em;
          
            margin: auto;
            width: 100%;
        }
        
        .materia_texto{
         position:relative;
         width: 730px;
         height: 400px;
         background-color: grey;
         top: 100px;
         margin: 20px;
         -moz-border-radius:3px;
         -webkit-border-radius:3px;
         border-radius:3px;
             
            
            
            
        }
        .containerAutor{
            position:relative;
            top:100px;
            width: 730px;
            height: 30px;
            background-color: pink;
            margin: 20px;
            
            -moz-border-radius:3px;
            -webkit-border-radius:3px;
            border-radius:3px;
            
        }
        .containerAutor span{
            margin-left: 25px;
            margin-right: 25px;
            position:relative;
            top:5px;
            
        }
        
        .containerComentarios{
            position:relative;
         width: 730px;
         height: 100px;
         background-color: grey;
         top: 100px;
         margin: 20px;
         -moz-border-radius:3px;
         -webkit-border-radius:3px;
         border-radius:3px;
            
            
            
        }