

html{
    height: 100%;
}

/*body > #containerBackground {height: auto; min-height: 100%;}*/
body{
    /*background-color: white; */
    color:#333333;
    font: 12px/18px "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
/*    overflow-x: hidden;*/
/*    background: url(../../img/index/tile.jpg) top center repeat;*/
    background-color: rgb(224, 223, 223);
    margin:0px;
    padding:0px;
    height:100%;
    
}   

#main{
    position: relative;
/*    width: 100%;*/
    margin: 0 auto;
    width: 970px;
/*    height: 1200px;*/
/*    height: auto;*/
	background-color:whitesmoke;
    top:10px;
/*    background:none repeat scroll 0 0 #F1F1F1;*/
    min-height:100%;
    height:auto;
    padding-bottom: 255px;
    margin-bottom: 100px;
}





nav{
    position:fixed;
    top:0px;
    width: 100%;
    height: 40px;
    background-color: black;
    overflow: hidden;
    margin: -10px -8px -8px 0px;
    left:0px;
    white-space: nowrap;
    overflow: visible;
    z-index: 9;
    
}

nav ul li{
    
    display: inline-block;
}
.containerBarra{
position: absolute;
top: 42px;
width: 100%;
height: 35px;
background: rgb(202, 202, 202);
margin: 0 auto;
border-bottom: 1px solid rgb(179, 177, 177);
z-index: 99;
    
}


.containerBarra button .action .label{
    
    position:relative;
    left:15px;
}

.containerBarra button{
    position: relative;
    width: 160px;
    height: 60px;
    
    left:50%;
    margin-left: -440px;
    top:5px;
    float: left;
    clear: none;
  
    
    
}





.containerBarra .containerBarraR{
    position: absolute;
    width: 700px;
    height: 60px;
    top:0px;
    left:50%;
    margin-left: -230px;
    clear: none;
    float: left;

}
.containerBarra .containerBarraR a{
    position: relative;
    left:0px;
    top:13px;
}

.containerBarra .containerBarraR .btn-novo-mural{
    position: relative;
    left:60px;
    
}

.containerBarraUp{
   background: none repeat scroll 0 0 #E5E5E5;
    clear: none;
    float: left;
    height: 60px;
    left: 0;
    position: relative;
    top: 0;
    width: 180px;
    
    border:1px solid #D2D2D2;
    
}

.containerBarraUp .action{
   left: 23px;
    position: relative;
    top: 10px;
}
.containerBarraDown{
   background: none repeat scroll 0 0 #E5E5E5;
    clear: none;
    float: left;
    height: 500px;
    left: 0;
    position: relative;
    top: 25px;
    width: 180px;
    border:1px solid #D2D2D2;
    
}
.containerHeader{
   background: none repeat scroll 0 0 #E5E5E5;
    clear: none;
    float: right;
    height: 60px;
    left: 0;
    position: relative;
    top: 0;
    width: 690px;
    
     border:1px solid #D2D2D2;
    
    
}

.containerMurais{
   border: 0px solid #D2D2D2;
    float: left;
    height: 40px;
    position: absolute;
    top: 10px;
    transition-delay: 2s;
    width: 685px
    
}

.containerBarraDown .dropdown{
    position:relative;
    left:6px;
    top:10px;
    
    
}



.containerBarra .btn-group{
position: absolute;
top: 10px;
left: 50%;
margin-left: -350px;
}


.containerBarra .btn-group2{
position: absolute;
top: 10px;
left: 50%;
margin-left: -440px;
}




.containerBread{
    left: -140px;
    position: relative;
    top: 0px;
    font-family: verdana;
    font-size: 10px;
    font-weight: bold;
    
    
    
}
.containerBread a{
	text-decoration: none;
	}

.containerBread span{
   left: 420px;
    position: relative;
    color:grey;
    
    
}

.anuncio{
   position:relative;
    top:30px;
    width: 200px;
    height: 55px;
    background-color: white;
    margin:10px;
    clear:none;
    float:left;
    text-decoration: none;
    
    
        -moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid grey;
	
}


.anuncio img{
    position: relative;
    clear:none;
    float:left;
    
    
}

.containerBarraLateral{
    background: none repeat scroll 0 0 rgba(229, 229, 229, 0.6);
    clear: none;
    float: left;
    height: 400px;
    left: 20px;
    position: absolute;
    top: 80px;
    width: 210px;
    border: 1px solid #DBDBDB;
    margin: 0 auto;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: block;
    
}

.containerBarraLateral .btn-group{
	position:relative;
	left:12px;
	
	
	}
        .tituloNovo{
            position: absolute;
            top:53px;
            left:22px;
            color:black;
            font: 22px "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
            
            
            
        }
        
        .containerPrincipal{
            float: right;
            width: 700px;
/*            background-color: #2f96b4;*/
            position: absolute;
            z-index: 999;
            top: 85px;
            
            left: 250px;
            
            border-top: 1px solid #eee;
            
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            
            padding-bottom: 100px;
        }
        
        .containerTutuloPrincipal{
             position: absolute;
            top:53px;
            left:250px;
            color:black;
            font: 22px "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
            
        }
        
        
        .thumbnail{
            
            width: 100px;
            background-color: rgb(255, 182, 77);
            height: 150px;
            margin: 5px;
            clear: none;
            float:left;
        }
        .thumbnail img{
            cursor: pointer;
            
        }
        .thumbnail .caption .btn{
            
            position:relative;
            top:0px;
            left:0px;
            
        }
        .thumbnail .caption h5{
            font-size:12px;
            line-height:10px;
            margin:0px 0px;
            
        }
        
        .texto {
            
            width: 300px;
            height: 30px;
            background-color: white;
            
font-size: 20px;
color: #000;

z-index: 10;
transform:rotate(7deg);
/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

} 

.sombra {
font-size: 20px;
color: #666;
position: absolute;
z-index: 5;
margin: 2px 0 0 2px;
}

/* 
    Document   : index
    Created on : 31/01/2013, 12:08:25
    Author     : PublishCenter03
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}




.captionCaronas{
        padding: 9px;
        color: #555555;
        background-color: white;
        top: 0px;
        position: relative;
        min-height: 110px;

}
        .thumbnailCaronas .captionCaronas h5{
            font-size:12px;
            line-height:10px;
            margin:0px 0px;
            color:black;
        }
        

.thumbnailCaronas{
            
            width: 100px;
            background-color: rgba(0, 68, 204, 0.6);
            height: 150px;
            margin: 5px;
            clear: none;
            float:left;
            padding: 5px;
            border-radius:10px; 
        }
        .thumbnailCaronas img{
            cursor: pointer;
            
        }
        .thumbnailCaronas span{
            font-size: 10px;
            
            
        }
        .thumbnailCaronas .caption .btn{
            
            position:relative;
            top:0px;
            left:0px;
            
        }
     
        
        
        /* */
        
        .moradia{
            
            background-color: #51A351;
            
        }
        .caption2{
/*                padding: 9px;*/
                color: white;
             
                top: 0px;
                position: relative;

        }
        
        .thumbnail .caption2 {
         padding: 0px;   
            
            
            
        }
        .thumbnail .caption2 h5{
            font-size:12px;
            line-height:10px;
            margin:0px 0px;
            color:black;
        }
        

        .thumbnail{
            
            width: 100px;
            
            height: 150px;
            margin: 5px;
            clear: none;
            float:left;
            padding: 5px;
            border-radius:10px; 
        }
        .thumbnail img{
            cursor: pointer;
            
        }
        .thumbnail span{
            font-size: 10px;
            
            
        }
        .thumbnail .caption2 .btn{
            
            position:relative;
            top:0px;
            left:0px;
            
        }
        /*------------------*/
        .captionCursos{
/*                padding: 9px;*/
                color: white;
             
                top: 0px;
                position: relative;

        }
        .thumbnailCursos .captionCursos h5{
            font-size:12px;
            line-height:10px;
            margin:0px 0px;
            color:black;
        }
        

        .thumbnailCursos{
            
            width: 100px;
            background-color: #2f96b4;
            height: 150px;
            margin: 5px;
            clear: none;
            float:left;
            padding: 5px;
            border-radius:10px; 
        }
        .thumbnailCursos img{
            cursor: pointer;
            
        }
        .thumbnailCursos span{
            font-size: 10px;
            
            
        }
        .thumbnailCursos .captionCursos .btn{
            
            position:relative;
            top:0px;
            left:0px;
            
        }
        
        /*--------------------*/
        
        .captionEmpregos{
        padding: 9px;
        color: #555555;
        background-color: white;
        top: 0px;
        position: relative;
        min-height: 110px;


        }
        .thumbnailEmpregos .captionEmpregos h5{
            font-size:12px;
            line-height:10px;
            margin:0px 0px;
           
        }
        

        .thumbnailEmpregos{
            
            width: 100px;
            background-color: #bd362f;
            height: 150px;
            margin: 5px;
            clear: none;
            float:left;
            padding: 5px;
            border-radius:10px; 
        }
        .thumbnailEmpregos img{
            cursor: pointer;
            
        }
        .thumbnailEmpregos span{
            font-size: 10px;
           
            
        }
        .thumbnailEmpregos .captionEmpregos .btn{
            
            position:relative;
            top:0px;
            left:0px;
            
        }
        
        /*--------------*/
         .captionFestas{
/*                padding: 9px;*/
                color: white;
             
                top: 0px;
                position: relative;

        }
        .thumbnailFestas .captionFestas h5{
            font-size:12px;
            line-height:10px;
            margin:0px 0px;
            color:white;
        }
        

        .thumbnailFestas{
            
            width: 100px;
            background-color: #222222;
            height: 150px;
            margin: 5px;
            clear: none;
            float:left;
            padding: 5px;
            border-radius:10px; 
        }
        .thumbnailFestas img{
            cursor: pointer;
            
        }
        .thumbnailFestas span{
            font-size: 10px;
            color: white;
            
        }
        .thumbnailFestas .captionFestas .btn{
            
            position:relative;
            top:0px;
            left:0px;
            
        }
        

        #editorNovot{
            position: relative;
            width: 430px;
            top: 10px;
            left: 50%;
            margin-left: -349px;
            background-color: #FFF;
    

    
}


#editorNovot textarea{
    
    border-radius: 5px;    
    
/*    display:none;*/
}
.nicEdit-main {
background-color: #FFF;
}

#buttonNovoPhoto {
    position: absolute;
    top: 160px;
    right: 40px;
    float: right;
    display: block;
}
#buttonNovo {
position: relative;
bottom: 5px;
right: 10px;
float: right;
}
#buttonNovoCancel {
position: absolute;
top: 5px;
right: 100px;
float: right;
}
.containerTipoTitulo {
    position: relative;
    left: 10px;
    text-align: left;
    width: 430px;
    height: 80px;
    top: 10px;
}

.containerAjax{
    position:relative;
    top:20px;
    left:0px;
    height: 75px;
    width: 430px;
/*    background-color: red;*/
    
    
}
.containerAlert{
position: absolute;
top: 230px;
left: 450px;
width: 220px;
height: 100px;
    
    
    
}
.alertF4 .close{
    position:relative;
    margin-right: 10px;
    margin-top: 7px;
    
}
.alertF4{
    padding: 20px;
        -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}

.containerComplemento{
    position: relative;
    top: 0px;
    left: 5px;
    width: 530px;
    height: auto;
}

.containerComplemento .input-append input{
    
    width: 350px;
    
}
.containerComplemento .input-append span{
    
    width: 130px;
    
}



.containerComplemento2{
    position: relative;
    top: 0px;
    left: 500px;
    width: 430px;
    height: auto;
}

    


#containerBackground{
	position:absolute;
	top:78px;
	width:100%;
/*	background-image: url(../../img/index/tile.jpg) top center repeat;*/
/*        background-position: top center;*/
/*        background-image: url(../../img/index/tile.jpg);*/
/*        background-color: rgb(224, 223, 223);*/
/*	height:1800px;*/
/*        background-image: url(../../img/bg.png);
background-repeat: repeat;*/
	padding-bottom: 0px;
	
	height: auto;
        min-height: 100%;
	}
        
       #containerForm{
/*    background: none repeat scroll 0 0 rgba(147, 160, 255, 0.71);*/
/*    background: url(../../img/bc6.jpg);
    background-repeat: repeat;*/
background-color: white;
    clear: none;
    float: right;
    height: 600px;
    left: 0px;
    position: absolute;
    top: 5px;
    width: 905px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px; 
/*    border:1px solid #5E78FF;*/
/*border:18px solid rgba(7, 154, 236, 1.0);*/
    padding-top: 20px;

            
        }
        
                #containerFoto{
            position:absolute;
            top:15px;
            left:15px;
            -moz-border-radius:10px;
            -webkit-border-radius:10px;
            border-radius:10px;
            
        }
        
                #containerButtons{
            position:absolute;
            top:410px;
            left:500px;
            width: 400px;
            height: 40px;
            
            
        }
        
                .tituloReportagem{
            position: relative;
            top:10px;
            
            
        }
                #PhotoPrevs{
                position: relative;
                top: 50px;
                left: 20px;
                width: 450px;
                height: 330px;
                background-color: #ccc;
            
            
        }
        
        .autorMural{
            position: absolute;
            top: 130px;
            color: whitesmoke;

        }
        .pull-left input{
            
            width: 320px;
        }
        .dropdown-menu{
			text-align: center;
		}
                
                .mensagemInicial{
                    border-width: 1px;
                    border-style: solid;
                    padding: 0 0.6em;
                    margin: 15px 0 15px;
                    border-radius: 3px;
                    background-color: #ffffe0;
                    border-color: #e6db55;
                    color: #000;
                    clear: both;
                    width: 670px;
                }
                
                .mensagemInicial p{
                    margin: 0.5em 0 6px 0 !important;
                    padding: 2px;
                    font-size: 12px;
                    line-height: 140%;
                }
                .tituloTopico{
                    margin: 0;
                    display: inline-block;
                    
                    
                }
                #inputTitulo{
                    border: 1px solid #ccc;
                    outline-color: rgb(131,189,102);
                    width: 500px;
                }
                .tituloGeral{
                    line-height: 1px;
                }
                
                .checkbox{
                    position: relative;
                    top: 20px;
                    left: 10px;
                    width: 100%;
                    
                    
                }
                
                #mural-input2{
                    position: relative;
                    top: 0px;
                    left: 0px;
                    width: 680px;
                    
                    
                }
                

#containerBackground .breadcrumb{
		position: relative;
		top: 5px;
		padding: 3px 5px;
		margin: 0 0 0px;
		list-style: none;
		background-color: whitesmoke;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		border: 0px solid #CCCCCC;
		text-align: left;
		width: 340px;
		left: 50%;
		margin-left: -465px;
		border-bottom: 1px solid #ddd;
                
                height: 28px;
}
#containerBackground ul li a{
	color: #444;
}

.tableEventos{
		position: absolute;
		top:100px;	
	
	
	
}
.containerTitulo{
    position: relative;
    top: 20px;
    left: 50%;
/*    border: 1px solid #ccc;*/
    margin-left: -350px;
    width: 700px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    color:#555;
    line-height: 120%;
    text-align: center;
    
    height: 70px;
    
}
.containerSubTitulo{
        position: relative;
    top: 40px;
    left: 50%;
/*    border: 1px solid #ccc;*/
    margin-left: -350px;
    width: 700px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color:#555;
    line-height: 120%;
    text-align: center;
    height: 20px;
}
.containerFotoEvento{
    position:relative;
    top:60px;
    width: 601px;
    height: 400px;
    left: 50%;
    background-color: #2f96b4;
    margin-left: -300px;
    clear: both;
    float: left;
    
}
.containerBorda{
    position: absolute;
    top: 200px;
    left: 50%;
    border: 1px solid #ccc;
    margin-left: -350px;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}
.containerTexto{
     position: relative;
    top: 100px;
    left: 50%;
/*    border: 1px solid #ccc;*/
/*    height: auto;*/
    width: 700px;
    margin-left: -350px;
    clear: both;
    
    		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
              
    
}
.containerDate{
        position: relative;
    top: 10px;
    left: 150px;
/*    border: 1px solid #ccc;*/

    width: 700px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color:#555;
    line-height: 120%;
    
    clear:none;
    float:left;

}
.containerAutor{
        position: relative;
    top: 10px;
    
/*    border: 1px solid #ccc;*/

/*    width: 700px;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color:#555;
    line-height: 120%;
    right: 160px;
    
    clear:none;
    float:right;

}





/*-------local reservado para o item de visualizacao-------*/







.containerLancamento{
    position: relative;
    top:120px;
    width:100%;
    height: 500px;
    background-color: #5eb95e;
    padding-top: 10px;
    
}



.containerMancheteGrandissimo {
position: relative;
height: 120px;
width: 410px;
/*clear: none;*/
/*float: left;*/
-moz-border-radius: 1px;
-webkit-border-radius: 1px;
border-radius: 1px;
text-align: left;
padding: 10px;
margin: 7px;
box-shadow: 0px 0px 1px grey;
background-color: white;

border: 2px solid #555;
}


.containerMancheteGrande {
position: relative;
min-height: 150px;
width: 120px;
/*clear: none;*/
/*float: left;*/
-moz-border-radius: 1px;
-webkit-border-radius: 1px;
border-radius: 1px;
text-align: left;
padding: 10px;
box-shadow: 0px 0px 1px grey;
background-color: white;
padding-left: 9px;
padding-right: 9px;
margin-left: 8px;
border: 2px solid #555;
}


.containerMancheteMedio {
position: relative;
width: 417px;
/*clear: none;*/
/*float: left;*/
-moz-border-radius: 1px;
-webkit-border-radius: 1px;
border-radius: 1px;
text-align: left;
padding: 9px;
margin: 5px;
box-shadow: 0px 0px 1px grey;
background-color: white;
font-size: 13px;
margin-left: 5px;
margin-top: 6px;
margin-bottom: 1px;
border: 2px solid #555;
}

.containerManchetePequena {
position: relative;
min-height: 47px;
width: 190px;
/*clear: none;*/
/*float: left;*/
-moz-border-radius: 1px;
-webkit-border-radius: 1px;
border-radius: 1px;
text-align: left;
padding: 9px;
margin: 6px;
box-shadow: 0px 0px 1px grey;
background-color: white;
border: 2px solid #555;
}




.containerManchetePequena span {
font-size: 12px;
font-weight: bold;
line-height: 0.8;
}

.pull-left {
margin-right: 15px;
}
.abaixo {
clear: none;
float: left;
font-size: 12px;
line-height: 1.1;
}
.negrito {
font-weight: bold;
}
.containerLancamento a {
text-decoration: none;
color: #47423A;
}

.containerInput{
    position: absolute;
    top: 0px;
    left: 500px;
    width: 80px;
    height: 500px;
/*    background-color: #e6db55;*/
/*    border: 1px solid #ccc;*/
}
.buttonA{
    position: absolute;
    top: 10px;
    left: 20px;
    margin-top: 50px;
   
    
}
.buttonB{
        position: absolute;
        top:170px;
    left: 20px;    
    margin-top: 50px;
}

.buttonC{
        position: absolute;
        top:320px;
        left: 20px;
    margin-top: 50px;
    
}
.buttonD{
        position: absolute;
        top:410px;
        left: 20px;
    margin-top: 50px;
    
}
.buttonConfA{
    position: absolute;
    top:120px;
    left: 0px;
    margin-top: 50px;
    width: 100%;
}
.buttonConfB{
    position: absolute;
    top:180px;
    left: 0px;
    margin-top: 50px;
    width: 100%;
}
.buttonConfC{
    position: absolute;
    top:240px;
    left: 0px;
    margin-top: 50px;
    width: 100%;
}
.containerInput2{
    position: absolute;
    top: 0px;
    left: 600px;
    width: 80px;
    height: 500px;
/*    background-color: tomato;*/

/*    border: 1px solid grey;*/
    
}
.containerA{
    position:absolute;
    top:20px;
    height: 140px;
    width: 100%;
/*    background-color: #B91D47;*/

    border: 1px solid grey;
}
.containerB{
    position:absolute;
    top:338px;
    height: 90px;
    width: 100%;
/*    background-color: #B91D47;*/
    border: 1px solid grey;
}

.btn-titulo, .btn-texto{
    margin: 20px;
    margin-top: 30px;
}
.btn-titulo2, .btn-texto2{
    margin: 10px;
    margin-top: 15px;
    margin-left: 20px;
}
.containerInput3{
    position: absolute;
    top: 0px;
    left: 700px;
    width: 80px;
    height: 500px;
    background-color: #ccc;
    
    
}
.containerLevel{
    position: absolute;
    top: 0px;
    left: 850px;
    width: 80px;
    height: 500px;
    background-color:#ccc;
    
}
.btn-levelA, .btn-levelB{
/*    margin: 10px;*/
    margin-top: 15px;
    margin-left: 0px;
    width: 100%;
    
}
.btn-levelA{
    position: absolute;
    top:200px;
    
}
.btn-levelB{
    position: absolute;
    top:240px;
}

.btn-ativar-publicacao{
    position: absolute;
    bottom:20px;
    right:100px;
    
}

.idNoticia{
    display:none;
    
}