.atualizacoes a{color:#e8914c; text-decoration:none; }
.atualizacoes a:hover{color:#eab209;}
#vertical-ticker{
	overflow:hidden;
	margin:0; padding:0;

}
#vertical-ticker li{
height: 100px;
display: block;
/*background: #456788;*/
color: #FFF;
border-bottom: 1px solid #999;
/*border-top: 1px solid #6A72A1;*/
}
#vertical-ticker li:first-child{
border-top: 0px solid rgb(171, 188, 255);

	}

.atualizacoes{
	width: 20%;
height: 100%;
/*background: #f66;*/
/*background: #456788;*/
min-height: 100%;
position: fixed;
margin-top: 32px;	
border-right: 1px solid #999;

}
.atualizacoesItem{
width: 100%;
height: auto;
position: relative;
clear: none;
float: left;
}
.informativoFoto{
position: relative;
 width: 20%; 
margin-top: 0px;
left: 0px;
height: auto;
min-height: 100%;
cursor: pointer;
text-align: left;
clear: none;
float: left;
}
.informativoFoto a img{
	max-height: 50px;
	padding: 20px;
}
.informativoTexto{
color: #000;
font-weight: normal;
width: 70%;
clear: none;
float: right;
padding: 10px;
margin-top:10px;
text-align: left;
}
.informativoTitulo{
font-size: 11px;
clear: none;
float: left;
line-height: 15px;
letter-spacing: 1px;
}	
