/*
------------------------------
	layout
------------------------------
*/
body,img,p,h1,h2,fieldset,form,pre,code{ margin:0; padding:0; border:0; }
body {
/* 	font: 12px/16px Arial, Helvetica, sans-serif;
	border-top: solid 5px #A04334;
	background-color: #FAF9F4;
	text-align: center; */
}
/* noscript{ color: #ff0000; font-weight: bold; } */
h1{ font-family: Times, serif; color: #555; margin: 0 0 10px 0; letter-spacing: 2px; }
/* p{ line-height: 18px; margin: 10px 0; } */
 #wrapper{ text-align: left; margin: 0px auto; /* background-color: #ffffff; width: 500px; min-height: 200px; padding: 25px;*/ } 
/*#PhotoPrevs{ margin: 0px 0; }
#PhotoPrevs img{ margin: 0px 0px; clear: none;float: left;}*/

#containerPhoto2{ margin: 0px 0; }
#containerPhoto2 img{ margin: 0px 0px; clear: none;float: left;}


/*
------------------------------
	Impromptu
------------------------------
*/
.jqifade{ position: absolute; background-color: #aaaaaa; }
div.jqi{ width: 400px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; position: absolute; background-color:rgba(255, 255, 255, 0.5); font-size: 11px; text-align: left;/* border: solid 1px #eeeeee;*/ -moz-border-radius: 3px; -webkit-border-radius: 3px; padding: 7px; }
div.jqi .jqicontainer{ font-weight: bold; }
div.jqi .jqiclose{ position: absolute; top: 9px; right: 5px; width: 18px; cursor: default; color: #000; font-weight: bold; }
div.jqi .jqimessage{ padding: 10px; line-height: 20px; color: #444444; }
div.jqi .jqibuttons{ text-align: right; /*padding: 5px 0 5px 0; border: solid 1px #eeeeee; background-color: #f4f4f4; */ float:right;right:10px; position:absolute;bottom:17px;}
div.jqi button{ padding: 3px 10px; margin: 0 0px; background-color: #707070; border: solid 1px #727272; color: #ffffff; font-weight: bold; font-size: 12px; }
div.jqi button:hover{ background-color: #5B7492; }
div.jqi button.jqidefaultbutton{ background-color: #707070; width:60px; text-shadow:0px 0px 0px white; }
div.jqi button.jqidefaultbutton:hover{ background-color: #9C9C9C;color: #000;}
.jqiwarning .jqi .jqibuttons{ background-color: #BF5E26; }

.jqi_state_state0 .jqibuttons .jqi_state0_buttonOk{height:100px;}

